@import "less/lib/bootstrap/bootstrap";
@import "less/lib/font-awesome/font-awesome";

/*
* Basic layout
*/

body {
	padding-top: 70px + @line-height-computed;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	z-index: 100;
	padding: @grid-gutter-width / 2;
	background: #333;

	h1 {
		margin: 0;
		color: #999;
		font-size: @font-size-base * 2;
	}
}

.container-fluid {
	padding: 0 @grid-gutter-width;
}

.out {
	.make-md-column(3);
}

.timeline {
	.make-md-column(6);
}

.save-btn {
	.make-md-column(12);
}


/*
* Dragging stuff
*/
body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.sortable li:after {
	position: relative;
	content: ' ';
	display: block;
}

.sortable li.placeholder {
  position: relative;
}

.sortable li.placeholder:before {
  position: absolute;
}

.sortable li.placeholder:after {
	border: 2px dashed gray;
	padding: 19px;
	background: #fff;
}

/*
* lists
*/

.item {
	position: relative;
	background-color: #eee;
	border-bottom: 2px solid #999;
	padding: 10px;

	.controls {
		display: none;
		position: absolute;
		right: 10px;
		top: 10px;
		a {
			color: black;
		}
		span {
			padding: 0 5px;
		}
		font-size: 20px;
	}
}

/*
* Tumblr posts
*/

.post-footer, .date {
	display: none;
}

.tumblr-image-post {
	.image img {
		width: 100%;
	}
}

/*
* Stack timeline
*/

.timeline {
	.item {
		.controls {
			display: block;
			right: 10px;
			top: 7px;
			background-color: red;
			a {
				color: white;
			}
		}
	}
}