@import "less/lib/ionicons/ionicons";
@import "less/lib/prefixer";
@import "less/stateface.less";
@import "less/variables.less";
@import "less/results.less";
@import "less/slides.less";

//set up base font size, so we can shrink it when the aspect radio exceeds 16x9
html { font-size: 1vw; }
body { font-size: 1rem; }

body, #stack {
    background-color: black;
    color: @musicLight;
    z-index: 0;
}

h1,h2,h3,h4,h5,h6, p, form, label, button {
    font-family: "Gotham SSm", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a, a:link, a:visited { text-decoration: none; }

svg {
    max-height: 100%; // Fix webkit svg height bug http://stackoverflow.com/questions/7570917/svg-height-incorrectly-calculated-in-webkit-browsers
}

.btn-lg {
    font-size: 20px;
    letter-spacing: .03rem;
    border-radius: 5px;
    text-transform: uppercase;

    @media screen and (max-width: @screen-xs-max){
        font-size: 16px;
    }
}

#stack {

    display: none;
    margin: 0 auto;

    width: 100rem;
    height: 56.25rem;
    padding: @stack_padding;

    position: relative;

}

.slide {
    display: none;
    width: 100%;
    height: 100%;
}

.slide-inner {
    // This gets resized in JS
}

.slide-content {
    height: 100%;
}

.centered {
    .vertical-center;
}

.cast-start { display: none; }
.cast-stop { display: none; }


/*
** WELCOME SLIDES
*/

.welcome {
    display: block;
    opacity: 0;
    .transition(opacity 3s ease);
    text-align: center;
    padding:10px;

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../assets/promo/background.jpg');
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        opacity : 0.6;
        z-index: -1;
    }

    .logo-wrapper {
        width: 100%;
        margin: 100px auto 30px;
        fill: #DBE0E6;
        @media screen and (max-width: @screen-xs-max){
            margin-top:30px;
            height:20px;
        }
    }

    h1 {
        text-transform: uppercase;
        font-size:70px;
        font-weight: bold;
        @media screen and (max-width: @screen-xs-max){
            font-size:40px;
        }
    }

    h2 {
        line-height: 1.4;
        font-size: 22px;
        width: 80%;
        margin: 22px auto 11px auto;
        @media screen and (max-width: @screen-xs-max){
            font-size:14px;
        }
    }

    .cast-header {
        margin: 33px 0;
//		font-size: 1.75rem;

    	.cast-enabled,
    	.cast-disabled {
			img {
				width: auto;
				height: 40px;
			}
    	}

        .cast-get-extension,
    	.cast-enabled { display: none; }

        .cast-disabled p {
            margin-top: 33px;
			a {
                color: @red;
                font-weight: bold;
            }
        }

        .cast-enabled-but-whatev {
            margin-top: 33px;
            a {
                color: white;
                font-weight: bold;
                &:hover {
                    color:@red;
                    text-decoration: none;
                }
            }
        }

        @media screen and (max-width: @screen-xs-max){
            margin: 0;
        }
    }

    .welcome-button {

        background-color: white;
        color: black;
        fill: black;

        width: 390px;
        height: 50px;

        span { display:none; }

        svg {
            height: 30px;
            vertical-align: middle;
        }

        &:hover {
            background-color: @red;
            color: white;
            fill: white;
        }

        font-weight: bold;

        margin-top: 30px;

        @media screen and (max-width: @screen-xs-max){
            margin-top: 15px;
            width: 260px;
            height: 50px;
            font-size: 13px;
        }
    }

    .byline {
        font-size:11px;
        color: @grayMedium;
        width: 80%;
        margin: 0 auto;
        @media screen and (max-width: @screen-xs-max){
            font-size:8px;
        }
    }
}

.countdown {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    text-align: center;
    z-index: 1000;

    &:after {
        content : "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #000;
        width: 100%;
        height: 100%;
        opacity : 0.3;
        z-index: -1;
    }

    h2,
    h3 {
    	font-size: 22px;
    	margin: 0 22px;
    	color: white;
    }

    .wrapper {
        .vertical-center;
        width: 100%;
        position: absolute;
    }

    .countdown-arc-wrapper {
    	width: 150px;
    	height: 150px;
    	margin: 33px auto;
    	position: relative;

    	.countdown-arc,
    	.counter {
    		width: 100%;
    		position: absolute;
    		top: 0;
    		left: 0;
    	}

		.counter {
			font-size: 40px;
			font-weight: bold;
			text-transform: uppercase;
			line-height: 150px;
		}
    }

	.countdown-background { fill: @musicDark; }
	.countdown-active { fill: @grayMedium; }
}

/*
 * CONTROLS AND FEEDBACK
 */

 .controls ul li,
 .feedback ul li {
	background: fadeout(@grayMedium,60%);
	line-height: 3.5rem;
	margin-bottom: 1px;
	border-radius: 0.5rem;
	font-size: 1.2rem;
	text-transform: uppercase;

	i {
		display: inline-block;
		width: 3rem;
		border-radius: 0.5rem 0 0 0.5rem;
		text-align: center;
		font-style: normal;
		color: @white;

		.stateface:before {
            margin-right: 0;
            text-transform: none;
        }
	}

	a {
		.unselectable;
	}
 }

.controls {
	.play { display: none; }
	.state-picker { margin: 0; }
}

.feedback {
	ul {
		a { display: block; }
	}
}


/*
 * LEGEND
 */

.legend {
    font-weight: 300;
	.clearfix;

    ul {
        .clearfix();
        margin-bottom: 0;
        min-height: 1px;
        box-sizing: border-box;
        line-height: 1.1;
    }

    li {
        position: relative;
        padding-left: 3.5rem;
        padding-right: 1rem;
        margin-bottom: .6rem;
        font-size: 1.1rem;

        sup { top: -0.3rem; }
    }

    .incumbent,
    .reporting,
    .seat-held,
    .pickup,
    .polls,
    .key-color {
        width: 2.5rem;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        text-align: right;
		font-family: 'Cooper Hewitt';
		text-align: right;
    }

    .key-color {
        .square(1rem);
        display: inline-block;
        border-radius: 1rem;
        margin-right: .5rem;
        left: 1.5rem;
		font-family: 'Cooper Hewitt';

        &.dem   { background: @blue; }
        &.gop   { background: @red; }
        &.other { background: @green; }
    }

    .winner {
        display: inline-block;
        border-radius: 0.5rem;
        padding: 0 0.5rem;
        color: #fff;
        opacity: .8;
		font-family: 'Cooper Hewitt';

        &.dem   { background: @blue; }
        &.gop   { background: @red; }
        &.other { background: @green; }
    }

    .incumbent {
        img {
            width: 0.6rem;
            display: inline-block;
        }
    }

    .polls {
        font-weight: 700;
        letter-spacing: 0.05rem;
        font-size: 1rem;
        color: @gray-light;
        white-space: nowrap;
    }

    .reporting {
        color: @yellow;
        font-weight: 500;
        font-size: 1.1rem;
    }

    .seat-held {
        color: @red;
        font-weight: 500;
    }

    .pickup {
        font-weight: 500;
        font-style: italic;
        font-size: 1.1rem;
        color: @blue;
    }
}


/*
 * CHROMECAST AND MOBILE MENU
 * (responsive, so all values in px rather than rem)
 */

.cast-controls {
    display: none;
	color: @grayMedium;
    padding: 22px 11px;

	@media screen and (min-width: @screen-sm){
		padding: 22px 33px;
	}

    &:after {
        content : "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../assets/elections-background-1.jpg');
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity : 0.5;
        z-index: -1;
    }

    h3 {
		font-size: 12px;
        margin: 0 0 11px 0;
        padding: 0;
        color: @white;
        font-weight: 700;
        text-transform: uppercase;

		@media screen and (min-width: @screen-sm){
			font-size: 16px;
		}
    }

    .close-link {
        display: none;
		margin: 0 0 33px 0;

    	a {
			padding: 0 11px;
			line-height: 44px;
			font-size: 12px;
			text-transform: uppercase;
			background: fadeout(@grayMedium,60%);
			display: inline-block;
			border-radius: 0.5em;
		}

		i { margin-left: 0.5em; }
    }

	.controls-feedback-wrapper {
		@media screen and (min-width: @screen-sm){
			width: 50%;
			float: left;
		}
	}

	.wrapper {
		.clearfix;
	}

	.controls .slide-nav a,
	.controls ul li,
	.feedback p,
	.feedback ul.social li {
		font-size: 11px;
		.unselectable;

		@media screen and (min-width: @screen-sm){
			font-size: 14px;
		}
	}

	.controls ul,
	.feedback ul {
		margin: 0;

		li {
			line-height: 44px;
			margin-bottom: 1px;
		}

		i { width: 33px; }

		img {
			height: 18px;
			width: auto;
			vertical-align: middle;
		}
	}

	.feedback {
		margin-bottom: 33px;

		h3 { padding-top: 22px; }
	}

	.legend {
		margin: 0 0 22px 0;

		@media screen and (min-width: @screen-sm){
			width: 45%;
			float: right;
			margin-bottom: 0;
		}

		ul {
			width: 50%;
			float: left;

			@media screen and (min-width: @screen-sm){
				width: auto;
				float: none;
			}
		}

		li {
			margin-bottom: 6px;
			padding-left: 40px;
			padding-right: 0;
			line-height: 14px;
			font-size: 11px;

			@media screen and (min-width: @screen-sm){
				margin-bottom: 11px;
				line-height: 16px;
				font-size: 14px;
			}
		}

		.incumbent,
		.reporting,
		.seat-held,
		.pickup,
		.polls,
		.key-color {
			width: 30px;
		}

		.incumbent img { width: 6px; }

		.key-color {
			.square(14px);
			border-radius: 14px;
			left: 16px;
		}

		.pickup,
		.polls,
		.reporting,
		.seat-held {
			font-size: 10px;

			@media screen and (min-width: @screen-sm){
				font-size: 12px;
			}
		}

		.winner {
			border-radius: 6px;
			padding: 0 6px;
		}
	}

	.slide-nav {
		display: table;
		width: 100%;

		a {
			display: table-cell;
			width: 50%;

			&.nav-btn-right {
				text-align: right;
				border-left: 1px solid #000;
			}

			&.in-transition {
				background-color: #444;
				cursor: default;
				color: #787878;
			}
		}
	}
}

#us {
    font-family: "StateFaceRegular";
    font-size: 15rem;
}


/*
** HEADER
*/

.mobile-controls {
	display: none;

	.nav-btn {
		.unselectable;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 6rem;
		font-size: 3rem;
		background: transparent;
		border: none;

		i { color: @grayMedium; }
	}
	.nav-btn-left {
		left: 0;
		text-align: left;
	}
	.nav-btn-right {
		right: 0;
		text-align: right;
	}

	.touch & { display: block; }
}

.fullscreen .stop {
    display: none;
}

.controls-wrapper {
    position: absolute;
    left: 0;
    bottom: 5rem;
    width: 98%;
    z-index: 100;
    background: fadeout(@blueDarker,2%);
    font-size: 1.75rem;
    border-radius: 1rem;
    padding: 2rem 0.5rem 1rem .5rem;
    margin: 0 1rem;
    overflow: hidden;
    color: @grayMedium;
    display: none;

    a {
        &:hover {
            text-decoration: none;
        }
    }

    h3 {
    	margin: 0 0 1rem 0;
    	font-size: 1.2rem;
    	text-transform: uppercase;
    	color: @white;
    	font-weight: 700;
    }

    .legend,
    .controls,
    .feedback {
        float: left;
        width: 33%;
        padding: 0 1%;
        box-sizing: border-box;
    }

    .controls {
        li {
			img { height: 2rem; }
        }

        nav { display: none; }
    }

    .feedback {
    	.social { margin-bottom: 2rem; }

        p {
            font-size: 1.1rem;
            line-height: 1.4;
        }
    }
}

.footer-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: @footer_padding;

    a {
        color: @grayMedium;

        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }

    .leaderboard {
    	float: left;
    	width: 40%;
    	white-space: nowrap;
    	.clearfix;

		.senate-header {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1.7rem;
			line-height: 3rem;
			vertical-align: middle;
			font-family: "Gotham SSm", "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
    }

    .control-toggle {
    	float: left;

        a {
        	display: inline-block;
            text-decoration: none;
			padding: 0 1.5rem 0 1.5rem;
			text-align: center;
			text-transform: uppercase;
			font-size: 1.5rem;
			line-height: 3rem;
			border-radius: 0.5rem;
			background: fadeout(@grayMedium,75%);
			.unselectable;

            &:hover svg { fill: #fff; }
        }

        &.active {
		    a {
		    	color: #fff;
		    	background: fadeout(@blueDarker,2%);
		    }
        }

        svg {
            fill: @grayMedium;
            height: 3rem;
            vertical-align: middle;
            display: inline-block;
            max-width: 100%; // Fixes safari width bug
        }

        .touch-message { display: none; }
        .touch & {
            background: none;
            .touch-message { display: inline; }
            .desktop-message { display: none; }
        }
    }

    .nav {
    	float: right;
        text-align: right;
        white-space: nowrap; // Fixes safari wrapping

        .slide-nav,
        .slide-countdown,
        .logo {
            display: inline-block;
        }

        .slide-nav {
            margin-left: 1rem;

            p {
                vertical-align: middle;
                padding: 0 1rem;
            }

            p,
            .nav-btn {
                display: inline-block;
            }

            .nav-btn {
                font-size: 2rem;

                + .nav-btn {
                    padding-left: 0.5rem;
                }
            }
        }

        .slide-countdown {
            position: relative;
            bottom: -0.2rem;
            padding: 0 0 0 .5rem;
            width: 2.75rem;

            .countdown-background { fill: @musicDark; }
            .countdown-active { fill: @grayMedium; }
        }

        .logo {
            margin-left: 1rem;
            width: 8rem;
            fill: @grayMedium;
            position: relative;
            bottom: -0.35rem;
        }
    }
}

.share-footer { display: none; }

.next-btn {
    position: absolute;
    bottom: 50px;
    right: 10px;
}

/*
 * ROTATE YOUR PHONE PROMPT
 * Including a little trick to turn it off on some screens. Add disable-rotate-phone-prompt to the body.
 */

 .rotate-phone-wrapper,
html.touch-portrait.disable-rotate-prompt .rotate-phone-wrapper {
    display: none;
}

html.touch-portrait {

    .rotate-phone-wrapper {
        display: block;
        color: #fff;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-bottom: 3rem;
        font-size: 4rem;
        line-height: 1.3;
        font-weight: 700;

        .rotate { text-align: center; }

        img {
        	display: block;
        	margin: 0 auto 1.5rem auto;
        	height: 10rem;
        	width: auto;
        }

        z-index: 2112;
    }

    .countdown .wrapper {
        top:33px;
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}
