@import "less/lib/bootstrap/bootstrap";
@import "less/lib/font-awesome/font-awesome";
@import "less/lib/prefixer";
@import "less/share-modal.less";
@import "less/stateface.less";
@import "less/variables.less";
@import "less/results.less";
@import "less/slides.less";

body, #stack {
    background-color: black;
}

h1,h2,h3,h4,h5,h6, p, form, label, button {
    font-family: "Gotham SSm", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

svg {
    max-height: 100%; // Fix webkit svg height bug http://stackoverflow.com/questions/7570917/svg-height-incorrectly-calculated-in-webkit-browsers
}

.btn-lg{
    padding: 1.5vw 1.5vw;
    font-size: 2vw;
    letter-spacing: .03em;
    border-radius: 0.5vw;
    text-transform: uppercase;

    &:hover {
        background-color: darken(@red, 20%);
    }
}

#landscape-wrapper {
    width: 100%;
}

#stack {
    width: 100%;
    position: absolute;
    top: 0;
    display: none;
}

.slide {
    display: none;
    color: @musicLight;
    width: 100%;
    height: 100%;
}

.slide-inner {
    // This gets resized in JS
}

.slide-content {
    height: 100%;
}

.centered {
    .vertical-center;
}

/*
** WELCOME SLIDES
*/

.welcome.slide {
    display: block;
    opacity: 0;
    .transition(opacity 3s ease);

    &:after {
        content : "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../assets/elections-background-1.jpg');
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity : 0.5;
        z-index: -1;
    }

    .logo-wrapper {
        width: 10%;
        margin: 0 auto 2%;
        fill: @grayMedium;
    }

    .election-logo-wrapper {
        width: 60%;
        margin: 0 auto 3%;
    }

    .cast-header {
    	position: absolute;
    	top: 1vw;
    	right: 1vw;
    	text-align: right;

    	.cast-enabled,
    	.cast-disabled {
			img {
				width: auto;
				height: 3vw;
				min-height: 25px;
			}
    	}

    	.cast-enabled { display: none; }
    }

    .intro-text {
        text-align: center;

        p {
            font-size:  2.5vw;
            line-height: 2.5vw;
            margin-bottom: 5%;
        }
    }

    .call-to-action {
        .welcome-button {
            background-color: @red;
            border: @red;
            color: @musicLight;
        }
    }

    .tv-prompt {
        margin: 2% auto 0 auto;
        max-width: 35%;

        .icon {
            width: 6vw;
            height: auto;
            float: left;
            margin-top: 2vw;
            margin-right: 2vw;
            opacity: 0.25;
        }

        p {
            padding-top: 3vw;
            font-size: 1.5vw;
        }

    }
}

.cast-controls {
    text-align: center;

    &:after {
        content : "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../assets/elections-background-1.jpg');
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity : 0.5;
        z-index: -1;
    }

    .centered {
        .vertical-center;
        padding-bottom: 12vw;
    }

    .header-container .results-header span { float: left; }

    h2 {
        font-size: 3vw;
        font-weight: bold;
        padding-bottom: 2vw;
        margin: 0;
    }

    ul.menu {
        list-style-type: none;
        text-align: left;
		width: 45vw;
		padding: 0 .75vw;
		margin: 0 auto;
		border: 1px solid @grayMedium;

        li {
            padding: 1.5vw .75vw;
            font-size: 1.5vw;
            font-weight: bold;
            border-top: 2px solid @grayMedium;

            &:first-child { border-top: none; }

            a { display: block; }
        }
    }

    .legend {
    	position: absolute;
    	bottom: 0;
    	left: 0;
    	width: 100%;
    	text-align: left;
    }
}

.state-picker {
    text-align: center;

    &:after {
        content : "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../assets/elections-background-1.jpg');
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity : 0.5;
        z-index: -1;
    }

    .slide-inner {
        max-height: 100% !important
    }

    h2 {
        font-size: 2vw;
        margin-top: 0;
    }

    .form-group {
        margin: 0;
    }

    .state {
        width: 100%;
        min-height: 20vw;

        .stateface {
            font-size: 10vw;
        }

        .stateface, .state-name {
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
        }

        .state-name {
            font-size: 4vw;
            position: relative;
            top: -3vmin;
        }
    }

    .twitter-typeahead {
        position: relative;
        width: 50vw; //fixes safari alignment
        top: 0;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

    .typeahead,
    .tt-query,
    .tt-hint {
        color: @musicLight;
        font-family: FontAwesome, 'Gotham Ssm';
        width: 50vw;
        height: 100%;
        padding: 2vw 1vw;
        font-size: 2vw;
        line-height: 2vw;
        border: 2px solid #bbb;
        border-radius: 4px;
        outline: none;
    }

    .tt-dropdown-menu {
        text-align: left;
        max-height: 18vw;
        overflow-y: auto;
    }

    .typeahead {
        background-color: rgba(0,0,0,0);
    }

    .typeahead:focus {
        border: 2px solid @blue;
    }

    .tt-query {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .tt-hint {
        color: #999
    }

    .tt-dropdown-menu {
        background-color: rgba(0,0,0,0);
        color: @blue;
        width: 50vw;
        margin-top: 1vw;
        border: 1px solid #999;
        border-radius: 2px;
    }

    .tt-suggestion {
        padding: 3% 1%;
        font-size: 2vw;
        line-height: 2vw;
        border-bottom: 1px solid #999;

        &:last-child {
            border: none;
        }
    }

    .tt-suggestion.tt-cursor {
        color: #fff;
        background-color: @blue;
    }

    .tt-suggestion p {
        margin: 0;
    }

    .state-picker-submit {
        margin-top: 2vw;
        background-color: @red;
        border: @red;
        color: @musicLight;
    }

}


/*
** HEADER
*/

.header-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;

    box-shadow: inset 0 5vw 5vw -5vw black;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));

    .results-header {
        color: @grayMedium;
        height: 4vw;
        display: block;
        overflow: hidden;
        line-height: 3.5vw;
        padding: .2vw 3vw;

        .logo {
            height:100%;
            width:7vw;
            margin: 0 .5% 0 0;
            float:left;
            fill: @grayMedium;
        }

        .leaderboard {
            float: right;
            display: table;
        }

        h2, p, a, span {
            font-size: 1.5vw;
            line-height: 3.5vw;
        }

        span{
            text-align: center;
        }

        .results-header-group {
            white-space: nowrap;
            padding: 0 1vw;
            display: table-cell;
            overflow: hidden;

            &:last-child{
                margin-right: 0;
                padding-right: 0;
            }

            .party,
            .total,
            .seats-needed {
                display: inline;
                font-family: 'Cooper Hewitt';
                text-transform: uppercase;
            }

            h2, p {
                margin: 0;
            }

            .senate-header {
                text-transform: uppercase;
                font-weight: bold;
                line-height: 1;
                font-size: 1.7vw;
            }

            .total {
                white-space: nowrap;
                display: inline-block;
            }

            &.not-called {
                h2 {
                    display: inline;
                }

                white-space: nowrap;
            }
        }

        .dem { color: fadeout(@blue, 25%); }
        .gop { color: fadeout(@red, 25%); }
        .not-called { color: fadeout(#666, 25%); }

        .dem .percentage   {  background: fadeout(@blue, 25%); }
        .gop .percentage   {  background: fadeout(@red, 25%); }
        .not-called .count {  background: fadeout(@gray, 25%); }

        .percentage,
        .count {
            margin-top: 0;
            color: #fff;
            font-family: 'Cooper Hewitt';
            display: inline-block;
            text-align: center;
            box-sizing:border-box;
            min-width:3vw;
            height:3vw;
            line-height: 3vw;
            border-radius: 2vw;
            padding: 0 1vw;
        }
    }

    .results-header.header-controls {
        display: none;

        a {
            color: @grayMedium;
        }
        a:hover{
            color: darken(@grayMedium, 20%);
        }
        .right-controls {
            float: right;

            div {
                white-space: nowrap;
                float: left;
            }

            .chromecast {
                display: none;

                img {
                    width: 20px;
                    height: 20px;
                }
            }

            .volume-icon{
                width: 2vw;
                height: 2vw;
            }

            .expand {
                width: 1.5vw;
                height: 1.5vw;
            }

            .volume-icon,
            .expand {
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}

.share-footer { display: none; }


/*
 * ROTATE YOUR PHONE PROMPT
 */

.rotate-phone-wrapper {
    display: none;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 3vw;
    font-size: 4vw;
    line-height: 1.3;
    font-weight: 700;

    .rotate { text-align: center; }

    img {
    	display: block;
    	margin: 0 auto 1.5vw auto;
    	height: 10vw;
    	width: auto;
    }
}