@import "less/lib/bootstrap/bootstrap";
@import "less/lib/font-awesome/font-awesome";
@import "less/lib/prefixer";
@import "less/share-modal.less";
@import "less/stateface.less";
@import "less/variables.less";
@import "less/results.less";
@import "less/slides.less";


body {
    background-color: @blueDarker;
}


h1,h2,h3,h4,h5,h6, p, form, label, button {
    font-family: "Gotham SSm", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
** SLIDE DEFAULTS
*/
h1, h2, h3{
    margin:0;
}
h2{
    font-size: 5vmin;
}
h3{
    font-size: 3.5vmin;
}

p{
    font-size: 2vmin;
    @media screen and (max-width: @screen-sm){
        font-size: 2vmin;
    }
}

.btn-lg{
    padding: 3vmin 3vmin;
    font-size: 3.5vmin;
    letter-spacing: .03em;
    border-radius: 0.5vmin;
    text-transform: uppercase;

    &:hover {
        background-color: darken(@red, 20%);
    }
}

#stack {
    display: none;
    overflow: hidden;
}

.slide {
    display: none;
    color: @musicLight;
}

.slide-inner {
    display: table;
    width: 100%;
    height: 100%;
}

.slide-content {
    display: table-cell;
    width:100%;
    img {
        width: 100%;
    }
    height: 100%;
}


/*
** WELCOME SLIDES
*/

.welcome.slide {
    opacity: 0;
    .transition(opacity 3s ease);
    display: block;

    &:after {
        content : "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../assets/elections-background-1.jpg');
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity : 0.5;
        z-index: -1;
    }
    position: relative;
    padding-top: 6vmin;

    .logo {
        width: 100%;
        height: 6vmin;
        margin-bottom:2vmin;
        float:left;
        fill: @grayMedium;
    }

    .intro-text {
        text-align: center;
        p{
            font-size:3.5vmin;
            line-height:3.5vmin;
            margin-bottom:5vmin;
        }
        h1 {
            text-shadow: -3px 3px 5px @blueDarker;
            font-size: 17vmin;
            font-weight: bold;
            span {
                font-size: 3vmin;
                margin-right: 1vmin;
                color: @blue;
                vertical-align: middle;

                &:nth-child(3n) {
                    margin-right: 0;
                }
            }

        }
        h2{
            text-shadow: -3px 3px 5px @blueDarker;
            padding-bottom:2%;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 8vmin;
            letter-spacing: .05em;
        }
    }

    .call-to-action {
        .rotate {
            display: none;
        }

        .welcome-button {
            background-color: @red;
            border: @red;
            color: @musicLight;
        }
    }

    .tv-prompt {
        margin:8vmin auto 0 auto;
        max-width:35%;
        .icon {
            width:15vmin;
            height:auto;
            float:left;
            opacity: 0.25;
        }
        h3{
            padding-top:4vmin;
        }
        h3, p{
            font-size: 2vmin;
        }

    }
}

.cast-controls {
    &:after {
        content : "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../assets/elections-background-1.jpg');
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity : 0.5;
        z-index: -1;
    }

    text-align: center;
    padding-top: 6vmin;

    h2 {
        font-size: 3vw;
        font-weight: bold;
        padding-bottom: 2vw;
    }

    ul.menu {
        list-style-type: none;
        text-align: left;

        li {
            width: 40vw;
            padding: 1vw;
            font-size: 2.5vw;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid @grayMedium;
        }
    }
}

.state-picker {
    &:after {
        content : "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../assets/elections-background-1.jpg');
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity : 0.5;
        z-index: -1;
    }

    text-align: center;
    padding-top: 6vmin;

    .state {
        width: 100%;
        .stateface {
            font-size: 30vmin;
        }
        .stateface, .state-name {
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
        }
        .state-name {
            position: relative;
            top: -1.2vmin;
        }
    }

    form {
        margin-top: 2%;
    }

    .twitter-typeahead {
        position: relative;
        top: 0;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

    .typeahead,
    .tt-query,
    .tt-hint {
        color: @musicLight;
        font-family: FontAwesome, 'Gotham Ssm';
        width: 80vmin;
        height: 100%;
        padding: 2vmin 1vmin;
        font-size: 2vmin;
        line-height: 2vmin;
        border: 2px solid #bbb;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        outline: none;
    }


    .tt-dropdown-menu {
        text-align: left;
        max-height: 18vmin;
        overflow-y: auto;
    }

    .typeahead {
        background-color: rgba(0,0,0,0);
    }

    .typeahead:focus {
      border: 2px solid @blue;
    }

    .tt-query {
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
         -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .tt-hint {
      color: #999
    }

    .tt-dropdown-menu {
        background-color: rgba(0,0,0,0);
        color: @blue;
        width: 80vmin;
        margin-top: 12px;
        border: 1px solid #999;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        // font-size: 24px;
    }

    .tt-suggestion {
      padding: 3% 1%;
      font-size: 2vmin;
      line-height: 2vmin;
      border-bottom: 1px solid #999;

      &:last-child {
        border: none;
      }
    }

    .tt-suggestion.tt-cursor {
      color: #fff;
      background-color: @blue;
    }

    .tt-suggestion p {
      margin: 0;
    }

    .state-picker-submit {
        margin-top: 3vmin;
        background-color: @red;
        border: @red;
        color: @musicLight;
    }

}


/*
** HEADER
*/

.header-container {
    box-shadow: inset 0 5vw 5vw -5vw black;
    .results-header {
        color: @grayMedium;
        height: 4vw;
        display: block;
        overflow: hidden;
        line-height: 3vw;
        padding: .2vw .5vw;


        .logo {
            height:100%;
            width:7vw;
            margin: 0 .5% 0 0;
            float:left;
            fill: @grayMedium;
        }

        .leaderboard {
            float: right;
            // width:60%;
        }


        h2, p, a, span {
            font-size: 1.5vw;
            line-height: 3vw;
            @media screen and (max-width: @screen-sm){
                font-size: 2vw;
                line-height:4vw;
            }
        }
        span{
            text-align:middle;
        }

        .results-header-group {
            white-space: nowrap;
            padding:0 1vw;
            float: left;
            box-sizing: border-box;
            line-height: 2vw;
            &:last-child{
                margin-right: 0;
                padding-right:0;
            }

            .party,
            .total,
            .seats-needed {
                display: inline-block;
            }

            h2,
            p {
                margin: 0;
            }

            h2 {
                text-transform: uppercase;
                margin-top: 0;
                font-family: 'Cooper Hewitt';
                letter-spacing: 0.05em;
            }

            .total {
                white-space: nowrap;
            }

            &.not-called {
                h2 {
                    display: inline-block;
                }

                white-space: nowrap;
            }
        }

        .dem .percentage   {  background: @blueDim; }
        .gop .percentage   {  background: @redDim; }
        .not-called .count {  background: @gray; }

        .percentage,
        .count {
            margin-top: 0;
            font-family: 'Cooper Hewitt';
            display: inline-block;
            text-align: center;
            box-sizing:border-box;
            width:3vw;
            height:3vw;
            line-height: 3vw;
            border-radius: 1.5vw;
            @media screen and (max-width: @screen-sm){
                min-width:4vw;
                height:4vw;
                line-height: 4vw;
                border-radius: 2vw;
            }
        }
    }

    .results-header.header-controls {
        display: none;

        a {
            color: @grayMedium;
        }
        a:hover{
            color: darken(@grayMedium, 20%);
        }
        .right-controls {
            float: right;

            div {
                white-space: nowrap;
                float: left;
            }

            .chromecast {
                display: none;

                img {
                    width: 20px;
                    height: 20px;
                }
            }

            .volume-icon{
                width: 2vw;
                height: 2vw;
            }
            .expand {
                width: 1.5vw;
                height: 1.5 vw;
            }

            .volume-icon,
            .expand {
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}

.share-footer {
    display: none;
}

