@import "less/lib/bootstrap/_results_variables";
@import "less/lib/bootstrap/normalize";
@import "less/lib/bootstrap/type";
@import "less/lib/bootstrap/mixins";
@import "less/cooper_hewitt";

// Colors
@blue: #376099;
@red: #BE0F00;
// @green: #317e62;
@green: #319269;



// Data colors
@red1       : #6C2315;
@red2       : #A23520;
@red3       : #D8472B;
@red4       : #E27560;
@red5       : #ECA395;
@red6       : #F5D1CA;

@orange1    : #714616;
@orange2    : #AA6A21;
@orange3    : #E38D2C;
@orange4    : #EAAA61;
@orange5    : #F1C696;
@orange6    : #F8E2CA;

@yellow1    : #77631B;
@yellow2    : #B39429;
@yellow3    : #EFC637;
@yellow4    : #F3D469;
@yellow5    : #F7E39B;
@yellow6    : #FBF1CD;

@teal1      : #0B403F;
@teal2      : #11605E;
@teal3      : #17807E;
@teal4      : #51A09E;
@teal5      : #8BC0BF;
@teal6      : #C5DFDF;

@blue1      : #28556F;
@blue2      : #3D7FA6;
@blue3      : #51AADE;
@blue4      : #7DBFE6;
@blue5      : #A8D5EF;
@blue6      : #D3EAF7;

// @font-face {
//     font-family: 'Open Sans Condensed';
//     src: url('../assets/fonts/opensans-condbold-webfont.eot');
//     src: url('../assets/fonts/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../assets/fonts/opensans-condbold-webfont.woff') format('woff'),
//          url('../assets/fonts/opensans-condbold-webfont.ttf') format('truetype'),
//          url('../assets/fonts/opensans-condbold-webfont.svg#open_sans_condensedbold') format('svg');
//     font-weight: bold;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Open Sans Condensed';
//     src: url('../assets/fonts/opensans-condlight-webfont.eot');
//     src: url('../assets/fonts/opensans-condlight-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../assets/fonts/opensans-condlight-webfont.woff') format('woff'),
//          url('../assets/fonts/opensans-condlight-webfont.ttf') format('truetype'),
//          url('../assets/fonts/opensans-condlight-webfont.svg#open_sanscondensed_light') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

body {
    font-family: 'Cooper Hewitt';
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-family: 'Cooper Hewitt'
}

.container {
    padding: 15px;
}

.results-header {
    background: #fff;
    overflow: hidden;
    margin-bottom: @line-height-computed / 2;

    h1 {
        width: 14%;
        float: left;
    }

    .results-group {

        &.dem,
        &.gop {
            width: 25%;
        }

        &.other,
        &.not-called {
            width: 18%;
        }

        float: left;
    }

    h1 {
        text-transform: uppercase;
        font-weight: bold;
    }

    .results-group {
        border-left: 1px solid #ccc;
        box-sizing: border-box;
        padding-left: 30px;

        h2,
        p {
            margin: 0;
            font-size: 36px;
        }

        h2 {
            display: inline-block;
            font-weight: bold;
            text-transform: uppercase;
        }

        .total,
        .seats-needed {
            display: inline-block;
            margin: 0 10px;
        }

        .change {
            margin-left: 15px;
        }

        .seats-needed {
            color: @gray-dark;
            margin-left: 15px;

            .count {
                display: inline-block;
                background: #ddd;
                color: #333;
            }
        }
    }

    .dem   { color: @blue; }
    .gop   { color: @red; }
    .other { color: @green; }
    .not-called { color: @gray; }

    .dem .percentage   { background: @blue; }
    .gop .percentage   { background: @red; }
    .other .percentage { background: @green; }
    .not-called .count { background: @gray; }

    .percentage,
    .count {
        display: inline-block;
        border-radius: 28px;
        color: #fff;
        text-align: center;
        line-height: 55px;

        .square(55px);
    }
}

.results {
    .results-col {
        .senate & {
            width: 50%;
            box-sizing: border-box;
            float: left;

            &:first-child {
                padding-right: 15px;
            }

            &:last-child {
                padding-left: 15px;
            }
        }
    }

    .closing-time-group {
        font-size: 36px;
        font-weight: bold;
        // text-align: center;
        // background: #ddd;
        border-top: 4px solid @gray-dark;
        color: @gray-darker;
        margin-bottom: 0;
        padding: 5px;
        // line-height: 66px;
    }

    .races {
        width: 100%;
        font-size: 34px;
        // font-weight: 700;

        td {
            vertical-align: top;
            border-top: 1px solid #ccc;
            padding: 5px;
        }

        .candidate {
            width: 35%;

            .party {
                font-size: 24px;
                // border: 2px solid @green;
                // border-radius: 3px;
                // padding: 0 3px;
                font-weight: normal;
                letter-spacing: 0.05em;
            }

            &.incumbent {
                // font-weight: bold;
            }
        }

        // .state + .candidate {
        //     text-align: right;
        // }

        .dem { color: @blue; }
        .gop { color: @red; }
        .other { color: @green; }

        .winner {
            color: #fff;

            &.dem { background: @blue; }
            &.gop { background: @red; }
            &.other { background: @green; }
        }

        .closing-time {
            text-align: right;

            &.reporting {
                background: @yellow3;
            }

            &.called {
                background: @gray-darker;
                color: #fff;
            }
        }

        .state {
            text-align: center;

            &.party-change {
                color: #fff;
                font-weight: bold;

                &.dem { color: @blue; }
                &.gop { color: @red; }
                &.other { color: @green; }
            }
        }
    }
}
