@import "less/lib/bootstrap/_results_variables";
@import "less/lib/bootstrap/normalize";
@import "less/lib/bootstrap/type";
@import "less/lib/bootstrap/mixins";
@import "less/cooper_hewitt";

// Colors
@blue: #376099;
@red: #BE0F00;
@green: #319269;
@yellow: #EFC637;
@white: #fff;

// Additional media query sizes
@screen-xl: 1400px;
@screen-big-board: 1920px;

@bigpad : 30px;
@littlepad : 6px;

body {
    font-family: 'Cooper Hewitt';
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-family: 'Cooper Hewitt'
}

.container{
    padding: 30px;
}

.results-header h2,
.results-header,
.races h2,
.races,
.poll-closing-group {
    font-size: 9px;
    line-height: .2;
    font-weight: 400;

    @media screen and (min-width: @screen-sm){
        font-size: 10.6px;
        line-height: 1;
    }

    @media screen and (min-width: @screen-md){
        font-size: 14px;
        line-height: 1.1;
    }

    // @media screen and (min-width: @screen-lg){
    //     font-size: 18px;
    //     line-height: 1.1;
    //     font-weight: 300;
    // }

    @media screen and (min-width: @screen-lg){
        font-size: 16px;
        line-height: 1.1;
        font-weight: 400;
    }

    @media screen and (min-width: @screen-xl){
        font-size: 22px;
        line-height: 1;
        font-weight: 300;
    }

    @media screen and (min-width: @screen-big-board){
        font-size: 33px;
        font-weight: 300;
        line-height: 1.2;
    }
}

.results-header h2{
    line-height: 18px;
}

.results-header {
    background: #fff;
    overflow: hidden;
    margin-bottom: @line-height-computed / 2;
    @media screen and (max-width: @screen-sm){
        margin-bottom:5px;
    }

    h1 {
        float: left;
        margin: 0;
        font-size:18px;
        letter-spacing: .05em;

        @media screen and (min-width: @screen-md){
        font-size: 24px;
        }

        @media screen and (min-width: @screen-lg){
            font-size: 36px;
        }

        @media screen and (min-width: @screen-big-board){
            font-size: 46px;
        }
    }

    .leaderboard {
        float: right;
    }

    .results-header-group {
        white-space: nowrap;

        .party,
        .total,
        .seats-needed {
            display: inline-block;
        }

        float: left;
    }

    h1 {
        text-transform: uppercase;
        font-weight: bold;
    }

    .results-header-group {
        border-left: 1px solid @gray-light;
        box-sizing: border-box;
        padding-left: 15px;
        @media screen and (max-width: @screen-sm){
            padding-left:5px;
        }

        &:first-child {
            border-left: none;
        }

        h2,
        p {
            margin: 0;
        }

        h2 {
            font-weight: bold;
            text-transform: uppercase;
        }

        .total,
        .seats-needed {
            white-space: nowrap;
        }

        .seats-needed {
            color: @gray-dark;
            margin-left: 15px;
            margin-right: 15px;
            @media screen and (max-width: @screen-sm){
            margin-left:5px;
            margin-right:5px;
            }

            .count {
                display: inline-block;
                background: #ccc;
                color: #333;
            }
        }

        &.ind {
            margin-right: 15px;
            @media screen and (max-width: @screen-sm){
            margin-right:5px;
            }
        }

        &.not-called {
            h2 {
                display: inline-block;
            }

            white-space: nowrap;
        }
    }


    .dem  { color: @blue; }
    .gop   { color: @red; }
    .ind { color: @green; }
    .not-called { color: @gray; }

    .dem .percentage   { background: @blue; }
    .gop .percentage   { background: @red; }
    .ind .percentage { background: @green; }
    .not-called .count { background: @gray; }

    .percentage,
    .count {
        display: inline-block;
        border-radius: 9px;
        color: #fff;
        text-align: center;
        line-height: 18px;
        padding:0 5%;
        min-width:18px;
        height:18px;
        box-sizing:border-box;

        @media screen and (min-width: @screen-md){
            min-width:38px;
            height:38px;
            line-height: 38px;
            border-radius: 19px;
        }

        @media screen and (min-width: @screen-lg){
            min-width:38px;
            height:38px;
            line-height: 38px;
            border-radius: 19px;
        }

        @media screen and (min-width: @screen-xl){
            min-width:42px;
            height:42px;
            line-height:42px;
            border-radius:21px;
            
        }

        @media screen and (min-width: @screen-big-board){
            min-width:58px;
            height:58px;
            line-height: 58px;
            border-radius: 28px;
        }
    }
}




.results  {
    overflow:hidden;

    .column {
        @media screen and (max-width: @screen-sm){
            width:100% !important;
        }
    }

    .poll-closing-group {
        font-weight: bold;
        color: @gray-darker;
        // vertical-align:top;
        margin-bottom:0;
        border-top: 5px solid @gray-dark;
        // padding: 4px 0;
        @media screen and (max-width: @screen-md){
            border-top: 2px solid @gray-dark;
            // padding:4.5px 0;
        }
       
        .time {
            padding: 3px 0;
            @media screen and (max-width: @screen-md){
                padding:4.5px 0;
            }
            width: 12%;
            text-align: right;
            display: inline-block;
            .time-inner{
                padding-right:4px;
            } 
        }
    }

    .race{
         border-top: 1px solid @gray-light;
    }
    .races {
        width: 100%;
        
        td {
            vertical-align: top;
            // border-top: 1px solid #ccc;
            padding: 5px;
        }

        .results-status {
            width: 12%;
            text-align: right;

            &.reporting, &.called {
                background: @yellow;

                @media screen and (min-width: @screen-md){
                    &:after{
                        content:"in";
                        font-size:80%;
                    }
                }
            }

            &.called {
                background: @gray-darker;
                color: #fff;
            }
        }

        .state {
            text-align: center;

            &.party-change {
                color: #fff;
                &.dem { background-color: @blue; }
                &.gop { background-color: @red; }
                &.ind { background-color: @green; }

            }
        }

        .dem { color: @blue; }
        .gop { color: @red; }
        .ind { color: @green; }

        .winner {
            color: #fff;

            &.dem { background: @blue; }
            &.gop { background: @red; }
            &.ind { background: @green; }
        }

        .candidate {
            width: 35%;

            .party {
                font-size: 75%;
                font-weight: normal;
                letter-spacing: 0.05em;
            }

            &.incumbent {
                text-transform:uppercase;
            }

            .fname{
                @media screen and (max-width: @screen-sm){
                display:none;
                }
            }    
        }

        .candidate-total {
            // width: 6%;
            text-align:right;
        }

        .candidate-total.gop{
            text-align:left;
        }

        .id-5083, .id-19638, .id-18556{
            letter-spacing:-.07em;
            text-transform:capitalize !important;
        }
    }
}


.house{
    .container{
        padding: @bigpad 0;
        @media screen and (max-width: @screen-md){
            padding: @littlepad 0;
        }
    }
    .results-header{
        padding-right: @bigpad;
        padding-left: @bigpad;
        @media screen and (max-width: @screen-md){
            padding-right: @littlepad;
            padding-left: @littlepad;
        }
    }
    .column{
        box-sizing: border-box;
        padding: 0 @bigpad;
        @media screen and (max-width: @screen-md){
            padding: 0 @littlepad;
        }
    }
    .key{
        padding-right: @bigpad;
        padding-left: @bigpad;
        @media screen and (max-width: @screen-md){
        padding-right: @littlepad;
        padding-left: @littlepad;
        }
    }

    .fname{
        display:none;
    }
    .results-status{
        width:15%;
    }
    .candidate{
        width: 33% !important;
    }
    .state{
        text-align:left !important;
    }
}



.key{
    font-size: 9px;
    font-weight: 300;

    @media screen and (min-width: @screen-md){
        font-size: 11px;
        line-height: 1.5;
        font-weight: 300;
    }
    @media screen and (min-width: @screen-lg){
        font-size: 13px;
        font-weight: 300;
    }

    @media screen and (min-width: @screen-xl){
        font-size: 14px;
        font-weight: 300;
    }

    @media screen and (min-width: @screen-big-board){
        font-size: 19px;
    }
        

    margin-top:20px;
    @media screen and (max-width: @screen-md){
        margin-top:20px;
    }
    margin-bottom:20px;
    overflow:hidden;
    // border:1px solid black;
    float:left;
    // font-family:'Open Sans';
        

    .percent-ex{
        background-color:@yellow;
        display:inline-block;
        padding:0 2px;
    }
    .percent-called-ex{
        background-color:#222;
        display:inline-block;
        color: @yellow;
        padding:0 2px;
    }
    .time-ex{
        background-color:#222;
        display:inline-block;
        color: @white;
        padding:0 2px;
    }

    .name-ex{
        background-color: @blue;
        color: @white;
        padding: 0 2px;
    }

    .state-ex{
        background-color:@blue;
        color:@white;
        padding: 0 2px;
    }

    .state2-ex{
        color:@red;
    }
    .incum-ex{
        color:@red;
    }

    .bold  { font-weight:500;}
    ul{
        padding-left:0;
        float:left;
        padding-right:20px;
        margin-bottom:0;
    }
    li{
        list-style-type:none;
        text-indent:none;
        padding-left:0;
    }  
}


