@import "less/variables.less";
@import "less/lib/bootstrap/variables.less";
@import "less/lib/bootstrap/mixins.less";

/* TUMBLR */

.tumblr-photo,
.tumblr-quote,
.tumblr-text {
    height: 100%;


    .slide-inner:after {
        content : "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity : 0.5;
        z-index: -1;
    }

    a { color: @grayMedium; }

    .date {
        font-size: 1.75rem;
        margin-bottom: 1.5rem;
        .text-shadow;
    }

    .post-footer {
        color: @grayMedium;
        font-size: 1.75rem;
        .text-shadow;
    }
}

.tumblr-text .slide-inner:after {
    background-image: url('../assets/tumblr-text-background.jpg');
    opacity: 1;
}

.tumblr-photo .slide-inner:after {
    background-image: url('../assets/tumblr-photo-background.jpg');
}

.tumblr-quote .slide-inner:after {
    background-image: url('../assets/tumblr-quote-background.jpg');
}

.tumblr-text {
    .wrapper {
        padding: 0 5%;
        .vertical-center;

        h2 {
            font-size: 4rem;
            margin-bottom: 2%;
            font-weight: bold;
            .text-shadow;
        }

        .body {
            margin-top: 3%;
            margin-bottom: 2%;

            p {
                font-size: 3rem;
                line-height: 3.7rem;
                .text-shadow;
                margin-bottom: 2rem;
            }

            ol {
                margin-bottom: 2rem;
                padding-left: 3rem;
            }
            ul {
                margin-bottom: 2rem;
                padding-left: 2rem;
            }
            li {
                font-size: 2rem;
                margin-bottom: 1rem;
            }
        }
    }
}

.tumblr-photo {
    // Width is fixed so resulting area is square
    .image {
        float: left;
        width: 56.25%;
        height: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }

    .caption {
        float: left;
        width: 43.75%;
        height: 100%;

        .centered {
            padding: 0 5%;
            .vertical-center;

            .body {
                margin-bottom: 5%;

                p {
                    font-size: 2.5rem;
                    line-height: 3rem;
                    .text-shadow;
                }
            }
        }
    }
}

.tumblr-quote {
    .wrapper {
        padding: 0 5%;
        .vertical-center;

        blockquote {
            font-size: 3rem;
            line-height: 4.25rem;
            border: none;
            padding: 0;
            display: block;

            span {
                padding: 0.7rem;
                box-decoration-break: clone;
            }

            p {
                font-size: inherit;
                line-height: inherit;
            }

            .highlight {
                background-color: @blueDarker;
            }

            footer {
                margin-top: 3%;
                border: none;
                padding-left: 0;
                display: block;
                text-indent: 0;

                cite {
                    font-size: 2.5rem;
                    text-transform: uppercase;
                    letter-spacing: .05rem;
                }
            }
        }
    }
}


/*
 * GRAPHICS
 */

.graphic {
    color: @musicLight;
    padding: 0 3rem;
    height: 100%;
    
    .wrapper {
        .vertical-center;
    }

    h1 {
        margin: 0 0 2rem 0;
        font-size: 3rem;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
    }

    h2 {
        font-weight: normal;
        font-size: 1.5rem;
        margin: -1rem 0 2rem 0;
        color: @grayMedium;
        text-align: center;
    }

    h3 {
        margin: 0 0 1rem 0;
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;

        span {
            font-size: 1.3rem;
            font-weight: 400;
            color: #999;
            padding-left: 1rem;
        }
    }
    
    .ap-footnote { text-align: center; }

    .r { color: @red; }
    .d { color: @blue; }
    .i { color: @green; }

    .axis {
        font-size: 1rem;
        fill: #787878;
        font-family: 'Cooper Hewitt';

        line,
        path {
            fill: none;
            stroke: #787878;
            shape-rendering: crispEdges;
        }

        &.y path { display: none; }
        &.y .tick line { display: none; }
    }

    .grid {
        path { display: none; }
        .tick {
            stroke: #454545;
//          stroke-dasharray: 2px 3px;
            stroke-width: 1px;
            shape-rendering: crispEdges;
        }
    }

    .bars {
        rect {
            shape-rendering: crispEdges;
            opacity: 0.9;
        }
        .democratic { fill: @blue; }
        .republican { fill: @red; }
        .independent { fill: @green; }
        .not-called { fill: @yellow; }
    }

    .value {
        font-family: 'Cooper Hewitt';
        font-size: 1.6rem;
        line-height: 1;
    }

    .labels {
        font-size: 1.3rem;
        line-height: 1.3;
        fill: @musicLight;
        font-family: 'Cooper Hewitt';

        .not-yet-called {
            fill: @grayMedium;
            font-weight: normal;
        }
    }

    .race-list {
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            & > li {
                margin: 0 0 6px 0;
                padding: 0;
                font-size: 1.25rem;

                i.state {
                    font-family: StateFaceRegular;
                    text-align: center;
                    display: inline-block;
                    font-style: normal;
                    width: 30px;
                    margin-right: 5px;
                    height: 2rem;
                    margin-top: -2px;
                    float: left;
                    font-size: 150%;
                }
                strong {
                    font-weight: normal;
                    display: block;
                }
                span { color: @grayMedium; }
            }
        }
    }
    .candidate-list {
        border-top: 1px solid @musicDark;
        padding-top: 1rem;
        padding-bottom: 1rem;
        .clearfix();

        h3 {
            font-size: 1.25rem;
            margin-bottom: .75rem;

            span {
                padding-left: .5rem;
                font-size: 1.25rem;
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            float: left;
            width: 16.6%;

            li {
                margin: 0 0 .2rem 0;
                padding: 0;
                text-indent: 0;
                font-family: 'Cooper Hewitt';
                font-size: 1.25rem;
                display: table;
                width: 15rem;

                .house-freshmen & {
                    font-size: 1.2rem;
                    line-height: 1.1;
                }

                span {
                    display: table-cell;

                    &.district {
                        width: 4rem;
                        color: #fff;
                        text-align: center;

                        &.d { color: @blue; }
                        &.r { color: @red; }
                        &.i { color: @green; }
                    }
                    &.name { padding-left: .75rem; }
                }
            }
        }
    }
}

#graphic-bop {
    .clearfix();

    .chart { padding-bottom: 1rem; }
    .chart-house { float: right; }
    .chart-senate { float: left; }

    .majority {
        line {
            stroke: @musicLight;
            stroke-width: 2px;
        }
        text {
            fill: @musicLight;
            font-size: 1.25rem;
            font-family: 'Cooper Hewitt';
            font-style: italic;
        }
    }
}

.graphic.poll-closing {
    .clearfix();

    .poll-map {
        width: 47%;
        float: left;

        img {
            width: 100%;
            height: auto;
        }
    }
    .key-races {
        width: 47%;
        float: right;
    }
    h3 {
        text-align: left;
        margin-bottom: 1rrem;
    }
}

/*
** STATE SLIDES
*/

.results-sliced {
    color: #fff;
    height: 100%;
    margin-bottom: @line-height-computed;
    padding-top: 1vh;
    padding-bottom: 4rem;

    .wrapper{
        // .vertical-center;
    }

    &:after {
        content : "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-image: url('../assets/elections-background-1.jpg');
        width: 100%;
        height: 100%;
        opacity : 0.5;
        z-index: -1;
    }

    .results-sliced-wrapper {
        display: table;
        width: 100%;
    }

    .results-header,
    .results-table {
        display: table-cell;
        padding: 1rem 2rem;
    }

    .results-header {
        width: 25%;
        border-right: 2px solid #999;
    }

    .results-table {
        width: 75%;
    }

    .results-header {
        text-align: center;
        color: #fff;

        svg {
            width: 100%;
            max-height: 100%;
        }

        h2 {
            text-transform: uppercase;
            font-size: 2.5rem;
            font-weight: bold;
            margin: 0;
        }

        h4 {
        	font-size: 1.2rem;
        }

        .stateface {
            font-size: 20rem;
            line-height: 1;
        }

        .page {
            font-size: 1.3rem;
            color: #999;
            text-transform: uppercase;
            margin-top: 1rem;
        }
    }

    .results-table {
        width: 75%;
        vertical-align: top;

        h3,
        h4 {
            text-transform: uppercase;
            font-weight: bold;
            margin: 0 0 1rem;
        }

        h3 { font-size: 2rem; }

        h4 {
            font-size: 1.3rem;
            font-weight: normal;
            color: @grayMedium;
        }

        div + h3 { margin-top: 2rem; }

        .bar-wrapper {
            display: inline-block;
            position: relative;
            height: 3rem;
        }

        .bar { height: 3rem; }

        .bar-label {
            position: absolute;
            padding-left: 10px;
        }
    }

    .results-wrapper {
        margin-bottom: @line-height-computed * 2;
    }

    .current-results,
    .projected-results {
        width: 50%;
        float: left;
        margin-bottom: 2rem;

        p {
            border-left: 1px solid #ccc;
            margin: 0;
            padding: 10px 0;
            font-family: 'Cooper Hewitt';
            font-weight: 300;
            font-size: 2rem;
            line-height: 3rem;
            overflow: hidden;

            + p {
                padding-top: 0;
            }
        }
    }

    .current-results {
        padding-right: 15px;
    }

    .projected-results {
        padding-left: 15px;
    }

    .house,
    .senate,
    .governor {
        padding-top: 0.5rem;

        .races {
            font-size: 2rem;

            .recent-calls& {
                font-size: 1.8rem;
            }

            .results-status.called {
                color: #999;
            }

            .candidate {
                &.dem   { background: fadeout(@blueDim, 30%); }
                &.gop   { background: fadeout(@redDim, 30%); }
                &.other { background: fadeout(@greenDim, 30%); }

                &.winner {
                    &.dem   { background: @blue; }
                    &.gop   { background: @red; }
                    &.other { background: @green; }
                }
            }

            .candidate-total {
                &.dem .candidate-total-wrapper   { background: fadeout(@blueDim, 30%); }
                &.gop .candidate-total-wrapper   { background: fadeout(@redDim, 30%); }
                &.other .candidate-total-wrapper { background: fadeout(@greenDim, 30%); }

                &.winner {
                    &.dem .candidate-total-wrapper   { background: @blue; }
                    &.gop .candidate-total-wrapper   { background: @red; }
                    &.other .candidate-total-wrapper { background: @green; }
                }
            }

            .candidate {
                width: 30%;

                &.incumbent img {
                    width: 0.8rem;
                    height: auto;
                }
            }

            .candidate-total { width: 9%; }
        }
    }
}


/* 
 * CREDIT 
 */

.ap-credit {
    margin: .75rem 0 0 0;
    font-size: 1rem;
    line-height: 1.3;
    color: @gray;
    text-align: left;

    .state-slide & {
        margin-top: 1.5rem;
    }
}
