@import "less/variables.less";
@import "less/lib/bootstrap/variables.less";
@import "less/lib/bootstrap/mixins.less";
@import "less/lib/bootstrap/grid.less";

.slide-content{
    .tumblr {
        background-image: url('../assets/elections-background-1.jpg');
        height: 100%;

        a {
            color: @grayMedium; 
        }

        .date {
            font-size: 2vw;
            margin-bottom: 2vw;
        }

        .post-footer {
            color: @grayMedium;
            font-size: 2vw;
        }
    }

    .tumblr-text-post {
        .wrapper {
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            h2 {
                font-size: 40px;
                margin-bottom: 20px;
            }

            .body {
                margin-top: 5vmin;
                margin-bottom: 5vmin;

                p {
                    font-size: 4.5vmin;
                    line-height: 5.2vmin;
                }
            }
        }
    }

    .tumblr-image-post {
        .image {
            float: left;
            width: 50%;

            img {
                width: 100%;
                height: auto;
            }
        }

        .caption {
            float: left;
            width: 50%;
            height: 100%;

            .centered {
                padding: 0 5%;
                position: relative;
                top: 45%;
                transform: translateY(-50%);

                .body {
                    margin-bottom: 5%;

                    p {
                        font-size: 3vw;
                        line-height: 4.2vw;
                    }
                }
            }
        }
    }

    .tumblr-quote-post {
        .wrapper {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);

            blockquote {
                font-size: 6vmin;
                line-height: 8vmin;
                border: none;
                padding:0;
                @media all and (-webkit-min-device-pixel-ratio:0) {
                    -webkit-margin-before: 0;
                    -webkit-margin-after: 0;
                    -webkit-margin-start: 0;
                    -webkit-margin-end: 0;
                    text-indent: -0.31em;
                }

                span{
                    background-color:@blueDarker;
                    padding:.7vmin;
                    -ms-box-decoration-break: clone;
                    -webkit-box-decoration-break: clone;
                    -o-box-decoration-break: clone;
                    box-decoration-break: clone;
                }

                footer {
                    margin-top: 1vmin;
                    border: none;
                    padding-left: 0;

                    cite {
                        font-size: 4vmin;
                        text-transform: uppercase;
                        letter-spacing: .05em;
                    }
                }
            }
        }
    }

    .tumblr-link-post {
        .wrapper {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);

            h2 {
                font-size: 6vmin;
                margin-bottom: 1vmin;
            }

            .body {
                margin-top: 5vmin;
                margin-bottom: 5vmin;

                p, blockquote {
                    font-size: 4.5vmin;
                    line-height: 5.2vmin;
                }
            }
        }
    }

    .instagram-grid {
        margin: 0 auto;
        max-width: 1280px;

        .photo {
            display: inline-block;
            float: left;
            width: 25%;
        }
    }
}


/* GRAPHICS */

.graphic {
	-webkit-text-size-adjust: none;
	color: @musicLight;
	padding: 22px 11px;

	h1 {
		margin: 0 0 22px 0;
		font-size: 24px;
		text-align: center;
	}
	h2 {
		font-weight: normal;
		font-size: 12px;
		margin: -16px 0 22px 0;
		text-align: center;
	}
	h3 {
		margin: 0 0 11px 0;
		font-size: 14px;
		text-align: center;
	}

	.footnotes {
		margin-bottom: 20px;
		color: @grayMedium;

		h4 {
			margin: 2px 0 7px 0;
			font-size: 11px;
		}
	}
	.footnotes p,
	.footer p {
		margin: 2px 0 0 0;
		font-size: 11px;
		line-height: 1.3;
		color: @grayMedium;
	}

	.r { color: @red; }
	.d { color: @blue; }
	.i { color: @green; }

	.axis {
		font-size: 11px;
		fill: #787878;

		line,
		path {
			fill: none;
			stroke: #787878;
			shape-rendering: crispEdges;
		}

		&.y path { display: none; }
		&.y .tick line { display: none; }
	}

	.grid {
		path { display: none; }
		.tick {
			stroke: #787878;
			stroke-dasharray: 2px 3px;
			stroke-width: 1px;
			shape-rendering: crispEdges;
		}
	}

	.bars {
		rect { shape-rendering: crispEdges; }
		.democratic { fill: @blue; }
		.republican { fill: @red; }
		.independent { fill: @green; }
		.not-yet-called { fill: @musicDark; }
	}

	.value { font-size: 11px; }

	.labels {
		text-align: right;
		font-size: 12px;
		line-height: 1.3;
		fill: @musicLight;
		font-weight: 500;

		.not-yet-called {
			fill: @grayMedium;
			font-weight: normal;
		}
	}

	.race-list {
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;

			& > li {
				margin: 0 0 6px 0;
				padding: 0;
				font-size: 12px;

				i.state {
					font-family: StateFaceRegular;
					text-align: center;
					display: inline-block;
					font-style: normal;
					width: 30px;
					margin-right: 5px;
					height: 2em;
					margin-top: -2px;
					float: left;
					font-size: 150%;
				}
				strong {
					font-weight: normal;
					display: block;
				}
				span { color: @grayMedium; }
			}
		}
	}
	.candidate-list {
		border-top: 1px solid @blueDark;
		padding-top: 11px;

		ul {
			margin: 0 0 6px 0;
			padding: 0;
			list-style-type: none;

			&:before {
				content: ' ';
				display: table;
			}
			&:after {
				content: ' ';
				display: table;
				clear: both;
			}
			& > li {
				margin: 0 0 5px 0;
				padding: 0;
				font-size: 11px;
				width: 20%;
				float: left;
				display: table;

				span {
					display: table-cell;
				}
				.district {
					width: 30px;

					&.d,
					&.r,
					&.i {
						color: #fff;
						padding: 0 3px;
						border-radius: 6px;
						width: 40px;
						text-align: center;
						font-size: 10px;
					}
					&.d { background-color: @blue; }
					&.r { background-color: @red; }
					&.i { background-color: @green; }
				}
				.name {
					letter-spacing: 0.1;
					padding-left: 5px;
				}
			}
		}
	}
}

#graphic-bop {
	position: relative;
	margin-bottom: 11px;

	&:before {
		content: ' ';
		display: table;
	}
	&:after {
		content: ' ';
		display: table;
		clear: both;
	}

	.chart {
		float: left;

		&.house { margin-right: 22px; }
	}

	.majority {
		line {
			stroke: @musicLight;
			stroke-width: 2px;
		}
		text {
			fill: @musicLight;
			font-size: 10px;
			font-style: italic;
		}
	}
}

.graphic.poll-closing {
	&:before {
		content: ' ';
		display: table;
	}
	&:after {
		content: ' ';
		display: table;
		clear: both;
	}
	.poll-map {
		width: 47%;
		float: left;

		img {
			width: 100%;
			height: auto;
		}
	}
	.key-races {
		width: 47%;
		float: right;
	}
	h3 {
		text-align: left;
		margin-bottom: 11px;
	}
}

/*
** STATE SLIDES
*/

.state-slide {
	color: #fff;
    background-image: url('../assets/elections-background-1.jpg');
    background-size: cover;
    height: 100%;
    margin-bottom: @line-height-computed;


	.state-results-wrapper {
		display: table;
		width: 100%;
	}

	.state-header,
	.state-results {
		display: table-cell;
		padding: @grid-gutter-width;
	}

	.state-header {
		width: 25%;
		vertical-align: middle;
		border-right: 2px solid #999;
	}

	.state-results {
    	width: 75%;
	}

    .state-header {
    	text-align: center;
    	color: #fff;

    	h2 {
	    	text-transform: uppercase;
	    	font-size: 32px;
	    }

	    .stateface {
	    	font-size: 20vmin;
	    	line-height: 1;
	    }

	    .page {
	    	font-size: 14px;
	    	color: #999;
	    	text-transform: uppercase;
	    	margin-top: 10px;
	    }
    }

    .state-results {
        h3 {
        	margin-bottom: @line-height-computed;
        }

        p {
        	line-height: 30px;
        }

        .bar-wrapper {
        	display: inline-block;
        	position: relative;
        	height: 30px;
        }

        .bar {
        	height: 30px;
        }

        .bar-label {
        	position: absolute;
        	padding-left: 10px;
        }
    }

    .results-wrapper {
        .make-row();
        margin-bottom: @line-height-computed * 2;
    }

    .current-results,
    .projected-results {
        .make-md-column(6);

        p {
        	border-left: 1px solid #ccc;
        	margin: 0;
        	padding: 10px 0;
	        font-family: 'Cooper Hewitt';
	        font-weight: 300;
	        font-size: 24px;
	        overflow: hidden;

        	+ p {
        		padding-top: 0;
        	}
        }
    }

    .house,
    .senate,
    .governor {
    	.races {
	        @media screen and (min-height: 700px) and (min-width: 1100px){
	            font-size: 24px;
	        }

	        .results-status.called {
	        	color: #999;
	        }

	        .candidate,
	        .candidate-total {
	        	&.dem   { background: fadeout(@blueDim, 30%); }
	        	&.gop   { background: fadeout(@redDim, 30%); }
		        &.other { background: fadeout(@greenDim, 30%); }

		        &.winner {
    	        	&.dem   { background: @blue; }
    	        	&.gop   { background: @red; }
    		        &.other { background: @green; }
		        }
	        }
	    }
    }
}

.legend {
	font-family: 'Cooper Hewitt';
	font-weight: 300;

	.container-fluid {
		margin: @grid-gutter-width;
		background: fadeout(@blueDark, 30%);
		padding: @grid-gutter-width / 2;
		font-size: 3vmin;
	}

	ul {
		.make-md-column(4);
		margin-bottom: 0;
	}

	.key-color {
		.square(20px);
		display: inline-block;
		border-radius: 10px;
		margin-right: 10px;

		&.dem { background: @blue; }
		&.gop { background: @red; }
		&.other { background: @green; }
	}

	.winner {
		display: inline-block;
		background: @blue;
		border-radius: 5px;
		padding: 0 5px;
		margin-left: 55px;
	}

	.incumbent {
		img {
			width: 8px;
		}
	}

	.reporting {
		color: @yellow;
	}

	.seat-held {
		color: @red;
	}

	.pickup {
		font-weight: 500;
		font-style: italic;
		font-size: 16px;
		color: @blue;
	}

	.incumbent,
	.reporting,
	.seat-held,
	.pickup {
		width: 50px;
		display: inline-block;
		text-align: right;
		margin-right: 5px;
	}
}

