body {
    background-color: #eee;
}

.slide {
    background-color: #fff;
    display: none;
}

.slide-inner {
    display: table;
    width: 100%;
    height: 100%;
}

.slide-content {
	display: table-cell;
	vertical-align: middle;

    img {
        width: 100%;
    }

    .tumblr-text-post {
        margin: 0 auto;
        max-width: 1024px;
        h2 {
            font-size: 48px;
        }
        p {
            font-size: 30px;
        }
    }

    .tumblr-image-post {
        max-width: 1024px;
        margin: 0 auto;
        .image {
            text-align: center;
            img {
                max-height: 500px;
                width: auto;
            }
        }
        .caption {
            p {
                font-size: 30px;
                text-align: center;
            }
        }
    }

    .tumblr-quote-post {
        max-width: 1024px;
        margin: 0 auto;
        blockquote {
            font-size: 48px;
            border: none;
        }
        footer {
            margin-top: 20px;
            border: none;
            text-align: right;
            cite {
                font-size: 30px;
            }
        }
    }

    .tumblr-link-post {
        margin: 0 auto;
        max-width: 1024px;
        h2 a {
            font-size: 48px;
        }
        p {
            font-size: 30px;
        }
    }

    .instagram-grid {
        margin: 0 auto;
        max-width: 1280px;
        .photo {
            display: inline-block;
            float: left;
            width: 25%;
        }
    }
}

.pym-container {
    width: 100%;
    height: 100%;
}


.audio {
    color: #ddd;
    a, a:link, a:visited {
    color: #eee;
    text-decoration: none;
    }
    a:hover, a:active {
        color: #fff;
        text-decoration: none;
    }
    .jp-seek-bar {
        background-color: #000;
        height: 30px;
    }

    .jp-play-bar {
        background-color: #444;
        height: 30px;
    }
    .jp-progress-container {
        margin-left: 30px;
        cursor: pointer;
    }

    .jp-controls {
        float: left;
        width: 30px;
        height: 30px;
        font-size: 18px;
        position: relative;

        .jp-play {
            position: absolute;
            top: 0;
            left: 0;
            padding-left: 3px;
            width: 30px !important;
            height: 30px !important;
            background-color: rgb(109, 138, 196);
            padding: 3px 0 0 8px;
        }
        .jp-pause {
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 30px;
            background-color: #36c;
            padding: 3px 0 0 7px;
        }
    }
    .title {
        position: absolute;
        top: 10px;
        right: 130px;
        z-index: 3;
        font-size: 12px;
        line-height: 1;
        .touch & {
            right: 10px;
        }
    }
}

