@import "less/lib/bootstrap/_results_variables";
@import "less/lib/bootstrap/normalize";
@import "less/lib/bootstrap/type";
@import "less/lib/bootstrap/mixins";
@import "less/cooper_hewitt";

//color palette
@musicDark: #41474E;
@musicMedium: #e6ebf2;
@musicLight: #dbe0e6;

@blueDark: #1E2E3A;
@blueDarker: #141D24;

@red: #EE3C24;
@redDim: #342224;
@blue: #538ECD;
@blueDim: #1D2C40;
@green: #319269;
@greenDim: #0B301F;

@yellow: #EFC637;
@white: #fff;
// @grayMedium: #868686;
@grayMedium: #A0A0A0;

h1,h2,h3,h4,h5,h6, p, form, label, button {
    font-family: "Gotham SSm", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
** WELCOME SLIDES
*/

.welcome.slide {
    opacity: 0;
    .transition(opacity 3s ease);
    display: block;

    &:after {
        content : "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../assets/elections-background-1.jpg');
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity : 0.5;
        z-index: -1;
    }
    position: relative;
    padding-top: 6vmin;

    .logo {
        width: 100%;
        height: 6vmin;
        margin-bottom:2vmin;
    }

    .intro-text {
        text-align: center;
        p{
            font-size:3.5vmin;
            line-height:3.5vmin;
            margin-bottom:5vmin;
        }
        h1 {
            text-shadow: -3px 3px 5px @blueDarker;
            font-size: 17vmin;
            font-weight: bold;
            span {
                font-size: 3vmin;
                margin-right: 1vmin;
                color: @blue;
                vertical-align: middle;

                &:nth-child(3n) {
                    margin-right: 0;
                }
            }

        }
        h2{
            text-shadow: -3px 3px 5px @blueDarker;
            padding-bottom:2%;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 8vmin;
            letter-spacing: .05em;
        }
    }

    .call-to-action {
        .rotate {
            display: none;
        }

        .welcome-button {
            background-color: @red;
            border: @red;
            color: @musicLight;
        }
    }

    .tv-prompt {
        margin:8vmin auto 0 auto;
        max-width:35%;
        .icon {
            width:15vmin;
            height:auto;
            float:left;
            opacity: 0.25;
        }
        h3{
            padding-top:4vmin;
        }
        h3, p{
            font-size: 2vmin;
        }

    }
}

.cast-controls {
    &:after {
        content : "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../assets/elections-background-1.jpg');
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity : 0.5;
        z-index: -1;
    }
    display: block;
    text-align: center;

    padding-top: 6vmin;

    h2 {
        font-size: 3vw;
        font-weight: bold;
        padding-bottom: 2vw;
    }

    ul.menu {
        list-style-type: none;
        text-align: left;

        li {
            width: 40vw;
            padding: 1vw;
            font-size: 2.5vw;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid @grayMedium;
        }
    }
}

.state-picker {
    &:after {
        content : "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../assets/elections-background-1.jpg');
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity : 0.5;
        z-index: -1;
    }
    display: block;
    text-align: center;

    padding-top: 6vmin;

    .state {
        width: 100%;
        .stateface {
            font-size: 30vmin;
        }
        .stateface, .state-name {
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
        }
        .state-name {
            position: relative;
            top: -1.2vmin;
        }
    }

    form {
        margin-top: 2%;
    }

    .twitter-typeahead {
        position: relative;
        top: 0;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

    .typeahead,
    .tt-query,
    .tt-hint {
        color: @musicLight;
        font-family: FontAwesome, 'Gotham Ssm';
        width: 80vmin;
        height: 100%;
        padding: 2vmin 1vmin;
        font-size: 2vmin;
        line-height: 2vmin;
        border: 2px solid #bbb;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        outline: none;
    }


    .tt-dropdown-menu {
        text-align: left;
        max-height: 18vmin;
        overflow-y: auto;
    }

    .typeahead {
        background-color: rgba(0,0,0,0);
    }

    .typeahead:focus {
      border: 2px solid @blue;
    }

    .tt-query {
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
         -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .tt-hint {
      color: #999
    }

    .tt-dropdown-menu {
        background-color: rgba(0,0,0,0);
        color: @blue;
        width: 80vmin;
        margin-top: 12px;
        border: 1px solid #999;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        // font-size: 24px;
    }

    .tt-suggestion {
      padding: 3% 1%;
      font-size: 2vmin;
      line-height: 2vmin;
      border-bottom: 1px solid #999;

      &:last-child {
        border: none;
      }
    }

    .tt-suggestion.tt-cursor {
      color: #fff;
      background-color: @blue;
    }

    .tt-suggestion p {
      margin: 0;
    }

    .state-picker-submit {
        margin-top: 3vmin;
        background-color: @red;
        border: @red;
        color: @musicLight;
    }

}

/*
** HEADER
*/

.header-container {
    box-shadow: inset 0 5vw 5vw -5vw black;
    height: 3.5vw;
    .results-header {
        color: @grayMedium;
        height: 3.5vw;
        display: block;
        overflow: hidden;

        line-height: 2vw;
        font-size: 1vw;
        padding: .8vw;
        @media screen and (max-width: @screen-sm){
            height:7vw;
            padding: 1.5vw 1.5vw;
            font-size: 2vw;
            line-height:4vw;
        }

        .logo {
            height:100%;
            width:5vw;
            margin: 0 .5% 0 0;
        }

        .leaderboard {
            float: right;
            // width:60%;
        }


        h2 {
            font-size: 1vw;
            line-height: 2vw;
            @media screen and (max-width: @screen-sm){
                font-size: 2vw;
                line-height:4vw;
            }
        }

        .results-header-group {
            // width:300px;
            white-space: nowrap;
            padding:0 1vw;
            float: left;
            box-sizing: border-box;
            line-height: 2vw;
            &:last-child{
                margin-right: 0;
            }

            .party,
            .total,
            .seats-needed {
                display: inline-block;
            }

            h2,
            p {
                margin: 0;
            }

            h2 {
                text-transform: uppercase;
                margin-top: 0;
                font-family: 'Cooper Hewitt';
                letter-spacing: 0.05em;
            }

            .total {
                white-space: nowrap;
            }

            &.not-called {
                h2 {
                    display: inline-block;
                }

                white-space: nowrap;
            }
        }

        .dem .percentage   {  background: @blueDim; }
        .gop .percentage   {  background: @redDim; }
        .not-called .count {  background: @gray; }

        .percentage,
        .count {
            margin-top: 0;
            font-family: 'Cooper Hewitt';
            display: inline-block;
            text-align: center;
            padding:0 5%;
            box-sizing:border-box;
            min-width:2vw;
            height:2vw;
            line-height: 2vw;
            border-radius: 1vw;
            @media screen and (max-width: @screen-sm){
                min-width:4vw;
                height:4vw;
                line-height: 4vw;
                border-radius: 2vw;
            }
        }
    }

    .results-header.header-controls {
        display: none;

        a {
            color: @grayMedium;
        }
        a:hover{
            color: darken(@grayMedium, 20%);
        }
        .right-controls {
            float: right;

            div {
                white-space: nowrap;
                float: left;
            }

            .chromecast {
                display: none;

                img {
                    width: 20px;
                    height: 20px;
                }
            }

            .volume-icon {
                width: 1.5vw;
                height: 1.5vw;
            }
        }
    }
}

.pym-container {
    width: 100%;
    height: 100%;
}
.logo{
    float:left;
    fill: @grayMedium;
}

/*
** SLIDE DEFAULTS
*/
h1, h2, h3{
    margin:0;
}
h2{
    font-size: 5vmin;
}
h3{
    font-size: 3.5vmin;
}

p{
    font-size: 2vmin;
    @media screen and (max-width: @screen-sm){
        font-size: 2vmin;
    }
}

.btn-lg{
    padding: 3vmin 3vmin;
    font-size: 3.5vmin;
    letter-spacing: .03em;
    border-radius: 0.5vmin;
    text-transform: uppercase;

    &:hover {
        background-color: darken(@red, 20%);
    }
}

#stack {
    display: none;
    overflow: hidden;
}

.slide {
    display: none;
    color: @musicLight;
}

.slide-inner {
    display: table;
    width: 100%;
    height: 100%;
}

.slide-content {
    display: table-cell;
    width:100%;
    img {
        width: 100%;
    }
    height: 100%;

    .tumblr{
        margin: 4% 6% 0;
        p {
            font-size: 3vmin;
            line-height: 3.7vmin;
        }
        .date{
            font-size: 2vmin;
        }
        .post-footer{
            position:absolute;
            bottom:10px;
            font-size:2vmin;
            a{
                padding-right:10px;
            }
        }
    }

    .tumblr-text-post {
        letter-spacing:-.03vmin;
        h2 {
            font-size: 3vmin;
        }
        .body{
            padding-top: 4%;
        }
    }

    .tumblr-image-post {
        .image {
            float:right;
            width:35%;
            img {
                width:100%;
                height:auto;
            }
        }
        .caption {
            float:left;
            width: 60%;
        }
    }

    .tumblr-quote-post {
        .date{
            padding-bottom:4%;
        }
        blockquote {
            font-size: 3vmin;
            border: none;
            padding:0;
            @media all and (-webkit-min-device-pixel-ratio:0) {
                -webkit-margin-before: 0;
                -webkit-margin-after: 0;
                -webkit-margin-start: 0;
                -webkit-margin-end: 0;
                text-indent: -0.31em;
            }

            span{
                background-color:@blueDarker;
                padding:.7vmin;
                -ms-box-decoration-break: clone;
                -webkit-box-decoration-break: clone;
                -o-box-decoration-break: clone;
                box-decoration-break: clone;
            }
        }
        footer {
            margin-top: 4%;
            border: none;
            padding-left: 0;
            cite {
                font-size: 2vmin;
                text-transform: uppercase;
                letter-spacing: .05em;
            }
        }
    }

    .tumblr-link-post {
        margin: 0 auto;
        max-width: 1024px;
        h2 a {
            font-size: 48px;
        }
        p {
            font-size: 30px;
        }
    }

    .instagram-grid {
        margin: 0 auto;
        max-width: 1280px;
        .photo {
            display: inline-block;
            float: left;
            width: 25%;
        }
    }
}


/* GRAPHICS */

.graphic {
	-webkit-text-size-adjust: none;
	color: @musicLight;
	padding: 22px 11px;

	h1 {
		margin: 0 0 22px 0;
		font-size: 24px;
		text-align: center;
	}
	h2 {
		font-weight: normal;
		font-size: 12px;
		margin: -16px 0 22px 0;
		text-align: center;
	}
	h3 {
		margin: 0 0 11px 0;
		font-size: 14px;
		text-align: center;
	}

	.footnotes {
		margin-bottom: 20px;
		color: @grayMedium;

		h4 {
			margin: 2px 0 7px 0;
			font-size: 11px;
		}
	}
	.footnotes p,
	.footer p {
		margin: 2px 0 0 0;
		font-size: 11px;
		line-height: 1.3;
		color: @grayMedium;
	}

	.r { color: @red; }
	.d { color: @blue; }
	.i { color: @green; }

	.axis {
		font-size: 11px;
		fill: #787878;

		line,
		path {
			fill: none;
			stroke: #787878;
			shape-rendering: crispEdges;
		}

		&.y path { display: none; }
		&.y .tick line { display: none; }
	}

	.grid {
		path { display: none; }
		.tick {
			stroke: #787878;
			stroke-dasharray: 2px 3px;
			stroke-width: 1px;
			shape-rendering: crispEdges;
		}
	}

	.bars {
		rect { shape-rendering: crispEdges; }
		.democratic { fill: @blue; }
		.republican { fill: @red; }
		.independent { fill: @green; }
		.not-yet-called { fill: @musicDark; }
	}

	.value { font-size: 11px; }

	.labels {
		text-align: right;
		font-size: 12px;
		line-height: 1.3;
		fill: @musicLight;
		font-weight: 500;

		.not-yet-called {
			fill: @grayMedium;
			font-weight: normal;
		}
	}

	.race-list {
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;

			& > li {
				margin: 0 0 6px 0;
				padding: 0;
				font-size: 12px;

				i.state {
					font-family: StateFaceRegular;
					text-align: center;
					display: inline-block;
					font-style: normal;
					width: 30px;
					margin-right: 5px;
					height: 2em;
					margin-top: -2px;
					float: left;
					font-size: 150%;
				}
				strong {
					font-weight: normal;
					display: block;
				}
				span { color: @grayMedium; }
			}
		}
	}
	.candidate-list {
		border-top: 1px solid @blueDark;
		padding-top: 11px;

		ul {
			margin: 0 0 6px 0;
			padding: 0;
			list-style-type: none;

			&:before {
				content: ' ';
				display: table;
			}
			&:after {
				content: ' ';
				display: table;
				clear: both;
			}
			& > li {
				margin: 0 0 5px 0;
				padding: 0;
				font-size: 11px;
				width: 20%;
				float: left;
				display: table;

				span {
					display: table-cell;
				}
				.district {
					width: 30px;

					&.d,
					&.r,
					&.i {
						color: #fff;
						padding: 0 3px;
						border-radius: 6px;
						width: 40px;
						text-align: center;
						font-size: 10px;
					}
					&.d { background-color: @blue; }
					&.r { background-color: @red; }
					&.i { background-color: @green; }
				}
				.name {
					letter-spacing: 0.1;
					padding-left: 5px;
				}
			}
		}
	}
}

#graphic-bop {
	position: relative;
	margin-bottom: 11px;

	&:before {
		content: ' ';
		display: table;
	}
	&:after {
		content: ' ';
		display: table;
		clear: both;
	}

	.chart {
		float: left;

		&.house { margin-right: 22px; }
	}

	.majority {
		line {
			stroke: @musicLight;
			stroke-width: 2px;
		}
		text {
			fill: @musicLight;
			font-size: 10px;
			font-style: italic;
		}
	}
}

.graphic.poll-closing {
	&:before {
		content: ' ';
		display: table;
	}
	&:after {
		content: ' ';
		display: table;
		clear: both;
	}
	.poll-map {
		width: 47%;
		float: left;

		img {
			width: 100%;
			height: auto;
		}
	}
	.key-races {
		width: 47%;
		float: right;
	}
	h3 {
		text-align: left;
		margin-bottom: 11px;
	}
}

