body {
  background-color: #eee;
}

.slide {
  background-color: #fff;
  margin: 30px;
  text-align: center;
  display: none;
}
.slide-inner {
  display: table-cell;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  vertical-align: middle;
}
