body {
    background-color: #141D24;
}

.slide {
    display: block;
}

.senate{
	padding-top: 2vw;
	table{
		font-size: 1.3vw;	
	}
	.results .races{
		.candidate-total{
			width:8%;
		}
		.candidate{
			width:31%;
		}
	}
	
}

.id-5083-KY{
	letter-spacing: -.03em;
}

