body {
    background-color: #141D24;
}

.slide {
    display: block;

    .results-header h1,
    .results-header h4 {
    	font-family: 'Cooper Hewitt',Helvetica,Arial,sans-serif;
    }
}

.house,
.governor,
.ballot-measures {
	padding: 0.5rem 1rem 1rem;
}

.senate{
	padding: 0.5rem 1rem 1rem;

	table{
		font-size: 1.4rem;
	}
	.results-header-group h2,
	.results-header-group p,
	.results-header-group .percentage,
	.results-header-group .count,
	.results-header-group .change{
		font-size:2.2rem;
	}

	.results .poll-closing-group{
		font-size:1.1rem;
	}
	.results .races{
		.pickup {
			width: 2%;
			padding: 0;

			&.party-change:after {
				font-size: 50%;
			}
		}
		.state {
			width: 8%;
		}
		.results-status {
			width: 12%;
		}
		.candidate-total{
			width:9%;

			&.reporting:after {
				font-size: 0.9rem;
				position: relative;
				top: -0.1rem;
			}
		}

		.candidate-total-spacer {
			padding: 0;
			position: absolute;
			font-size: 0;
			width: 0;
			overflow: hidden;
			white-space: nowrap;

			&:after {
				position: absolute;
				top: 0;
				bottom: 0;
				left: -1px;
				width: 2px;
				content: ' ';
				background: #141D24;
			}
		}

		.candidate{
			width:30%;

			&.incumbent img {
				height: 1.6rem;
			}
		}
		td{
			// padding-top:0;
			// padding-bottom:0;
			line-height:1.8rem;
		}
	}
}

.id-5083-KY,
.id-56730-WV {
	font-size:1.3rem;
	letter-spacing: -.06rem;
}

