body {
    background-color: #141D24;
}

.slide {
    display: block;
}

.senate{
	padding: 1rem;
	table{
		font-size: 1.5rem;	
	}
	.results-header-group h2,
	.results-header-group p,
	.results-header-group .percentage,
	.results-header-group .count,
	.results-header-group .change{
		font-size:2.2rem;
	}

	.results .poll-closing-group{
		font-size:1rem;
	}
	.results .races{
		.candidate-total{
			width:8%;
		}
		.candidate{
			width:31%;
		}
		td{
			// padding-top:0;
			// padding-bottom:0;
			line-height:1.8rem;
		}
	}
}

.id-5083-KY,
.id-56730-WV {
	font-size:1.3rem;
	letter-spacing: -.06rem;
}

