* * * * * ubuntu /bin/bash /home/ubuntu/apps/elections14/repository/run_on_server.sh fab $DEPLOYMENT_TARGET cron_jobs.rotate_slide >/var/log/elections14_cron_jobs_rotate_slide.log 2>&1
* * * * * ubuntu /bin/bash /home/ubuntu/apps/elections14/repository/run_on_server.sh fab $DEPLOYMENT_TARGET tumblr.get_posts >/var/log/elections14_tumblr_get_posts.log 2>&1
