<button class="ap-winner btn btn-mini disabled {% if candidate.ap_winner == False %}hidden{% endif %}
    {% if candidate.party == 'GOP' %}btn-danger{% endif %}
    {% if candidate.party == 'Dem' %}btn-primary{% endif %}
    {% if candidate.party == 'Other' %}btn-success{% endif %}
">AP</button>

<button class="npr-winner btn btn-mini disabled
    {% if race.accept_ap_call == True %}hidden{% endif %}
    {% if candidate.npr_winner == False %}hidden{% endif %}
    {% if candidate.party == 'GOP' %}btn-danger{% endif %}
    {% if candidate.party == 'Dem' %}btn-primary{% endif %}
    {% if candidate.party == 'Other' %}btn-success{% endif %}
">NPR</button>

<button class="npr-call btn btn-mini
    {% if race.accept_ap_call == True %}hidden{% endif %}
    {% if candidate.npr_winner == True %}hidden{% endif %}">Call for NPR</button>

<button class="npr-uncall btn btn-mini btn-warning
    {% if race.accept_ap_call == True %}hidden{% endif %}
    {% if candidate.npr_winner == True %}{% else %}hidden{% endif %}">Uncall for NPR</button>
