<!DOCTYPE html>
<html>
<head>
<title>The U.S. {{ chamber.title() }}</title>

{{ CSS.push('less/chamber.less') }}
{{ CSS.render('css/chamber.min.css') }}
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cms-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">AP Calls CMS</a>
            </div>

            <div class="collapse navbar-collapse" id="cms-nav">
                <ul class="nav navbar-nav">
                    <li {% if chamber.title() == 'Senate' %} class="active" {% endif %}><a href="../senate">Senate</a></li>
                    <li {% if chamber.title() == 'House' %} class="active" {% endif %}><a href="../house">House</a></li>
                    <li {% if chamber.title() == 'Governor' %} class="active" {% endif %}><a href="../house">Governor</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>The U.S. {{ chamber.title() }} ({{ count }})</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered table-hover table-condensed">
                {% for race in races %}
                {% if loop.index == 1 or loop.index % 20 == 0  %}
                <tr class="info">
                    <td><strong>State</strong></td>
                    <td><strong>Office</strong></td>
                    <td><strong>Candidates</strong></td>
                    <td></td>
                    <td><strong>Accept AP calls?</strong></td>
                </tr>
                {% endif %}
                <tr data-state-slug="{{ race.slug }}" class="{{ race.slug }}">
                    <td>
                      <strong>{{ race.state_postal }}</strong>
                    </td>
                    <td>
                      {{ race.office_name }} {% if chamber == "house" %}{{ race.seat_name }}{% endif %}
                    </td>

                    {% for candidate in race.top_candidates() %}
                    <td>
                        {% if candidate %}
                        <span class="candidate
                            {% if candidate.incumbent == True %}incumbent{% endif %}
                            {{ candidate.party.lower() }}
                            {% if candidate.accept_ap_call == True %}{% if candidate.ap_call == True %}called{% endif %}{% endif %}
                        "
                        data-first-name="{{ candidate.first_name }}"
                        data-last-name="{{ candidate.last_name }}">
                            {% include 'admin/_chamber_winner_buttons.html' %}
                            {{ candidate.first_name }} {{ candidate.last_name}}
                        </span>
                        {% endif %}
                    </td>

                    {% endfor %}
                    {#
                    <td>
                        {% for race in list %}
                        {% if loop.first %}

                        <span class="candidate
                            {% if race.incumbent == True %}incumbent{% endif %}
                            {{ race.party.lower() }}
                            {% if race.race.accept_ap_call == True %}{% if race.race.ap_call == True %}called{% endif %}{% endif %}
                        "
                        data-first-name="{{ race.first_name }}"
                        data-last-name="{{ race.last_name }}">
                            {% include 'admin/_chamber_winner_buttons.html' %}
                            {{ race.first_name }} {{ race.last_name}}
                        </span>
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for race in list %}
                        {% if loop.index == 2 %}

                        <span class="candidate
                            {% if race.incumbent == True %}incumbent{% endif %}
                            {{ race.party.lower() }}
                            {% if race.race.accept_ap_call == True%}{% if race.ap_call == True %}called{% endif %}{% endif %}
                        "
                        data-first-name="{{ race.first_name }}"
                        data-last-name="{{ race.last_name }}">
                            {% include 'admin/_chamber_winner_buttons.html' %}
                            {{ race.first_name }} {{ race.last_name}}
                        </span>
                        {% endif %}
                        {% endfor %}
                    </td>
                    #}
                    <td class="ap-call">
                        <button
                            id="{{ race.slug }}"
                            class="btn {% if race.accept_ap_call == True %}btn-success{% else %}btn-warning{% endif %} btn-mini"
                            data-race-slug="{{ race.slug }}">
                                {% if race.accept_ap_call == True %}
                                Accepting AP calls
                                {% else %}
                                Not accepting AP calls
                                {% endif %}
                        </button>
                    </td>

                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/chamber.js') }}
    {{ JS.render('js/chamber-footer.min.js') }}
</body>

</html>
