<!DOCTYPE html>
<html>
<head>
<title>Stack Administrator</title>

{{ CSS.push('less/admin.less') }}
{{ CSS.render('css/admin.min.css') }}

</head>

<body>

<section id="stack-admin">

    <div class="container-fluid">
        <div class="row">
            <div class="out graphics">
                <h2>Graphics</h2>
                <ul class="list-unstyled">
                    {% for slide in graphics %}
                    <li class="item" data-slide="{{ slide.slug }}">
                        <p class="slug"><a href="{{ S3_BASE_URL }}/preview/{{ slide.slug }}/index.html" target="_blank">{{ slide.slug }}</a></p>
                        <p class="time">{{ slide.time_on_screen }} seconds on screen</p>

                        <div class="controls">
                            <a class="add" href="#"><span class="fa fa-plus"></span></a>
                            <a href="{{ S3_BASE_URL }}/preview/{{ slide.slug }}/index.html#share" target="_blank"><span class="fa fa-share"></span></a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="out news">
                <h2>News Items</h2>
                <ul class="list-unstyled">
                    {% for slide in news %}
                    <li class="item" data-slide="{{ slide.slug }}" data-time ="{{ slide.time_on_screen }}">
                        <p class="slug"><a href="{{ S3_BASE_URL }}/preview/{{ slide.slug }}/index.html" target="_blank">{{ slide.slug }}</a></p>
                        <p class="time">{{ slide.time_on_screen }} seconds on screen</p>
                        <p>{{ slide.body|smarty }}</p>
                        <div class="controls">
                            <a class="add" href="#"><span class="fa fa-plus"></span></a>
                            <a class="preview" href="{{ S3_BASE_URL }}/preview/{{ slide.slug }}/index.html#share" target="_blank"><span class="fa fa-share"></span></a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="timeline">
                <h2>Live stack</h2>

                <p>Stack length: <span class="stack-time">{{ time }}</span> seconds</p>
                <ol class="sortable list-unstyled js-droppable-and-draggable">
                    {% for slide in sequence %}
                    <li class="item" data-slide="{{ slide.slide }}" data-time="{{ slide.time_on_screen }}">
                        <span class="dragger fa fa-align-justify"></span> {{ slide.slide }}
                        <div class="controls"><a class="remove" href="#"><span class="fa fa-times"></span></a></div>
                    </li>
                    {% endfor %}
                </ol>
                <div class="row">
                    <form role="form" class="send-stack">
                        <button type="submit" class="save-btn btn btn-primary btn-lg">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{{ JS.push('js/lib/jquery.js') }}
{{ JS.push('js/lib/jquery-sortable.js') }}
{{ JS.push('js/stack-admin.js') }}
{{ JS.render('js/admin-app-footer.min.js') }}

</body>
