<div id="balance-of-power" class="graphic balance-of-power">
    <div class="wrapper">
        {% if COPY.graphic_slides.headline_bop %}<h1>{{ COPY.graphic_slides.headline_bop }}</h1>{% endif %}
        {% if COPY.graphic_slides.subhed_bop %}<h2>{{ COPY.graphic_slides.subhed_bop }}</h2>{% endif %}

        <div id="graphic-bop"></div>

        {% if COPY.graphic_slides.footnote_bop %}
        <div class="footnotes">
            <h4>Notes</h4>
            <p>{{ COPY.graphic_slides.footnote_bop }}</p>
        </div>
        {% endif %}

        <div class="ap-credit">
            Source: {{ COPY.content.data_source }}&nbsp;&nbsp;|&nbsp;&nbsp;As of <span class="timestamp"></span>.
        </div>
    </div>
</div>

<script type="text/javascript">
(function() {
	var $container;
	var $content;
	var $graphic;
	var $timestamp;

	var data_house = [
		{ 'party': 'Democratic', 'party_abbr': 'Dem.', 'seats': {{ house_bop.dem.has }}, 'net': {{ house_bop.dem.picked_up }} },
		{ 'party': 'Republican', 'party_abbr': 'GOP', 'seats': {{ house_bop.gop.has }}, 'net': {{ house_bop.gop.picked_up }} },
		{ 'party': 'Independent', 'party_abbr': 'Ind.', 'seats': {{ house_bop.other.has }}, 'net': {{ house_bop.other.picked_up }} },
		{ 'party': 'Not called', 'party_abbr': 'Not called', 'seats': {{ house_not_called }}, 'net': 0 }
	];
	var data_senate = [
		{ 'party': 'Democratic', 'party_abbr': 'Dem.', 'seats': {{ senate_bop.dem.has }}, 'net': {{ senate_bop.dem.picked_up }} },
		{ 'party': 'Republican', 'party_abbr': 'GOP', 'seats': {{ senate_bop.gop.has }}, 'net': {{ senate_bop.gop.picked_up }} },
		{ 'party': 'Independent', 'party_abbr': 'Ind.', 'seats': {{ senate_bop.other.has }}, 'net': {{ senate_bop.other.picked_up }} },
		{ 'party': 'Not called', 'party_abbr': 'Not called', 'seats': {{ senate_not_called }}, 'net': 0 }
	];

	var header_house = '{{ COPY.graphic_slides.subhed_bop_house }}';
	var header_senate = '{{ COPY.graphic_slides.subhed_bop_senate }}';
	var majority_house = 218;
	var majority_senate = 51;
	var total_house = 435;
	var total_senate = 100;

	var color;
	var container_width;
	var container_height;
	var container_padding_top;
	var container_padding_sides;
	var content_height;
	var gutter_width;
	var label_width;
	var margin;
	var num_x_ticks = 5;
	var round_increment = 10;
	var page_padding_vw;
	var side_margin;
	var timestamp = {{ TIMESTAMP }} * 1000;
	var value_height;
	var value_limit;

	var fmt_comma = d3.format(',');
	var fmt_year_abbrev = d3.time.format('%y');
	var fmt_year_full = d3.time.format('%Y');

	/*
	 * Render the graphic
	 */
	function render() {
		// clear out existing graphics
		$graphic.empty();
		
		// compute dimensions
		container_width = Math.floor($container.width());
		container_height = Math.floor((container_width * 9) / 16);
		container_padding_sides = Math.ceil(parseFloat($content.css('paddingLeft'))) + Math.ceil(parseFloat($content.css('paddingRight')));
		container_padding_top = container_padding_sides * 4.5;
		
		content_height =
			Math.floor(
				(container_width * .03) + (container_width * .03) // h1 height
			  + (container_width * .02) + (container_width * .015) // h3 height
			  + (container_width * .015) + (container_width * .005) // footer height
			);

		gutter_width = Math.floor(container_width * .03) + 20; // 3vw, and offset the width of a possible scrollbar
		
		var graphic_height = container_height - content_height - container_padding_top;
		var graphic_width = Math.floor((container_width - container_padding_sides - gutter_width) / 2);
		
		/*
		console.log('------------------------------');
		console.log('container dimensions: ' + container_width + ' x ' + container_height);
		console.log('container padding: ' + container_padding_top + ', ' + container_padding_sides);
		console.log('gutter width: ' + gutter_width);
		console.log('content_height: ' + content_height);
		console.log('graphic dimensions: ' + graphic_width + ' x ' + graphic_height);
		console.log('total_width: ' + (container_padding_sides + graphic_width + gutter_width + graphic_width));
		console.log('total height: ' + (container_padding_top + content_height + graphic_height));
		*/
		
		label_width = Math.floor(container_width * .09); // 6vw
		margin = { 
			top: 0, 
			right: (Math.ceil(container_width * .01) + 6), 
			bottom: (Math.ceil(container_width * .01) + 10), 
			left: (label_width + 6)
		};
		value_height = Math.floor(container_width * .02); // 2vw
		value_limit = Math.floor(container_width * .04); // 4vw
		
		// draw charts
		draw_chart('senate', graphic_width, graphic_height);
		draw_chart('house', graphic_width, graphic_height);
		
		// set timestamp, make relative
		var ts = moment(timestamp).fromNow();
		$timestamp.empty().append(ts);
	}

	function draw_chart(id, graphic_width, graphic_height) {
		var graphic_data = eval('data_' + id);
		var majority = eval('majority_' + id);
		var majority_rounded = Math.ceil(majority / round_increment) * round_increment;
		var num_bars = graphic_data.length;
		var width = graphic_width - margin['left'] - margin['right'];
		var height = graphic_height - margin['top'] - margin['bottom'];
		var bar_gap = Math.ceil(height * .01);
		var bar_height = Math.floor(((height - (bar_gap * num_bars)) / num_bars));
		
		var graph = d3.select('#graphic-bop')
			.append('div')
				.attr('class', 'chart chart-' + classify(id))
				.attr('style', function() {
					var s = 'width: ' + graphic_width + 'px;';
					return s;
				});

		var header = graph.append('h3')
			.attr('style', 'margin-left: ' + margin['left'] + 'px;')
			.html(eval('header_' + id) + '<span>Majority: ' + majority + '</span>');
	
		var x = d3.scale.linear()
			.domain([0,
				d3.max(graphic_data, function(d) { 
					return Math.ceil(d['seats'] / round_increment) * round_increment;
				})
			]);
	
		if (x.domain()[1] < majority_rounded) {
			x.domain()[1] = majority_rounded;
		}
	
		x.range([0, width]);
	
		var y = d3.scale.linear()
			.range([height, 0]);

		var xAxis = d3.svg.axis()
			.scale(x)
			.orient('bottom')
			.ticks(num_x_ticks);
		
		var x_axis_grid = function() { 
			return xAxis;
		}

		var svg = graph.append('svg')
			.attr('width', width + margin['left'] + margin['right'])
			.attr('height', height + margin['top'] + margin['bottom'])
			.append('g')
			.attr('transform', 'translate(' + margin['left'] + ',' + margin['top'] + ')');

		svg.append('g')
			.attr('class', 'x axis')
			.attr('transform', 'translate(0,' + height + ')')
			.call(xAxis);

		svg.append('g')
			.attr('class', 'x grid')
			.attr('transform', 'translate(0,' + height + ')')
			.call(x_axis_grid()
				.tickSize(-height, 0, 0)
				.tickFormat('')
			);
	
		svg.append('g')
			.attr('class', 'bars')
			.selectAll('rect')
				.data(graphic_data)
			.enter().append('rect')
				.attr('y', function(d, i) { 
					return i * (bar_height + bar_gap);
				})
				.attr('width', function(d) {
					return x(d['seats']);
				})	
				.attr('height', bar_height)
				.attr('class', function(d, i) { 
					return 'bar-' + i + ' ' + classify(d['party']);
				});
	
		var majority_marker = svg.append('g')
			.attr('class', 'majority');
	
		majority_marker.append('line')
			.attr('x1', x(majority))
			.attr('y1', 0)
			.attr('x2', x(majority))
			.attr('y2', height);

		svg.append('g')
			.attr('class', 'value')
			.selectAll('text')
				.data(graphic_data)
			.enter().append('text')
				.attr('x', function(d) { 
					return x(d['seats']);
				})
				.attr('y', function(d, i) { 
					return i * (bar_height + bar_gap);
				})
				.attr('dx', function(d) {
					if (x(d['seats']) > value_limit) {
						return -(Math.ceil(container_width * .01));
					} else {
						return Math.ceil(container_width * .01);
					}
				})
				.attr('dy', Math.ceil((bar_height / 2) + (value_height / 3)))
				.attr('text-anchor', function(d) {
					if (x(d['seats']) > value_limit) {
						return 'end';
					} else {
						return 'begin';
					}
				})
				.attr('fill', function(d) {
					if (x(d['seats']) > value_limit) {
						return '#fff';
					} else {
						return '#999';
					}
				})
				.attr('class', function(d) { 
					return classify(d['party']);
				})
				.text(function(d) { 
					return d['seats'].toFixed(0);
				});
		
		svg.append('g')
			.attr('class', 'labels')
			.selectAll('text')
				.data(graphic_data)
			.enter().append('text')
				.attr('x', -6)
				.attr('y', function(d,i) {
					return (i * (bar_height + bar_gap));
				})
				.attr('dx', -(Math.ceil(container_width * .01)))
				.attr('dy', Math.ceil((bar_height / 2) + (value_height / 3)))
				.attr('text-anchor', 'end')
				.attr('class', function(d) {
					return classify(d['party']);
				})
				.text(function(d) { 
					return d['party'];
				});
	}

	function classify(str) {
		return str.replace(/\s+/g, '-').toLowerCase();
	}

	if (Modernizr.svg) {
		$graphic = $('#graphic-bop');
		$timestamp = $('.ap-credit').find('.timestamp');
		$container = $('#stack');
		$content = $('#balance-of-power');
		render();

		$(window).on('resize', render);

        STACK.setSlideExitCallback(function() {
            $(window).off('resize', render);
        });
	}
})();
</script>
