<div id="house-freshmen" class="graphic">
	{% if COPY.graphic_slides.headline_house_freshmen %}<h1>{{ COPY.graphic_slides.headline_house_freshmen }}</h1>{% endif %}
	{% if COPY.graphic_slides.subhed_house_freshmen %}<h2>{{ COPY.graphic_slides.subhed_house_freshmen }}</h2>{% endif %}

	<div class="candidate-list">
		<h3>{{ COPY.graphic_slides.subhed_won }} ({{ races_won|length }} of {{ races_count }})</h3>
		<ul>
			{% for race in races_won %}
			<li>
				{% for candidate in race.candidates %}
				{% if candidate.incumbent %}
				<span class="district {% if candidate.get_party() == 'dem' %} d {% endif %} {% if candidate.get_party() == 'gop' %} r {% endif %}">{{ race.state_postal }}-{{ race.seat_number }}</span>
				<span class="name">{{ candidate.last_name }}</span>
				{% endif %}
				{% endfor %}
			</li>
			{% endfor %}
		</ul>
	</div>

	<div class="candidate-list">
		<h3>{{ COPY.graphic_slides.subhed_lost }} ({{ races_lost|length }} of {{ races_count }})</h3>
		<ul>
			{% for race in races_lost %}
			<li>
				{% for candidate in race.candidates %}
				{% if candidate.incumbent %}

				<span class="district {% if candidate.get_party() == 'dem' %} d {% endif %} {% if candidate.get_party() == 'gop' %} r {% endif %}">{{ race.state_postal }}-{{ race.seat_number }}</span>
				<span class="name">{{ candidate.last_name }}</span>
				{% endif %}
				{% endfor %}
			</li>
			{% endfor %}
		</ul>
	</div>

	<div class="candidate-list undecided">
		<h3>{{ COPY.graphic_slides.subhed_tbd }} ({{ races_not_called|length }} of {{ races_count }})</h3>
		<ul>
			{% for race in races_not_called %}
			<li>
				{% for candidate in race.candidates %}
				{% if candidate.incumbent %}
				<span class="district {% if candidate.get_party() == 'dem' %} d {% endif %} {% if candidate.get_party() == 'gop' %} r {% endif %}">{{ race.state_postal }}-{{ race.seat_number }}</span>

				<span class="name">{{ candidate.last_name }}</span>
				{% endif %}
				{% endfor %}
			</li>
			{% endfor %}
		</ul>
	</div>
</div>