<div id="house-freshmen" class="graphic candidate-list">
	{% if COPY.house_freshmen.headline %}<h1>{{ COPY.house_freshmen.headline }}</h1>{% endif %}
	{% if COPY.house_freshmen.subhed %}<h2>{{ COPY.house_freshmen.subhed }}</h2>{% endif %}
	
	<div class="race-list">
		<h3>{{ COPY.house_freshmen.subhed_won }}</h3>
		<ul>
			<li><i class="stateface stateface-replace stateface-tn">&nbsp;</i>
				<strong>Tennessee Senate</strong><br />
				Name (D) vs. incumbent Name (R)</li>
			<li><i class="stateface stateface-replace stateface-pa">&nbsp;</i>
				<strong>Pennsylvania District 3</strong><br />
				Name (D) vs. incumbent Name (R)</li>
			<li><i class="stateface stateface-replace stateface-me">&nbsp;</i>
				<strong>Maine Governor:</strong><br />
				Name (D) vs. incumbent Name (R)</li>
			<li><i class="stateface stateface-replace stateface-nj">&nbsp;</i>
				<strong>New Jersey Governor</strong><br />
				Name (D) vs. incumbent Name (R)</li>
			<li><i class="stateface stateface-replace stateface-ok">&nbsp;</i>
				<strong>Oklahoma Prop. 2</strong><br />
				Name (D) vs. incumbent Name (R)</li>
			<li><i class="stateface stateface-replace stateface-ms">&nbsp;</i>
				<strong>Mississippi District 1</strong><br />
				Name (D) vs. incumbent Name (R)</li>
		</ul>
	</div>

	<div class="race-list">
		<h3>{{ COPY.house_freshmen.subhed_lost }}</h3>
		<ul>
			<li><i class="stateface stateface-replace stateface-tn">&nbsp;</i>
				<strong>Tennessee Senate</strong><br />
				Name (D) vs. incumbent Name (R)</li>
			<li><i class="stateface stateface-replace stateface-pa">&nbsp;</i>
				<strong>Pennsylvania District 3</strong><br />
				Name (D) vs. incumbent Name (R)</li>
			<li><i class="stateface stateface-replace stateface-me">&nbsp;</i>
				<strong>Maine Governor:</strong><br />
				Name (D) vs. incumbent Name (R)</li>
			<li><i class="stateface stateface-replace stateface-nj">&nbsp;</i>
				<strong>New Jersey Governor</strong><br />
				Name (D) vs. incumbent Name (R)</li>
			<li><i class="stateface stateface-replace stateface-ok">&nbsp;</i>
				<strong>Oklahoma Prop. 2</strong><br />
				Name (D) vs. incumbent Name (R)</li>
			<li><i class="stateface stateface-replace stateface-ms">&nbsp;</i>
				<strong>Mississippi District 1</strong><br />
				Name (D) vs. incumbent Name (R)</li>
		</ul>
	</div>

	<div class="race-list">
		<h3>{{ COPY.house_freshmen.subhed_tbd }}</h3>
		<ul>
			<li><i class="stateface stateface-replace stateface-tn">&nbsp;</i>
				<strong>Tennessee Senate</strong><br />
				Name (D) vs. incumbent Name (R)</li>
			<li><i class="stateface stateface-replace stateface-pa">&nbsp;</i>
				<strong>Pennsylvania District 3</strong><br />
				Name (D) vs. incumbent Name (R)</li>
			<li><i class="stateface stateface-replace stateface-me">&nbsp;</i>
				<strong>Maine Governor:</strong><br />
				Name (D) vs. incumbent Name (R)</li>
			<li><i class="stateface stateface-replace stateface-nj">&nbsp;</i>
				<strong>New Jersey Governor</strong><br />
				Name (D) vs. incumbent Name (R)</li>
			<li><i class="stateface stateface-replace stateface-ok">&nbsp;</i>
				<strong>Oklahoma Prop. 2</strong><br />
				Name (D) vs. incumbent Name (R)</li>
			<li><i class="stateface stateface-replace stateface-ms">&nbsp;</i>
				<strong>Mississippi District 1</strong><br />
				Name (D) vs. incumbent Name (R)</li>
		</ul>
	</div>
</div>