<div id="house-freshmen" class="graphic">
	<div class="wrapper">
		{% if COPY.graphic_slides.headline_house_freshmen %}<h1>{{ COPY.graphic_slides.headline_house_freshmen }}</h1>{% endif %}
		{% if COPY.graphic_slides.subhed_house_freshmen %}<h2>{{ COPY.graphic_slides.subhed_house_freshmen }}</h2>{% endif %}

		<div class="candidate-list">
			<h3>{{ COPY.graphic_slides.subhed_won }}
				<span>({{ races_won|length }} of {{ races_count }})</span></h3>
			<ul>
				{% for race in races_won %}
					{% for candidate in race.candidates %}
					{% if candidate.incumbent %}
					<li>
						<span class="district {% if candidate.get_party() == 'dem' %} d {% endif %} {% if candidate.get_party() == 'gop' %} r {% endif %}">{{ race.state_postal }}-{{ race.seat_number }}</span>
						<span class="name">{{ candidate.last_name }}</span>
					</li>
					{% endif %}
					{% endfor %}
				{% endfor %}
			</ul>
		</div>

		<div class="candidate-list">
			<h3>{{ COPY.graphic_slides.subhed_lost }} 
				<span>({{ races_lost|length }} of {{ races_count }})</span></h3>
			<ul>
				{% for race in races_lost %}
					{% for candidate in race.candidates %}
					{% if candidate.incumbent %}
					<li>
						<span class="district {% if candidate.get_party() == 'dem' %} d {% endif %} {% if candidate.get_party() == 'gop' %} r {% endif %}">{{ race.state_postal }}-{{ race.seat_number }}</span>
						<span class="name">{{ candidate.last_name }}</span>
					</li>
					{% endif %}
					{% endfor %}
				{% endfor %}
			</ul>
		</div>

		<div class="candidate-list undecided">
			<h3>{{ COPY.graphic_slides.subhed_tbd }}
				<span>({{ races_not_called|length }} of {{ races_count }})</span></h3>
			<ul>
				{% for race in races_not_called|sort(attribute='state_postal') %}
					{% for candidate in race.candidates %}
					{% if candidate.incumbent %}
					<li>
						<span class="district {% if candidate.get_party() == 'dem' %} d {% endif %} {% if candidate.get_party() == 'gop' %} r {% endif %}">{{ race.state_postal }}-{{ race.seat_number }}</span>
						<span class="name">{{ candidate.last_name }}</span>
					</li>
					{% endif %}
					{% endfor %}
				{% endfor %}
			</ul>
		</div>

	</div>
</div>