{% extends '_base_results.html' %}

{% block extra_css %}
{{ CSS.push('less/results.less') }}
{{ CSS.render('css/results.min.css') }}
{% endblock extra_css %}
{% block body_class %}house{% endblock body_class %}


{% block outer_content %}
<div id="banner">
    <h1>House</h1>
    <ul>
        <li id="dem_sec">
            <h2>Dem <span class="total">201</span> Needs <span class="neednum">17</span></h2>
        </li>
        <li id="gop_sec">
            <h2>GOP <span class="total">234</span> Needs <span class="neednum">0</span></h2>
        </li>
        <li id="ind_sec">
            <h2>Other <span class="total">0</span></h2>
        </li>
        <li id="nc_sec">
            <h2><span class="total">0</span> <span class="flux">Not called</span></h2>
        </li>
    </ul>
</div>

<div id="candidates"><div class="first column" style="width:50%; float: left;">
    <div class="timezone">
        <div class="poll-closing-time">
            <div class="poll-closing-time-label">

            7:00
            </div>
        </div>


            <ul class="called ">
            	<li class="status ga12 called">10:52 </li>
            	<li class="district">GA<span></span>12</li>
                <li class="dem incumbent  winner candidate ga12 candidate-1837">
                    John&nbsp;Barrow&nbsp;
                    <span class="vote-percent right">54</span>
                </li>
                <li class="gop    candidate ga12 candidate-11444">
                    Lee&nbsp;Anderson&nbsp;
                    <span class="vote-percent left">46</span>
                </li>
            </ul>


            <ul class="called swap">
            <li class="status in2 called">11:52 </li>
            <li class="district">IN<span></span>2</li>

                <li class="dem    candidate in2 candidate-61673">
                    Brendan&nbsp;Mullen&nbsp;
                    <span class="vote-percent right">48</span>
                </li>

                <li class="gop  swap winner candidate in2 candidate-60423">
                    Jackie&nbsp;Walorski&nbsp;
                    <span class="vote-percent left">49</span>
                </li>



            </ul>


            <ul class="called swap">
            <li class="status ky6 called">8:36 </li>
            <li class="district">KY<span></span>6</li>

                <li class="dem incumbent   candidate ky6 candidate-1310">
                    Ben&nbsp;Chandler&nbsp;
                    <span class="vote-percent right">47</span>
                </li>

                <li class="gop  swap winner candidate ky6 candidate-60705">
                    Andy&nbsp;Barr&nbsp;
                    <span class="vote-percent left">51</span>
                </li>



            </ul>

    </div>

    <div class="timezone">
        <div class="poll-closing-time">
            <div class="poll-closing-time-label">

            7:30
            </div>
        </div>


            <ul class="called ">
            <li class="status nc7 called">10:40 </li>
            <li class="district">NC<span></span>7</li>

                <li class="dem incumbent  winner candidate nc7 candidate-1025">
                    Mike&nbsp;McIntyre&nbsp;
                    <span class="vote-percent right">50</span>
                </li>

                <li class="gop    candidate nc7 candidate-35605">
                    David&nbsp;Rouzer&nbsp;
                    <span class="vote-percent left">50</span>
                </li>



            </ul>


            <ul class="called swap">
            <li class="status nc8 called">10:24 </li>
            <li class="district">NC<span></span>8</li>

                <li class="dem incumbent   candidate nc8 candidate-51652">
                    Larry&nbsp;Kissell&nbsp;
                    <span class="vote-percent right">46</span>
                </li>

                <li class="gop  swap winner candidate nc8 candidate-61758">
                    Richard&nbsp;Hudson&nbsp;
                    <span class="vote-percent left">54</span>
                </li>



            </ul>


            <ul class="called swap">
            <li class="status nc11 called">8:50 </li>
            <li class="district">NC<span></span>11</li>

                <li class="dem    candidate nc11 candidate-61750">
                    Hayden&nbsp;Rogers&nbsp;
                    <span class="vote-percent right">43</span>
                </li>

                <li class="gop  swap winner candidate nc11 candidate-61773">
                    Mark&nbsp;Meadows&nbsp;
                    <span class="vote-percent left">57</span>
                </li>



            </ul>


            <ul class="called swap">
            <li class="status nc13 called">8:30 </li>
            <li class="district">NC<span></span>13</li>

                <li class="dem    candidate nc13 candidate-61753">
                    Charles&nbsp;Malone&nbsp;
                    <span class="vote-percent right">43</span>
                </li>

                <li class="gop  swap winner candidate nc13 candidate-61779">
                    George&nbsp;Holding&nbsp;
                    <span class="vote-percent left">57</span>
                </li>



            </ul>


            <ul class="called ">
            <li class="status oh6 called">1:06 </li>
            <li class="district">OH<span></span>6</li>

                <li class="dem    candidate oh6 candidate-57238">
                    Charlie&nbsp;Wilson&nbsp;
                    <span class="vote-percent right">47</span>
                </li>

                <li class="gop incumbent  winner candidate oh6 candidate-60428">
                    Bill&nbsp;Johnson&nbsp;
                    <span class="vote-percent left">53</span>
                </li>



            </ul>


            <ul class="called ">
            <li class="status oh16 called">12:52 </li>
            <li class="district">OH<span></span>16</li>

                <li class="dem incumbent   candidate oh16 candidate-36985">
                    Betty&nbsp;Sutton&nbsp;
                    <span class="vote-percent right">48</span>
                </li>

                <li class="gop incumbent swap winner candidate oh16 candidate-60314">
                    Jim&nbsp;Renacci&nbsp;
                    <span class="vote-percent left">52</span>
                </li>



            </ul>

    </div>

    <div class="timezone">
        <div class="poll-closing-time">
            <div class="poll-closing-time-label">

            8:00
            </div>
        </div>


            <ul class="called ">
            <li class="status ct5 called">12:52 </li>
            <li class="district">CT<span></span>5</li>

                <li class="dem   winner candidate ct5 candidate-62534">
                    Elizabeth&nbsp;Esty&nbsp;
                    <span class="vote-percent right">52</span>
                </li>

                <li class="gop    candidate ct5 candidate-52161">
                    Andrew&nbsp;Roraback&nbsp;
                    <span class="vote-percent left">48</span>
                </li>



            </ul>


            <ul class="called swap">
            <li class="status fl18 called">2:16 </li>
            <li class="district">FL<span></span>18</li>

                <li class="dem  swap winner candidate fl18 candidate-62133">
                    Patrick&nbsp;Murphy&nbsp;
                    <span class="vote-percent right">50</span>
                </li>

                <li class="gop incumbent   candidate fl18 candidate-58634">
                    Allen&nbsp;West&nbsp;
                    <span class="vote-percent left">50</span>
                </li>



            </ul>


            <ul class="called ">
            <li class="status fl22 called">10:24 </li>
            <li class="district">FL<span></span>22</li>

                <li class="dem   winner candidate fl22 candidate-10720">
                    Lois&nbsp;Frankel&nbsp;
                    <span class="vote-percent right">55</span>
                </li>

                <li class="gop    candidate fl22 candidate-53020">
                    Adam&nbsp;Hasner&nbsp;
                    <span class="vote-percent left">45</span>
                </li>



            </ul>


            <ul class="called swap">
            <li class="status fl26 called">11:00 </li>
            <li class="district">FL<span></span>26</li>

                <li class="dem  swap winner candidate fl26 candidate-58641">
                    Joe&nbsp;Garcia&nbsp;
                    <span class="vote-percent right">54</span>
                </li>

                <li class="gop incumbent   candidate fl26 candidate-53045">
                    David&nbsp;Rivera&nbsp;
                    <span class="vote-percent left">43</span>
                </li>



            </ul>


            <ul class="called swap">
            <li class="status il8 called">11:04 </li>
            <li class="district">IL<span></span>8</li>

                <li class="dem  swap winner candidate il8 candidate-51631">
                    Tammy&nbsp;Duckworth&nbsp;
                    <span class="vote-percent right">55</span>
                </li>

                <li class="gop incumbent   candidate il8 candidate-18446">
                    Joe&nbsp;Walsh&nbsp;
                    <span class="vote-percent left">45</span>
                </li>



            </ul>


            <ul class="called swap">
            <li class="status il10 called">12:02 </li>
            <li class="district">IL<span></span>10</li>

                <li class="dem  swap winner candidate il10 candidate-61646">
                    Brad&nbsp;Schneider&nbsp;
                    <span class="vote-percent right">50</span>
                </li>

                <li class="gop incumbent   candidate il10 candidate-60158">
                    Bob&nbsp;Dold&nbsp;
                    <span class="vote-percent left">50</span>
                </li>



            </ul>


            <ul class="called swap">
            <li class="status il11 called">11:06 </li>
            <li class="district">IL<span></span>11</li>

                <li class="dem  swap winner candidate il11 candidate-58367">
                    Bill&nbsp;Foster&nbsp;
                    <span class="vote-percent right">58</span>
                </li>

                <li class="gop incumbent   candidate il11 candidate-187">
                    Judy&nbsp;Biggert&nbsp;
                    <span class="vote-percent left">42</span>
                </li>



            </ul>


            <ul class="called swap">
            <li class="status il17 called">11:06 </li>
            <li class="district">IL<span></span>17</li>

                <li class="dem  swap winner candidate il17 candidate-61657">
                    Cheri&nbsp;Bustos&nbsp;
                    <span class="vote-percent right">53</span>
                </li>

                <li class="gop incumbent   candidate il17 candidate-60791">
                    Bobby&nbsp;Schilling&nbsp;
                    <span class="vote-percent left">47</span>
                </li>



            </ul>


            <ul class="called ">
            <li class="status ma6 called">1:00 </li>
            <li class="district">MA<span></span>6</li>

                <li class="dem incumbent  winner candidate ma6 candidate-887">
                    John&nbsp;Tierney&nbsp;
                    <span class="vote-percent right">48</span>
                </li>

                <li class="gop    candidate ma6 candidate-54608">
                    Richard&nbsp;Tisei&nbsp;
                    <span class="vote-percent left">47</span>
                </li>



            </ul>


            <ul class="called swap">
            <li class="status md6 called">10:07 </li>
            <li class="district">MD<span></span>6</li>

                <li class="dem  swap winner candidate md6 candidate-61562">
                    John&nbsp;Delaney&nbsp;
                    <span class="vote-percent right">59</span>
                </li>

                <li class="gop incumbent   candidate md6 candidate-1063">
                    Roscoe&nbsp;Bartlett&nbsp;
                    <span class="vote-percent left">38</span>
                </li>



            </ul>


            <ul class="called swap">
            <li class="status nh1 called">1:02 </li>
            <li class="district">NH<span></span>1</li>

                <li class="dem  swap winner candidate nh1 candidate-53539">
                    Carol&nbsp;Shea-Porter&nbsp;
                    <span class="vote-percent right">50</span>
                </li>

                <li class="gop incumbent   candidate nh1 candidate-61212">
                    Frank&nbsp;Guinta&nbsp;
                    <span class="vote-percent left">46</span>
                </li>



            </ul>


            <ul class="called swap">
            <li class="status nh2 called">11:34 </li>
            <li class="district">NH<span></span>2</li>

                <li class="dem  swap winner candidate nh2 candidate-61213">
                    Ann&nbsp;Kuster&nbsp;
                    <span class="vote-percent right">50</span>
                </li>

                <li class="gop incumbent   candidate nh2 candidate-1080">
                    Charlie&nbsp;Bass&nbsp;
                    <span class="vote-percent left">45</span>
                </li>



            </ul>


            <ul class="called swap">
            <li class="status pa12 called">11:38 </li>
            <li class="district">PA<span></span>12</li>

                <li class="dem incumbent   candidate pa12 candidate-60307">
                    Mark&nbsp;Critz&nbsp;
                    <span class="vote-percent right">48</span>
                </li>

                <li class="gop  swap winner candidate pa12 candidate-60544">
                    Keith&nbsp;Rothfus&nbsp;
                    <span class="vote-percent left">52</span>
                </li>



            </ul>


            <ul class="called ">
            <li class="status ri1 called">10:24 </li>
            <li class="district">RI<span></span>1</li>

                <li class="dem incumbent  winner candidate ri1 candidate-39864">
                    David&nbsp;Cicilline&nbsp;
                    <span class="vote-percent right">52</span>
                </li>

                <li class="gop    candidate ri1 candidate-62709">
                    Brendan&nbsp;Doherty&nbsp;
                    <span class="vote-percent left">42</span>
                </li>



            </ul>

    </div>

    <div class="timezone">
        <div class="poll-closing-time">
            <div class="poll-closing-time-label">

            9:00
            </div>
        </div>


            <ul class="called ">
            <li class="status az1 called">5:00 </li>
            <li class="district">AZ<span></span>1</li>

                <li class="dem   winner candidate az1 candidate-59526">
                    Ann&nbsp;Kirkpatrick&nbsp;
                    <span class="vote-percent right">49</span>
                </li>

                <li class="gop    candidate az1 candidate-5277">
                    Jonathan&nbsp;Paton&nbsp;
                    <span class="vote-percent left">45</span>
                </li>



            </ul></div></div><div class="last  column" style="width:50%; float: left;"><div class="timezone split">


            <ul class="called ">
            <li class="status az9 called">1:10 </li>
            <li class="district">AZ<span></span>9</li>

                <li class="dem   winner candidate az9 candidate-5418">
                    Kyrsten&nbsp;Sinema&nbsp;
                    <span class="vote-percent right">48</span>
                </li>

                <li class="gop    candidate az9 candidate-61301">
                    Vernon&nbsp;Parker&nbsp;
                    <span class="vote-percent left">45</span>
                </li>



            </ul>


            <ul class="called ">
            <li class="status mi1 called">1:24 </li>
            <li class="district">MI<span></span>1</li>

                <li class="dem    candidate mi1 candidate-24649">
                    Gary&nbsp;McDowell&nbsp;
                    <span class="vote-percent right">47</span>
                </li>

                <li class="gop incumbent  winner candidate mi1 candidate-61069">
                    Dan&nbsp;Benishek&nbsp;
                    <span class="vote-percent left">48</span>
                </li>



            </ul>


            <ul class="called ">
            <li class="status mn6 called">4:52 </li>
            <li class="district">MN<span></span>6</li>

                <li class="dem    candidate mn6 candidate-62381">
                    Jim&nbsp;Graves&nbsp;
                    <span class="vote-percent right">49</span>
                </li>

                <li class="gop incumbent  winner candidate mn6 candidate-55336">
                    Michele&nbsp;Bachmann&nbsp;
                    <span class="vote-percent left">51</span>
                </li>



            </ul>


            <ul class="called swap">
            <li class="status mn8 called">2:20 </li>
            <li class="district">MN<span></span>8</li>

                <li class="dem  swap winner candidate mn8 candidate-62587">
                    Rick&nbsp;Nolan&nbsp;
                    <span class="vote-percent right">54</span>
                </li>

                <li class="gop incumbent   candidate mn8 candidate-60719">
                    Chip&nbsp;Cravaack&nbsp;
                    <span class="vote-percent left">46</span>
                </li>



            </ul>


            <ul class="called ">
            <li class="status ny1 called">12:20 </li>
            <li class="district">NY<span></span>1</li>

                <li class="dem incumbent  winner candidate ny1 candidate-1507">
                    Tim&nbsp;Bishop&nbsp;
                    <span class="vote-percent right">52</span>
                </li>

                <li class="gop    candidate ny1 candidate-61214">
                    Randy&nbsp;Altschuler&nbsp;
                    <span class="vote-percent left">48</span>
                </li>



            </ul>


            <ul class="called ">
            <li class="status ny11 called">11:46 </li>
            <li class="district">NY<span></span>11</li>

                <li class="dem    candidate ny11 candidate-62312">
                    Mark&nbsp;Murphy&nbsp;
                    <span class="vote-percent right">46</span>
                </li>

                <li class="gop incumbent  winner candidate ny11 candidate-61215">
                    Mike&nbsp;Grimm&nbsp;
                    <span class="vote-percent left">53</span>
                </li>



            </ul>


            <ul class="called swap">
            <li class="status ny18 called">1:02 </li>
            <li class="district">NY<span></span>18</li>

                <li class="dem  swap winner candidate ny18 candidate-62318">
                    Sean&nbsp;Maloney&nbsp;
                    <span class="vote-percent right">52</span>
                </li>

                <li class="gop incumbent   candidate ny18 candidate-60926">
                    Nan&nbsp;Hayworth&nbsp;
                    <span class="vote-percent left">48</span>
                </li>



            </ul>


            <ul class="called swap">
            <li class="status ny24 called">11:46 </li>
            <li class="district">NY<span></span>24</li>

                <li class="dem  swap winner candidate ny24 candidate-51919">
                    Dan&nbsp;Maffei&nbsp;
                    <span class="vote-percent right">48</span>
                </li>

                <li class="gop incumbent   candidate ny24 candidate-60930">
                    Ann Marie&nbsp;Buerkle&nbsp;
                    <span class="vote-percent left">44</span>
                </li>



            </ul>


            <ul class="called ">
            <li class="status ny25 called">11:10 </li>
            <li class="district">NY<span></span>25</li>

                <li class="dem incumbent  winner candidate ny25 candidate-1581">
                    Louise&nbsp;Slaughter&nbsp;
                    <span class="vote-percent right">57</span>
                </li>

                <li class="gop    candidate ny25 candidate-32372">
                    Maggie&nbsp;Brooks&nbsp;
                    <span class="vote-percent left">43</span>
                </li>



            </ul>


            <ul class="called swap">
            <li class="status ny27 called">12:34 </li>
            <li class="district">NY<span></span>27</li>

                <li class="dem incumbent   candidate ny27 candidate-61285">
                    Kathy&nbsp;Hochul&nbsp;
                    <span class="vote-percent right">49</span>
                </li>

                <li class="gop  swap winner candidate ny27 candidate-62324">
                    Chris&nbsp;Collins&nbsp;
                    <span class="vote-percent left">51</span>
                </li>



            </ul>


            <ul class="called ">
            <li class="status tx14 called">12:14 </li>
            <li class="district">TX<span></span>14</li>

                <li class="dem    candidate tx14 candidate-290">
                    Nick&nbsp;Lampson&nbsp;
                    <span class="vote-percent right">45</span>
                </li>

                <li class="gop   winner candidate tx14 candidate-61980">
                    Randy&nbsp;Weber&nbsp;
                    <span class="vote-percent left">53</span>
                </li>



            </ul>


            <ul class="called swap">
            <li class="status tx23 called">12:44 </li>
            <li class="district">TX<span></span>23</li>

                <li class="dem  swap winner candidate tx23 candidate-42151">
                    Pete&nbsp;Gallego&nbsp;
                    <span class="vote-percent right">50</span>
                </li>

                <li class="gop incumbent   candidate tx23 candidate-40801">
                    Quico&nbsp;Canseco&nbsp;
                    <span class="vote-percent left">46</span>
                </li>



            </ul>

    </div>

    <div class="timezone">
        <div class="poll-closing-time">
            <div class="poll-closing-time-label">

            10:00
            </div>
        </div>


            <ul class="called swap">
            <li class="status ia3 called">12:02 </li>
            <li class="district">IA<span></span>3</li>

                <li class="dem incumbent   candidate ia3 candidate-535">
                    Leonard&nbsp;Boswell&nbsp;
                    <span class="vote-percent right">44</span>
                </li>

                <li class="gop incumbent swap winner candidate ia3 candidate-537">
                    Tom&nbsp;Latham&nbsp;
                    <span class="vote-percent left">52</span>
                </li>



            </ul>


            <ul class="called ">
            <li class="status ia4 called">11:48 </li>
            <li class="district">IA<span></span>4</li>

                <li class="dem    candidate ia4 candidate-62158">
                    Christie&nbsp;Vilsack&nbsp;
                    <span class="vote-percent right">45</span>
                </li>

                <li class="gop incumbent  winner candidate ia4 candidate-539">
                    Steve&nbsp;King&nbsp;
                    <span class="vote-percent left">53</span>
                </li>



            </ul>


            <ul class="called ">
            <li class="status nv3 called">1:28 </li>
            <li class="district">NV<span></span>3</li>

                <li class="dem    candidate nv3 candidate-56885">
                    John&nbsp;Oceguera&nbsp;
                    <span class="vote-percent right">43</span>
                </li>

                <li class="gop incumbent  winner candidate nv3 candidate-60689">
                    Joe&nbsp;Heck&nbsp;
                    <span class="vote-percent left">50</span>
                </li>



            </ul>


            <ul class="called ">
            <li class="status nv4 called">1:14 </li>
            <li class="district">NV<span></span>4</li>

                <li class="dem   winner candidate nv4 candidate-62079">
                    Steven&nbsp;Horsford&nbsp;
                    <span class="vote-percent right">50</span>
                </li>

                <li class="gop    candidate nv4 candidate-60365">
                    Danny&nbsp;Tarkanian&nbsp;
                    <span class="vote-percent left">42</span>
                </li>



            </ul>


            <ul class="called ">
            <li class="status ut4 called">11:04 </li>
            <li class="district">UT<span></span>4</li>

                <li class="dem incumbent  winner candidate ut4 candidate-620">
                    Jim&nbsp;Matheson&nbsp;
                    <span class="vote-percent right">49</span>
                </li>

                <li class="gop    candidate ut4 candidate-62178">
                    Mia&nbsp;Love&nbsp;
                    <span class="vote-percent left">48</span>
                </li>



            </ul>

    </div>

    <div class="timezone">
        <div class="poll-closing-time">
            <div class="poll-closing-time-label">

            11:00
            </div>
        </div>


            <ul class="called swap">
            <li class="status ca7 called">7:22 </li>
            <li class="district">CA<span></span>7</li>

                <li class="dem  swap winner candidate ca7 candidate-60686">
                    Ami&nbsp;Bera&nbsp;
                    <span class="vote-percent right">51</span>
                </li>

                <li class="gop incumbent   candidate ca7 candidate-7721">
                    Dan&nbsp;Lungren&nbsp;
                    <span class="vote-percent left">49</span>
                </li>



            </ul>


            <ul class="called ">
            <li class="status ca10 called">5:00 </li>
            <li class="district">CA<span></span>10</li>

                <li class="dem    candidate ca10 candidate-62282">
                    Jose&nbsp;Hernandez&nbsp;
                    <span class="vote-percent right">46</span>
                </li>

                <li class="gop incumbent  winner candidate ca10 candidate-52493">
                    Jeff&nbsp;Denham&nbsp;
                    <span class="vote-percent left">54</span>
                </li>



            </ul>


            <ul class="called ">
            <li class="status ca21 called">1:28 </li>
            <li class="district">CA<span></span>21</li>

                <li class="dem    candidate ca21 candidate-7352">
                    John&nbsp;Hernandez&nbsp;
                    <span class="vote-percent right">41</span>
                </li>

                <li class="gop   winner candidate ca21 candidate-62229">
                    David&nbsp;Valadao&nbsp;
                    <span class="vote-percent left">59</span>
                </li>



            </ul>


            <ul class="called ">
            <li class="status ca24 called">3:32 </li>
            <li class="district">CA<span></span>24</li>

                <li class="dem incumbent  winner candidate ca24 candidate-72">
                    Lois&nbsp;Capps&nbsp;
                    <span class="vote-percent right">55</span>
                </li>

                <li class="gop    candidate ca24 candidate-52562">
                    Abel&nbsp;Maldonado&nbsp;
                    <span class="vote-percent left">45</span>
                </li>



            </ul>


            <ul class="called swap">
            <li class="status ca26 called">1:42 </li>
            <li class="district">CA<span></span>26</li>

                <li class="dem  swap winner candidate ca26 candidate-62395">
                    Julia&nbsp;Brownley&nbsp;
                    <span class="vote-percent right">52</span>
                </li>

                <li class="gop    candidate ca26 candidate-52566">
                    Tony&nbsp;Strickland&nbsp;
                    <span class="vote-percent left">48</span>
                </li>



            </ul>


            <ul class="called swap">
            <li class="status ca36 called">9:16 </li>
            <li class="district">CA<span></span>36</li>

                <li class="dem  swap winner candidate ca36 candidate-62342">
                    Raul&nbsp;Ruiz&nbsp;
                    <span class="vote-percent right">52</span>
                </li>

                <li class="gop incumbent   candidate ca36 candidate-135">
                    Mary&nbsp;Bono Mack&nbsp;
                    <span class="vote-percent left">48</span>
                </li>



            </ul>


            <ul class="called ">
            <li class="status ca41 called">6:48 </li>
            <li class="district">CA<span></span>41</li>

                <li class="dem   winner candidate ca41 candidate-8584">
                    Mark&nbsp;Takano&nbsp;
                    <span class="vote-percent right">58</span>
                </li>

                <li class="gop    candidate ca41 candidate-62231">
                    John&nbsp;Tavaglione&nbsp;
                    <span class="vote-percent left">42</span>
                </li>



            </ul>


            <ul class="called swap">
            <li class="status ca52 called">7:42 </li>
            <li class="district">CA<span></span>52</li>

                <li class="dem  swap winner candidate ca52 candidate-50902">
                    Scott&nbsp;Peters&nbsp;
                    <span class="vote-percent right">51</span>
                </li>

                <li class="gop incumbent   candidate ca52 candidate-6540">
                    Brian&nbsp;Bilbray&nbsp;
                    <span class="vote-percent left">49</span>
                </li>



            </ul>


            <ul class="called ">
            <li class="status wa1 called">12:56 </li>
            <li class="district">WA<span></span>1</li>

                <li class="dem   winner candidate wa1 candidate-61012">
                    Suzan&nbsp;DelBene&nbsp;
                    <span class="vote-percent right">54</span>
                </li>

                <li class="gop    candidate wa1 candidate-46225">
                    John&nbsp;Koster&nbsp;
                    <span class="vote-percent left">46</span>
                </li>



            </ul>

    </div>
</div><br style="clear:both;"></div>
{% endblock outer_content %}

{% block extra_foot_js %}
{{ JS.push('js/analytics.js') }}
{{ JS.render('js/results-footer.min.js') }}
{% endblock extra_foot_js %}
