<div id="incumbents-lost" class="graphic">
	{% if COPY.graphic_slides.headline_incumbents_lost %}<h1>{{ COPY.graphic_slides.headline_incumbents_lost }}</h1>{% endif %}
	{% if COPY.graphic_slides.subhed_incumbents_lost %}<h2>{{ COPY.graphic_slides.subhed_incumbents_lost }}</h2>{% endif %}
	
	<div class="candidate-list">
		<h3>{{ COPY.graphic_slides.subhed_dem }} (8)</h3>
		<ul>
			<li class="d">
				<span class="district">TX-6</span>
				<span class="name">Shaheen</span>
			</li>
			<li class="d">
				<span class="district">TX-6</span>
				<span class="name">Shaheen</span>
			</li>
			<li class="d">
				<span class="district">TX-6</span>
				<span class="name">Shaheen</span>
			</li>
			<li class="d">
				<span class="district">TX-6</span>
				<span class="name">Shaheen</span>
			</li>
			<li class="d">
				<span class="district">TX-6</span>
				<span class="name">Shaheen</span>
			</li>
			<li class="d">
				<span class="district">TX-6</span>
				<span class="name">Shaheen</span>
			</li>
			<li class="d">
				<span class="district">TX-6</span>
				<span class="name">Shaheen</span>
			</li>
			<li class="d">
				<span class="district">VA</span>
				<span class="name">Shaheen</span>
			</li>
		</ul>
	</div>

	<div class="candidate-list">
		<h3>{{ COPY.graphic_slides.subhed_gop }} (8)</h3>
		<ul>
			<li class="r">
				<span class="district">AL-2</span>
				<span class="name">Sessions</span>
			</li>
			<li class="r">
				<span class="district">AL-2</span>
				<span class="name">Sessions</span>
			</li>
			<li class="r">
				<span class="district">AL-2</span>
				<span class="name">Sessions</span>
			</li>
			<li class="r">
				<span class="district">AL-2</span>
				<span class="name">Sessions</span>
			</li>
			<li class="r">
				<span class="district">AL-2</span>
				<span class="name">Sessions</span>
			</li>
			<li class="r">
				<span class="district">AL-2</span>
				<span class="name">Sessions</span>
			</li>
			<li class="r">
				<span class="district">AL-2</span>
				<span class="name">Sessions</span>
			</li>
			<li class="r">
				<span class="district">AL-2</span>
				<span class="name">Sessions</span>
			</li>
		</ul>
	</div>

	<div class="candidate-list">
		<h3>{{ COPY.graphic_slides.subhed_ind }} (2)</h3>
		<ul>
			<li class="i">
				<span class="district">AL-2</span>
				<span class="name">Sessions</span>
			</li>
			<li class="i">
				<span class="district">AL-2</span>
				<span class="name">Sessions</span>
			</li>
		</ul>
	</div>
</div>