<div id="incumbents-lost" class="graphic">
	<div class="wrapper">
		{% if COPY.graphic_slides.headline_incumbents_lost %}<h1>{{ COPY.graphic_slides.headline_incumbents_lost }}</h1>{% endif %}
		{% if COPY.graphic_slides.subhed_incumbents_lost %}<h2>{{ COPY.graphic_slides.subhed_incumbents_lost }}</h2>{% endif %}

		<div class="candidate-list">
			<h3>U.S. Senate ({{ senate_incumbents_lost|length }})</h3>
			<ul>
				{% for race in senate_incumbents_lost|sort(attribute='state_postal') %}
				{% for candidate in race.candidates %}
				{% if candidate.incumbent and not candidate.is_winner() %}
				<li>
					<span class="district {% if candidate.get_party() == 'dem' %} d {% endif %} {% if candidate.get_party() == 'gop' %} r {% endif %}">{{ race.state_postal }}</span>
					<span class="name">{{ candidate.last_name }}</span>
				</li>
				{% endif %}
				{% endfor %}
				{% endfor %}
			</ul>
		</div>

		<div class="candidate-list">
			<h3>U.S. House ({{ house_incumbents_lost|length }})</h3>
			<ul>
				{% for race in house_incumbents_lost|sort(attribute='seat_number')|sort(attribute='state_postal') %}
				{% for candidate in race.candidates %}
				{% if candidate.incumbent and not candidate.is_winner() %}
				<li>
					<span class="district {% if candidate.get_party() == 'dem' %} d {% endif %} {% if candidate.get_party() == 'gop' %} r {% endif %}">{{ race.state_postal }}-{{ race.seat_number }}</span>
					<span class="name">{{ candidate.last_name }}</span>
				</li>
				{% endif %}
				{% endfor %}
				{% endfor %}
			</ul>
		</div>

        <div class="ap-credit">
            Source: {{ COPY.content.data_source }}&nbsp;&nbsp;|&nbsp;&nbsp;As of <span class="timestamp"></span>.
        </div>
    </div>
</div>

<script type="text/javascript">
(function() {
	var $timestamp = $('.ap-credit').find('.timestamp');
	var timestamp = {{ TIMESTAMP }} * 1000;

	// set timestamp, make relative
	var date = moment(timestamp).format('MMM. DD, YYYY');
	var time = moment(timestamp).format('h:mm A')
	$timestamp.empty().append(date + ' at ' + time);
})();
</script>