<div id="poll-closing-8pm" class="graphic poll-closing">
	{% if COPY.polls_closing.headline_8pm %}<h1>{{ COPY.polls_closing.headline_8pm }}</h1>{% endif %}
	{% if COPY.polls_closing.subhed_8pm %}<h2>{{ COPY.polls_closing.subhed_8pm }}</h2>{% endif %}
	
	<div class="poll-map"><img src="assets/slide-mockups/map-polls-8pm.svg" alt="Map" /></div>
	
	<div class="key-races">
		<ul>
			<li><i class="stateface stateface-replace stateface-tn">&nbsp;</i>
				<strong>Tennessee Senate</strong><br />
				Name (D) vs. incumbent Name (R)</li>
			<li><i class="stateface stateface-replace stateface-pa">&nbsp;</i>
				<strong>Pennsylvania District 3</strong><br />
				Name (D) vs. incumbent Name (R)</li>
			<li><i class="stateface stateface-replace stateface-me">&nbsp;</i>
				<strong>Maine Governor:</strong><br />
				Name (D) vs. incumbent Name (R)</li>
			<li><i class="stateface stateface-replace stateface-nj">&nbsp;</i>
				<strong>New Jersey Governor</strong><br />
				Name (D) vs. incumbent Name (R)</li>
			<li><i class="stateface stateface-replace stateface-ok">&nbsp;</i>
				<strong>Oklahoma Prop. 2</strong><br />
				Name (D) vs. incumbent Name (R)</li>
			<li><i class="stateface stateface-replace stateface-ms">&nbsp;</i>
				<strong>Mississippi District 1</strong><br />
				Name (D) vs. incumbent Name (R)</li>
		</ul>
	</div>
</div>