<div class="results-sliced recent-calls">
    <div class="wrapper">
        <div class="results-sliced-wrapper">
            <div class="results-header">
                <span id="us">z</span>
            </div>
            <div class="results-table">
                {% if races %}
                <h3>Recently Called {{ label }} Results</h3>
                <div class="house">
                   <div class="results">
                       {% include '_race_results_table.html' %}
                   </div>
                </div>
                {% endif %}

				<div class="ap-credit">
					Source: {{ COPY.content.data_source }}&nbsp;&nbsp;|&nbsp;&nbsp;As of <span class="timestamp"></span>.
				</div>

            </div>
        </div>

        {% include '_legend.html' %}
    </div>
</div>

<script type="text/javascript">
(function() {
	var $timestamp = $('.ap-credit').find('.timestamp');
	var timestamp = {{ TIMESTAMP }} * 1000;

	// set timestamp, make relative
	var ts = moment(timestamp).fromNow();
	$timestamp.empty().append(ts);
})();
</script>
