<div class="results-sliced recent-calls">
    <div class="wrapper">
        <div class="results-sliced-wrapper">
            <div class="results-table">
                {% if races %}
                <h3>Recently Called {{ label }} Results</h3>
                <div class="house">
                   <div class="results">
                       {% include '_race_results_table.html' %}
                   </div>
                </div>
                {% endif %}
                <div class="ap-credit">
                    Source: {{ COPY.content.data_source }}&nbsp;&nbsp;|&nbsp;&nbsp;As of <span class="timestamp">{{ TIMESTAMP }}</span>.
                </div>
            </div>
        </div>
    </div>
</div>
