<div id="rematches" class="graphic">
	{% if COPY.graphic_slides.headline_rematches %}<h1>{{ COPY.graphic_slides.headline_rematches }}</h1>{% endif %}
	{% if COPY.graphic_slides.subhed_rematches %}<h2>{{ COPY.graphic_slides.subhed_rematches }}</h2>{% endif %}
	
	<div class="candidate-list">
		<ul>
			<li class="r">
				<span class="district">TX-6</span>
				<span class="name">Shaheen</span>
			</li>
			<li class="r">
				<span class="district">AL-2</span>
				<span class="name">Sessions</span>
			</li>
			<li class="r">
				<span class="district">AL-2</span>
				<span class="name">Sessions</span>
			</li>
		</ul>
	</div>
</div>