<div id="romney-dems" class="graphic">
	{% if COPY.graphic_slides.headline_romney_dems %}<h1>{{ COPY.graphic_slides.headline_romney_dems }}</h1>{% endif %}
	{% if COPY.graphic_slides.subhed_romney_dems %}<h2>{{ COPY.graphic_slides.subhed_romney_dems }}</h2>{% endif %}
	
	<div class="candidate-list">
		<h3>{{ COPY.graphic_slides.subhed_won }} (3 of 12)</h3>
		<ul>
			<li class="d">
				<span class="district">TX-6</span>
				<span class="name">Shaheen</span>
			</li>
			<li class="d">
				<span class="district">AL-2</span>
				<span class="name">Sessions</span>
			</li>
			<li class="d">
				<span class="district">AL-2</span>
				<span class="name">Sessions</span>
			</li>
		</ul>
	</div>

	<div class="candidate-list">
		<h3>{{ COPY.graphic_slides.subhed_lost }} (6 of 12)</h3>
		<ul>
			<li class="d">
				<span class="district">TX-6</span>
				<span class="name">Shaheen</span>
			</li>
			<li class="d">
				<span class="district">TX-6</span>
				<span class="name">Shaheen</span>
			</li>
			<li class="d">
				<span class="district">AL-2</span>
				<span class="name">Sessions</span>
			</li>
			<li class="d">
				<span class="district">AL-2</span>
				<span class="name">Sessions</span>
			</li>
			<li class="d">
				<span class="district">AL-2</span>
				<span class="name">Sessions</span>
			</li>
			<li class="d">
				<span class="district">TX-6</span>
				<span class="name">Shaheen</span>
			</li>
		</ul>
	</div>

	<div class="candidate-list undecided">
		<h3>{{ COPY.graphic_slides.subhed_tbd }} (3 of 12)</h3>
		<ul>
			<li class="d">
				<span class="district">AL-2</span>
				<span class="name">Sessions</span>
			</li>
			<li class="d">
				<span class="district">AL-2</span>
				<span class="name">Sessions</span>
			</li>
			<li class="d">
				<span class="district">AL-2</span>
				<span class="name">Sessions</span>
			</li>
		</ul>
	</div>
</div>