{% extends '_base_results.html' %}

{% block extra_css %}
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

{{ CSS.push('less/results.less') }}
{{ CSS.render('css/results.min.css') }}
{% endblock extra_css %}

{% block body_class %}senate{% endblock body_class %}


{% block outer_content %}
<div class="container">

	<div class="results-header">
		<h1>Senate</h1>
		<div class="leaderboard">
			<div class="results-header-group dem">
				<h2 class="party">Dem</h2>
				<p class="total"><span class="percentage">53</span> <span class="change">+1</span></p>
				<p class="seats-needed" colspan="2">Needs <span class="count">0</span></p>
			</div>
			<div class="results-header-group gop">
				<h2 class="party">GOP</h2>
				<p class="total"><span class="percentage">45</span> <span class="change">-2</span></p>
				<p class="seats-needed" colspan="2">Needs <span class="count">6</span></td>
				</tr>
			</div>
			<div class="results-header-group other">
				<h2 class="party">Other</h2>
				<p class="total"><span class="percentage">2</span></p>
			</div>
			<div class="results-header-group not-called">
				<h2>Not Called</h2>
				<p class="total"><span class="count">0</span></p>
			</div>
		</div>
	</div>

	<div class="results">

		<div class="results-col">
			<h2 class="poll-closing-group"><span class="time">7:00</span></h2>
			<table class="races">
				<tr class="race">
					<td class="results-status called">9:56</td>
					<td class="state">IN</td>
					<td class="candidate dem winner">Joe Donnelly</td>
					<td class="candidate-total dem winner">50</td>
					<td class="candidate-total gop">44</td>
					<td class="candidate gop">Richard Mourdock</td>
				</tr>
				<tr class="race">
					<td class="results-status reporting">86%</td>
					<td class="state">VA</td>
					<td class="candidate dem incumbent">Tim Kaine</td>
					<td class="candidate-total dem">53</td>
					<td class="candidate-total gop">47</td>
					<td class="candidate gop">George Allen</td>
				</tr>
				<tr class="race">
					<td class="results-status reporting">78%</td>
					<td class="state">VT</td>
					<td class="candidate other">Bernie Sanders <span class="party">IND</span></td>
					<td class="candidate-total other">71</td>
					<td class="candidate-total gop">25</td>
					<td class="candidate gop incumbent">John MacGovern</td>
				</tr>
			</table>

			<h2 class="poll-closing-group"><span class="time">7:00</span></h2>
			<table class="races">
				<tr class="race">
					<td class="results-status called">9:56</td>
					<td class="state">IN</td>
					<td class="candidate dem winner">Joe Donnelly</td>
					<td class="candidate-total dem winner">50</td>
					<td class="candidate-total gop">44</td>
					<td class="candidate gop">Richard Mourdock</td>
				</tr>
				<tr class="race">
					<td class="results-status called">11:00</td>
					<td class="state party-change gop">VA</td>
					<td class="candidate dem incumbent">Tim Kaine</td>
					<td class="candidate-total dem">53</td>
					<td class="candidate-total gop winner">47</td>
					<td class="candidate gop winner">George Allen</td>
				</tr>
				<tr class="race">
					<td class="results-status">0%</td>
					<td class="state">VT</td>
					<td class="candidate other incumbent">Bernie Sanders <span class="party">IND</span></td>
					<td class="candidate-total other">71</td>
					<td class="candidate-total gop">25</td>
					<td class="candidate gop">John MacGovern</td>
				</tr>
			</table>

			<h2 class="poll-closing-group"><span class="time">7:00</span></h2>
			<table class="races">
				<tr class="race">
					<td class="results-status called">7:42</td>
					<td class="state">IN</td>
					<td class="candidate dem winner">Joe Donnelly</td>
					<td class="candidate-total dem winner">50</td>
					<td class="candidate-total gop">44</td>
					<td class="candidate gop">Richard Mourdock</td>
				</tr>
				<tr class="race">
					<td class="results-status">0%</td>
					<td class="state">VA</td>
					<td class="candidate dem">Tim Kaine</td>
					<td class="candidate-total dem">53</td>
					<td class="candidate-total gop">47</td>
					<td class="candidate gop incumbent">George Allen</td>
				</tr>
				<tr class="race">
					<td class="results-status reporting">48%</td>
					<td class="state">VT</td>
					<td class="candidate other incumbent">Bernie Sanders <span class="party">IND</span></td>
					<td class="candidate-total other">71</td>
					<td class="candidate-total gop">25</td>
					<td class="candidate gop">John MacGovern</td>
				</tr>
			</table>

			<h2 class="poll-closing-group"><span class="time">7:00</span></h2>
			<table class="races">
				<tr class="race">
					<td class="results-status called">8:23</td>
					<td class="state">IN</td>
					<td class="candidate dem winner">Joe Donnelly</td>
					<td class="candidate-total dem winner">50</td>
					<td class="candidate-total gop">44</td>
					<td class="candidate gop">Richard Mourdock</td>
				</tr>
				<tr class="race">
					<td class="results-status called">11:20</td>
					<td class="state party-change dem">VA</td>
					<td class="candidate dem winner">Tim Kaine</td>
					<td class="candidate-total dem winner">53</td>
					<td class="candidate-total gop">47</td>
					<td class="candidate gop incumbent">George Allen</td>
				</tr>
				<tr class="race">
					<td class="results-status reporting">10%</td>
					<td class="state">VT</td>
					<td class="candidate other">Bernie Sanders <span class="party">IND</span></td>
					<td class="candidate-total other">71</td>
					<td class="candidate-total gop">25</td>
					<td class="candidate gop">John MacGovern</td>
				</tr>
			</table>
		</div>

		<div class="results-col">
			<h2 class="poll-closing-group"><span class="time">7:00</span></h2>
			<table class="races">
				<tr class="race">
					<td class="results-status called">9:37</td>
					<td class="state">IN</td>
					<td class="candidate dem">Joe Donnelly</td>
					<td class="candidate-total dem">50</td>
					<td class="candidate-total gop winner">44</td>
					<td class="candidate gop winner">Richard Mourdock</td>
				</tr>
				<tr class="race">
					<td class="results-status called">7:14</td>
					<td class="state">VA</td>
					<td class="candidate dem winner">Tim Kaine</td>
					<td class="candidate-total dem winner">53</td>
					<td class="candidate-total gop">47</td>
					<td class="candidate gop">George Allen</td>
				</tr>
				<tr class="race">
					<td class="results-status called">11:48</td>
					<td class="state">VT</td>
					<td class="candidate other winner">Bernie Sanders <span class="party">IND</span></td>
					<td class="candidate-total other winner">71</td>
					<td class="candidate-total gop">25</td>
					<td class="candidate gop">John MacGovern</td>
				</tr>
			</table>

			<h2 class="poll-closing-group"><span class="time">7:00</span></h2>
			<table class="races">
				<tr class="race">
					<td class="results-status called">9:37</td>
					<td class="state">IN</td>
					<td class="candidate dem winner incumbent">Joe Donnelly</td>
					<td class="candidate-total dem winner">50</td>
					<td class="candidate-total gop">44</td>
					<td class="candidate gop">Richard Mourdock</td>
				</tr>
				<tr class="race">
					<td class="results-status">0%</td>
					<td class="state">VA</td>
					<td class="candidate dem">Tim Kaine</td>
					<td class="candidate-total dem">53</td>
					<td class="candidate-total gop">47</td>
					<td class="candidate gop incumbent">George Allen</td>
				</tr>
				<tr class="race">
					<td class="results-status called">8:43</td>
					<td class="state">VT</td>
					<td class="candidate other winner">Bernie Sanders <span class="party">IND</span></td>
					<td class="candidate-total other winner">71</td>
					<td class="candidate-total gop">25</td>
					<td class="candidate gop">John MacGovern</td>
				</tr>
			</table>

			<h2 class="poll-closing-group"><span class="time">7:00</span></h2>
			<table class="races">
				<tr class="race">
					<td class="results-status called">10:02</td>
					<td class="state">IN</td>
					<td class="candidate dem winner">Joe Donnelly</td>
					<td class="candidate-total dem winner">50</td>
					<td class="candidate-total gop">44</td>
					<td class="candidate gop">Richard Mourdock</td>
				</tr>
				<tr class="race">
					<td class="results-status reporting">7%</td>
					<td class="state">VA</td>
					<td class="candidate dem">Tim Kaine</td>
					<td class="candidate-total dem">53</td>
					<td class="candidate-total gop">47</td>
					<td class="candidate gop">George Allen</td>
				</tr>
				<tr class="race">
					<td class="results-status called">9:49</td>
					<td class="state">VT</td>
					<td class="candidate other">Bernie Sanders <span class="party">IND</span></td>
					<td class="candidate-total other">71</td>
					<td class="candidate-total gop winner">25</td>
					<td class="candidate gop winner">John MacGovern</td>
				</tr>
			</table>

			<h2 class="poll-closing-group"><span class="time">7:00</span></h2>
			<table class="races">
				<tr class="race">
					<td class="results-status called">8:52</td>
					<td class="state party-change dem">IN</td>
					<td class="candidate dem winner">Joe Donnelly</td>
					<td class="candidate-total dem winner">50</td>
					<td class="candidate-total gop">44</td>
					<td class="candidate gop incumbent">Michael Baumgartner</td>
				</tr>
				<tr class="race">
					<td class="results-status">0%</td>
					<td class="state">VA</td>
					<td class="candidate dem">Tim Kaine</td>
					<td class="candidate-total dem">53</td>
					<td class="candidate-total gop">47</td>
					<td class="candidate gop">George Allen</td>
				</tr>
				<tr class="race">
					<td class="results-status reporting">2%</td>
					<td class="state">VT</td>
					<td class="candidate other">Bernie Sanders <span class="party">IND</span></td>
					<td class="candidate-total other">71</td>
					<td class="candidate-total gop">25</td>
					<td class="candidate gop">John MacGovern</td>
				</tr>
			</table>
		</div>

<!-- 		<div class="results-col">
			<h2 class="poll-closing-group">9:00</h2>

			<h2 class="poll-closing-group">10:00</h2>


			<h2 class="poll-closing-group">11:00</h2>


		</div> -->

	</div>

</div>
{% endblock outer_content %}

{% block extra_foot_js %}
{# {{ JS.push('js/analytics.js') }} #}
{{ JS.render('js/results-footer.min.js') }}
{% endblock extra_foot_js %}
