<div class="results-sliced state-slide">
    <div class="wrapper">
        <div class="results-sliced-wrapper">
            <div class="results-header">
                <h2>{{ state_name }}</h2>
                <h4>Polls close at {{ races[0].poll_closing_time.strftime('%I:%M %p EST') }}</h4>

                <h1><span class="stateface stateface-{{ state_postal|lower }}"></span></h1>
                {% if page %}<h3 class="page">{{ page }} of 2</h3>{% endif %}
            </div>

            <div class="results-table">
                <h3>U.S. House overview</h3>

                <div class="results-wrapper">
                    <div class="current-results">
                        <h4>Current Congress (2013-14)</h4>
                        <p>
                            <span class="bar-wrapper">
                                <span class="bar gop" style="width: {{ current_gop_percent }}%"></span>
                                <span class="bar-label" style="left: {{ current_gop_percent }}%">{{ current_gop_number }}</span>
                            </span>
                        </p>
                        <p>
                            <span class="bar-wrapper">
                                <span class="bar dem" style="width: {{ current_dem_percent }}%"></span>
                                <span class="bar-label" style="left: {{ current_dem_percent }}%">{{ current_dem_number }}</span>
                            </span>
                        </p>
                        {% if current_other_number %}
                        <p>
                            <span class="bar-wrapper">
                                <span class="bar other" style="width: {{ current_other_percent }}%"></span>
                                <span class="bar-label" style="left: {{ current_other_percent }}%">{{ current_other_number }}</span>
                            </span>
                        </p>
                        {% endif %}
                    </div>

                    <div class="projected-results">
                        <h4>Next Congress (2015-16)</h4>
                        <p>
                            <span class="bar-wrapper">
                                <span class="bar gop" style="width: {{ called_gop_percent }}%;"></span>
                                {% if called_gop_number %}
                                <span class="bar-label" style="left: {{ called_gop_percent }}%">{{ called_gop_number }}</span>
                                {% endif %}
                            </span>
                        </p>
                        <p>
                            <span class="bar-wrapper">
                                <span class="bar dem" style="width: {{ called_dem_percent }}%";></span>
                                {% if called_dem_number %}
                                <span class="bar-label" style="left: {{ called_dem_percent }}%">{{ called_dem_number }}</span>
                                {% endif %}
                            </span>
                        </p>
                        {% if called_other_number %}
                        <p>
                            <span class="bar-wrapper">
                                <span class="bar other" style="width: {{ called_other_percent }}%;"></span>
                                <span class="bar-label" style="left: {{ called_other_percent }}%">{{ called_other_number }}</span>
                            </span>
                        </p>
                        {% endif %}
                    </div>
                </div>

                {% if races|length %}
                <h3>U.S. House races we're watching</h3>
                <div class="house">
                    <div class="results">
                        {% include '_race_results_table.html' %}
                    </div>
                </div>
                {% endif %}


				<div class="ap-credit">
					Source: {{ COPY.content.data_source }}&nbsp;&nbsp;|&nbsp;&nbsp;As of <span class="timestamp"></span>.
				</div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
(function() {
    var $timestamp = $('.ap-credit').find('.timestamp');
    $timestamp.empty().append("{{ TIMESTAMP }}");
})();
</script>
