<div class="results-sliced state-slide">
    <div class="wrapper">
        <div class="results-sliced-wrapper">
            <div class="results-header">
                <h2>{{ state_name }}</h2>
                <h1><span class="stateface stateface-{{ state_postal|lower }}"></span></h1>
            </div>

            <div class="results-table">
                {% for label, class, races in [('Governor', 'governor', governor), ('U.S. Senate', 'senate', senate)] %}
                {% if races.count() %}
                <h3>{{ label }} results</h3>
                <div class="{{ label|lower }}">
                    <div class="results">
                        {% include '_race_results_table.html' %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}

				<div class="ap-credit">
					Source: {{ COPY.content.data_source }}&nbsp;&nbsp;|&nbsp;&nbsp;As of <span class="timestamp"></span>.
				</div>

            </div>
        </div>

        {% include '_legend.html' %}
    </div>
</div>

<script type="text/javascript">
(function() {
    var $timestamp = $('.ap-credit').find('.timestamp');
    $timestamp.empty().append("{{ TIMESTAMP }}");
})();
</script>
