<div class="results state-slide">
	<div class="results-header">
            <h1>{{ page_title }}</h1>
    </div>
    <h2 class="header">Senate</h2>
	<table class="races">
	    {% for race in senate %}
	    <tr class="race dontsplit">
	        <td class="results-status{% if race.is_called() %} called{% elif race.is_reporting() %} reporting{% endif %}">
	            {% if race.is_called() %}
	                {{ race.precincts_reporting_percent()|format_percent }}%
	            {% elif race.is_reporting() %}
	                {{ race.precincts_reporting_percent()|format_percent }}%
	            {% else %}
	                0%
	            {% endif %}
	        </td>
	        {% set candidate = race.top_candidates()[0] %}
	        {% if candidate %}
	        <td class="candidate {{ candidate.party|lower }} id-{{ candidate.candidate_id }}{% if candidate.is_winner() %} winner{% endif %}{% if candidate.incumbent %} incumbent{% endif %}"><span class="fname">{{ candidate.first_name }}</span> <span class="lname">{{ candidate.last_name }}</span>{% if candidate.party.lower() == "ind" %} <span class="party">IND</span>{% endif %}</td>
	        <td class="candidate-total {{ candidate.party|lower }}{% if candidate.is_winner() %} winner{% endif %}">{% if race.is_reporting() %}{{ candidate.vote_percent()|format_percent }}{% else %}--{% endif %}</td>
	        {% else %}
	        <td class="candidate"></td>
	        <td class="candidate-total"></td>
	        {% endif %}
	        {% set candidate = race.top_candidates()[1] %}
	        {% if candidate %}
	        <td class="candidate-total {{ candidate.party|lower }}{% if candidate.is_winner() %} winner{% endif %}{% if candidate.incumbent %} incumbent{% endif %}">{% if race.is_reporting() %}{{ candidate.vote_percent()|format_percent }}{% else %}--{% endif %}</td>
	        <td class="candidate {{ candidate.party|lower }} id-{{ candidate.candidate_id }}{% if candidate.is_winner() %} winner{% endif %}"><span class="fname">{{ candidate.first_name }}</span> <span class="lname">{{ candidate.last_name }}</span>{% if candidate.party.lower() == "ind" %} <span class="party">IND</span>{% endif %}</td>
	        {% else %}
	        <td class="candidate-total"></td>
	        <td class="candidate"></td>
	        {% endif %}
	    </tr>
	    {% endfor %}
	</table>

	<h2 class="header">Governor</h2>
	<table class="races">
	    {% for race in governor %}
	    <tr class="race dontsplit">
	        <td class="results-status{% if race.is_called() %} called{% elif race.is_reporting() %} reporting{% endif %}">
	            {% if race.is_called() %}
	                {{ race.precincts_reporting_percent()|format_percent }}%
	            {% elif race.is_reporting() %}
	                {{ race.precincts_reporting_percent()|format_percent }}%
	            {% else %}
	                0%
	            {% endif %}
	        </td>
	        {% set candidate = race.top_candidates()[0] %}
	        {% if candidate %}
	        <td class="candidate {{ candidate.party|lower }} id-{{ candidate.candidate_id }}{% if candidate.is_winner() %} winner{% endif %}{% if candidate.incumbent %} incumbent{% endif %}"><span class="fname">{{ candidate.first_name }}</span> <span class="lname">{{ candidate.last_name }}</span>{% if candidate.party.lower() == "ind" %} <span class="party">IND</span>{% endif %}</td>
	        <td class="candidate-total {{ candidate.party|lower }}{% if candidate.is_winner() %} winner{% endif %}">{% if race.is_reporting() %}{{ candidate.vote_percent()|format_percent }}{% else %}--{% endif %}</td>
	        {% else %}
	        <td class="candidate"></td>
	        <td class="candidate-total"></td>
	        {% endif %}
	        {% set candidate = race.top_candidates()[1] %}
	        {% if candidate %}
	        <td class="candidate-total {{ candidate.party|lower }}{% if candidate.is_winner() %} winner{% endif %}{% if candidate.incumbent %} incumbent{% endif %}">{% if race.is_reporting() %}{{ candidate.vote_percent()|format_percent }}{% else %}--{% endif %}</td>
	        <td class="candidate {{ candidate.party|lower }} id-{{ candidate.candidate_id }}{% if candidate.is_winner() %} winner{% endif %}"><span class="fname">{{ candidate.first_name }}</span> <span class="lname">{{ candidate.last_name }}</span>{% if candidate.party.lower() == "ind" %} <span class="party">IND</span>{% endif %}</td>
	        {% else %}
	        <td class="candidate-total"></td>
	        <td class="candidate"></td>
	        {% endif %}
	    </tr>
	    {% endfor %}
	</table>

	<h2 class="header">House</h2>
	<table class="races">
	    {% for race in house %}
	    <tr class="race dontsplit">
	        <td class="results-status{% if race.is_called() %} called{% elif race.is_reporting() %} reporting{% endif %}">
	            {% if race.is_called() %}
	                {{ race.precincts_reporting_percent()|format_percent }}%
	            {% elif race.is_reporting() %}
	                {{ race.precincts_reporting_percent()|format_percent }}%
	            {% else %}
	                0%
	            {% endif %}
	        </td>
	        <td class="state{% if race.is_called() and race.party_changed() %} party-change{% endif %}{% if race.is_called() %} {{ race.get_winning_party() }}{% else %} {{ race.previous_party }}{% endif %} ">
	            {{ race.state_postal }}{% if race.seat_number != None %}<span class="seat_number">-{{ race.seat_number }}</span>
	            {% endif %}
	        </td>
	        {% set candidate = race.top_candidates()[0] %}
	        {% if candidate %}
	        <td class="candidate {{ candidate.party|lower }} id-{{ candidate.candidate_id }}{% if candidate.is_winner() %} winner{% endif %}{% if candidate.incumbent %} incumbent{% endif %}"><span class="fname">{{ candidate.first_name }}</span> <span class="lname">{{ candidate.last_name }}</span>{% if candidate.party.lower() == "ind" %} <span class="party">IND</span>{% endif %}</td>
	        <td class="candidate-total {{ candidate.party|lower }}{% if candidate.is_winner() %} winner{% endif %}">{% if race.is_reporting() %}{{ candidate.vote_percent()|format_percent }}{% else %}--{% endif %}</td>
	        {% else %}
	        <td class="candidate"></td>
	        <td class="candidate-total"></td>
	        {% endif %}
	        {% set candidate = race.top_candidates()[1] %}
	        {% if candidate %}
	        <td class="candidate-total {{ candidate.party|lower }}{% if candidate.is_winner() %} winner{% endif %}{% if candidate.incumbent %} incumbent{% endif %}">{% if race.is_reporting() %}{{ candidate.vote_percent()|format_percent }}{% else %}--{% endif %}</td>
	        <td class="candidate {{ candidate.party|lower }} id-{{ candidate.candidate_id }}{% if candidate.is_winner() %} winner{% endif %}"><span class="fname">{{ candidate.first_name }}</span> <span class="lname">{{ candidate.last_name }}</span>{% if candidate.party.lower() == "ind" %} <span class="party">IND</span>{% endif %}</td>
	        {% else %}
	        <td class="candidate-total"></td>
	        <td class="candidate"></td>
	        {% endif %}
	    </tr>
	    {% endfor %}
	</table>
</div>

<script>
	var colOpts = {
	  precise: true,
	  columns: {{ column_number }},
	}

	// Columnizer needs a short pause or else it acts strangely on subsequent calls
	setTimeout(function() {
	  $('.results').columnize(colOpts);
	  $('.results-wrapper').animate({ 'opacity': 1 }, 600, function() {
	    $(this).removeClass('hide-results');
	  });
	}, 100);
</script>