<div class="wrapper">
    <div class="date">{{ formatted_date }}</div>
    <blockquote>
        <p><span class="highlight">&ldquo;{{ post.text|safe }}&rdquo;</span></p>
        <footer>
            <cite><span class="highlight">&mdash; {{ post.source|safe }}</span></cite>
        </footer>
    </blockquote>
    <div class="post-footer">
        <a class="tumblr-link" href="{{ post.post_url }}">nprpolitics.tumblr.com</a> / <a class="twitter-link" href="http://twitter.com/nprpolitics"></span>@nprpolitics</a>
    </div>
</div>
