<div class="image">
    <img src="{{ image.url }}">
</div>
<div class="caption">
    <div class="centered">
        <div class="date">{{ formatted_date }}</div>
        <div class="body">{{ post.caption|safe }}</div>

        <div class="post-footer">
            <a class="tumblr-link" href="{{ post.post_url }}" target="_blank">nprpolitics.tumblr.com</a><br />
            <a class="twitter-link" href="http://twitter.com/nprpolitics" target="_blank"></span>@nprpolitics</a>
        </div>
    </div>
</div>
