<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{{ COPY.content.project_name }}{% endblock %}</title>

    <!-- META TAGS -->
    {% include '_meta.html' %}

    <!-- CHARTBEAT -->
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

    <!-- FONTS -->
    {% include '_fonts.html' %}

    <!-- CSS -->
    {{ CSS.push('less/app.less') }}
    {{ CSS.render('css/app.min.css') }}
    {% block extra_css %}{% endblock extra_css %}

    <!-- JS -->
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.render('js/app-header.min.js') }}

    {% include '_social_tags.html' %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>

    {% block outer_content %}
    {% endblock outer_content %}

    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/moment.js') }}
    {{ JS.push('js/lib/velocity.min.js') }}
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/analytics.js') }}
    {{ JS.push('js/copy.js') }}
    {{ JS.push('js/console.js') }}
    {{ JS.push('js/templates.js') }}
    {% block extra_foot_js %}{% endblock extra_foot_js %}

    {% block extra_foot %}
    {% endblock extra_foot %}
</body>
</html>
