{% extends '_base_results.html' %}

{% block extra_css %}

{% if DEPLOYMENT_TARGET %}
    <link rel="stylesheet" href="/css/app.less.css">
    <link rel="stylesheet" href="/css/studio-big-board.less.css">
{% else %}
    {{ CSS.push('less/app.less') }}
    {{ CSS.push('less/studio-big-board.less') }}
    {{ CSS.render('css/big_board.min.css') }}
{% endif %}

{% endblock extra_css %}

{% block outer_content %}
<script src="/js/lib/jquery.js"></script>

{{ body|smarty }}

{% endblock outer_content %}

{% block extra_foot_js %}
<script type="text/javascript">
    setInterval(function() {
        $.ajax({
            url: window.location,
            cache: false,
            dataType: 'html',
            success: function(response, status) {
                if (status == "success") {
                    $('.results-wrapper').html($(response).find('.results-inner'));
                }
            }
        })
    }, 15000);
</script>
{% endblock %}
