{% extends '_base_results.html' %}

{% block extra_css %}
{{ CSS.push('less/app.less') }}
{{ CSS.push('less/studio-big-board.less') }}
{{ CSS.render('css/big_board.min.css') }}
{% endblock extra_css %}

{% block outer_content %}
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/d3.v3.min.js"></script>
<script src="/js/lib/jquery.columnizer.js"></script>

{{ body|smarty }}

{% endblock outer_content %}

{% block extra_foot_js %}
<script type="text/javascript">
    setInterval(function() {
        $('.results-wrapper').load(window.location + ' .results-inner', function(response, status, xhr) {
            if (status == "success") {
                $('.results').columnize(colOpts);
            }
        });
    }, 10000);
</script>
{% endblock %}
