<div class="controls">
	<h3>Settings</h3>

	<ul class="list-unstyled">

		<!-- ONLY IF CASTING -->
		<div class="nav">
			<div class="slide-countdown"></div>
			<nav class="slide-nav">
				<a href="#" data-slide="previous" class="nav-btn nav-btn-left"><i class="icon ion-chevron-left"></i> Previous Slide</a>
				<a href="#" data-slide="next" class="nav-btn nav-btn-right">Next Slide <i class="icon ion-chevron-right"></i></a>
			</nav>
		</div>

		<!-- DESKTOP ONLY; NOT CASTING -->
		<li class="fullscreen">
			<a class="start" href="#"><i class="icon ion-arrow-expand"></i> <span>{{ COPY.chromecast.btn_fullscreen }}</span></a>
			<a class="stop" href="#"><i class="icon ion-arrow-shrink"></i> <span>{{ COPY.chromecast.btn_shrink }}</span></a>
		</li>

		<!-- FOR DESKTOP WHEN NOT CASTING -->
		<li>
            <div id="pop-audio" class="jp-jplayer"></div>
            <div id="jp_container_1" class="jp-audio">
                <div class="jp-type-single">
                    <div class="jp-gui jp-interface">
                        <div class="jp-controls">
                            <a href="#" class="pause nav-btn" tabindex="1" title="mute"><i class="icon ion-ios7-volume-low"></i> Mute</a>
                            <a href="#" class="play nav-btn" tabindex="1" title="unmute"><i class="icon ion-ios7-volume-high"></i> Play</a>
                        </div>
                    </div>
                </div>
            </div>
		</li>
		
		<!-- IF CASTING IS SUPPORTED -->
		<li>
			<a class="cast-start" href="#"><img src="assets/chromecast_off.svg" alt="" /> {{ COPY.chromecast.btn_start }}</a>
			<a class="cast-stop" href="#"><img src="assets/chromecast_on_blue.svg" alt="" /> {{ COPY.chromecast.btn_stop }}</a>
		</li>

		<!-- ALL USERS -->
		<li>
			<label>
                <span class="stateface stateface-ca"></span>
                <span class="state-name">California</span> (<a href="#" class="change-state">{{ COPY.chromecast.btn_state }}</a>)
            </label>
            <select class="state-picker">
                {% for postal_code, state in STATES.items() %}
                <option value="{{ postal_code }}">{{ state }}</option>
                {% endfor %}
            </select>
		</li>
	</ul>
</div>


