<div class="legend">
	<div class="container-fluid">
		<div class="row">
			<h3>{{ COPY.legend.hed_legend }}</h3>
			<ul class="list-unstyled list-1">
				<li><span class="key-color dem"></span> {{ COPY.legend.p_dem }}</li>
				<li><span class="key-color gop"></span> {{ COPY.legend.p_gop }}</li>
				<li><span class="key-color other"></span> {{ COPY.legend.p_other }}</li>
				<li><span class="winner dem">{{ COPY.legend.winner }}</span>
					<span class="winner gop">{{ COPY.legend.winner }}</span>
					<span class="winner other">{{ COPY.legend.winner }}</span></li>
				<li><span class="pickup">+1</span> {{ COPY.legend.pickup }}</li>
				<li><span class="seat-held">VA</span> {{ COPY.legend.seat }}</li>
				<li><span class="incumbent"><img src="/assets/incumbent.svg" alt="Incumbent" /></span> {{ COPY.legend.incumbent }}</li>
				<li><span class="reporting">76<sup>%</sup></span> {{ COPY.legend.reporting }}</li>
			</ul>
		</div>
	</div>
</div>