<ul class="list-unstyled">
	<li><span class="key-color dem"></span> Democrat</li>
	<li><span class="key-color gop"></span> Republican</li>
	<li><span class="key-color other"></span> Independent</li>
</ul>
<ul class="list-unstyled">
	<li><span class="winner">Winner</span></li>
	<li class="incumbent"><img src="/assets/incumbent.svg"> Incumbent</li>
	<li><span class="reporting">76%</span> Incumbent</li>
</ul>
<ul class="list-unstyled">
	<li><span class="seat-held">VA</span> Seat held by party color</li>
	<li><img src="/assets/incumbent.svg"> Seat gained by party color</li>
</ul>