<!DOCTYPE html>
<html>
<head>
    {% include '_fonts.html' %}

    {# Unfortunante hack because we're deploying this to staging and it can't compile a less file on demand #}
    {# <link rel="stylesheet" href="/css/app.less.css" /> #}
    {{ CSS.push('less/app.less') }}
    {{ CSS.render('preview.less.css') }}

    <!-- ugly includes because slide js is inlined and can't pickup the stuff from the base template -->
    <script src="/js/lib/d3.v3.min.js"></script>
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/jquery.columnizer.js') }}
    {{ JS.render('js/preview-header.min.js') }}

    <style>
        .slide {
            display: block;
            background-color: #141D24;
        }
    </style>
</head>

<body>
    <div id="landscape-wrapper">
        <div id="stack" class="stack" style="display: block;">
            {{ body|smarty }}
        </div>
        <div class="share-footer">
            <div class="share-title">
                {% include '_election_party.svg' %}
            </div>

            <div class="share-url">
                <h2>npr.org/election</h2>
            </div>
        </div>
    </div>

    <script>
        var onWindowResize = function() {
            var width = $(window).width();
            var height = $(window).height();
            
            var target_width = 1280;
            var target_height = 720;

            var new_height = width * 9 / 16;
            var padding = (height - new_height) / 2;

            if (padding < 0) {
                padding = 0;
            }

            $('#landscape-wrapper').css({
                'height': new_height + 'px',
                'position': 'absolute',
                'top': padding + 'px'
            });

            var thisSlide = $('.slide');
            resizeSlide(thisSlide);
            rotatePhone();
        }

        /*
         * Resize a slide to fit the viewport.
         */
        var resizeSlide = function(slide) {
            var $w = $('#landscape-wrapper').width();
            var $h = $('#landscape-wrapper').height();
            var headerHeight = 0;

            slide.width($w);
            slide.height($h - headerHeight);

            slide.find('.slide-content').width($w);
            slide.find('.slide-content').height($h - headerHeight);
        }

        $(document).ready(function() {

            if (window.location.hash === '#share') {
                $('body').prepend('<link rel="stylesheet" href="/css/share-ui.less.css">');
            }
            else {
                $(window).on('resize', onWindowResize);

                onWindowResize();
            }

        })
    </script>
</body>
</html>
