<!DOCTYPE html>
<html>
<head>
    {% include '_fonts.html' %}

    {{ CSS.push('less/app.less') }}
    {{ CSS.render('css/preview.min.css') }}

    <!-- ugly includes because slide js is inlined and can't pickup the stuff from the base template -->
    <script src="/js/lib/d3.v3.min.js"></script>
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/jquery.columnizer.js') }}
    {{ JS.render('js/preview-header.min.js') }}

    <style>
        .slide {
            display: block;
            background-color: #141D24;
        }
    </style>


</head>

<body>
    <div id="stack" class="stack" style="display: block;">
        {{ body|smarty }}
    </div>

    <script>
        $(document).ready(function() {
            if (typeof window.callPhantom === 'function') {
                window.callPhantom({ target: 'depict', status: 'ready' });
            }
        })

        var resizeSlide = function() {
            var $slide = $('.slide');
            var w = $(window).width();
            var h = $(window).height();

            $slide.width(w);
            $slide.height(h);

            $slide.find('.slide-content').width(w);
            $slide.find('.slide-content').height(h);
        }

        resizeSlide();

        $(window).on('resize', resizeSlide);

    </script>

</body>
