{% extends '_base.html' %}

{% block extra_css %}
<style>
    .template-picker {
        position: relative;
        margin-top: 10%;
    }

    .house-pagination {
        margin-top: 50px;
        display: none;
        width: 100%;
        color: white;
        text-align: center;
        font-size: 24px;
    }

    .radio input[type="radio"] {
        float: none;
    }
</style>
{% endblock %}

{% block outer_content %}
<div class="state-picker">
    <div class="picker">
        <input class="typeahead" type="text" placeholder="&#xf002;&nbsp;&nbsp; Select a state">
    </div>

    <div class="house-pagination">
        <p>This state has two pages for its house results. Which page do you want to preview?</p>

        <form role="form">
            <div class="radio">
              <label>
                <input type="radio" name="house-page" id="optionsRadios1" value="1" checked>
                Page 1
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="house-page" id="optionsRadios2" value="2">
                Page 2
              </label>
            </div>
        </form>
    </div>

    <div class="template-picker">
        <a href="#" class="btn btn-lg state-picker-submit">Preview</a>
        <a href="#" class="btn btn-lg state-picker-submit">Share</a>
    </div>
</div>
{% endblock %}

{% block extra_foot_js %}
{{ JS.push('js/lib/jquery.js') }}
{{ JS.push('js/app_config.js') }}
{{ JS.push('js/lib/typeahead.js') }}

{{ JS.render('js/state-picker.min.js')}}

<script type="text/javascript">

var STATES = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
  'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
  'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
  'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
  'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
  'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
  'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
  'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
  'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
];

var substringMatcher = function(strs) {
    return function findMatches(q, cb) {
        var matches = [];

        // iterate through the pool of strings and for any string that
        // contains the substring `q`, add it to the `matches` array
        $.each(strs, function(i, str) {
            var queryLength = q.length;
            var normalizedString = str.toLowerCase();
            if (normalizedString.substring(0, queryLength) === q.toLowerCase()) {
                // the typeahead jQuery plugin expects suggestions to a
                // JavaScript object, refer to typeahead docs for more info
                matches.push({ value: str });
            }
        });

        cb(matches);
    };
};

var checkState = function() {
    var input = $('.typeahead').typeahead('val');
    if (input) {
        var inverted = _.invert(APP_CONFIG.STATES);
        var state = inverted[input]
    }

    if (APP_CONFIG.PAGINATED_STATES.indexOf(state) >= 0 && window.location.pathname.split('/')[2] == 'state-house-results') {
        $('.house-pagination').show();
    }
}

var onStatePickerSubmitClick = function() {
    var input = $('.typeahead').typeahead('val');
    if (input) {
        var inverted = _.invert(APP_CONFIG.STATES);
        var state = inverted[input]
    }

    var path = window.location.href;
    path = path.substr(0, path.lastIndexOf('/'));
    path += '-' + state;

    if (window.location.pathname.split('/')[2] == 'state-house-results') {

        if ($('.house-pagination').is(':visible')) {
            var page = $('input[name=house-page]:checked').val();
        }

        else {
            page = '1'
        }

        path += '-' + page;
    }

    path += '/index.html';

    if ($(this).text() == "Share") {
        path += '#share';
    }

    window.location.href = path
}

$(document).ready(function() {
    $('.typeahead').typeahead({
        hint: true,
        highlight: true,
        minLength: 1
    },
    {
        name: 'states',
        displayKey: 'value',
        source: substringMatcher(STATES)
    });
    $('.typeahead').on('typeahead:selected', checkState);

    $('.state-picker-submit').on('click', onStatePickerSubmitClick);
});

</script>

{% endblock %}
