{% extends '_base.html' %}

{% block extra_css %}
<style>
    body {
        background-color: #eee;
        color: #111;
    }
    .state-picker-wrapper {
        display: block;
        margin: 0 auto;
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 24px;
    }

    .house-pagination {
        margin-top: 50px;
        display: none;
        width: 100%;
        color: white;
        text-align: center;
        font-size: 18px;
    }

    .radio input[type="radio"] {
        float: none;
    }
</style>
{% endblock %}

{% block outer_content %}
<div class="state-picker-wrapper">
    <h2>Pick which state you want to preview</h2>
    <select class="state-picker">
        <option value="US" selected>{{ COPY.chromecast.btn_state }}</option>
        {% for postal_code, state in STATES.items() %}
        <option value="{{ postal_code }}">{{ state }}</option>
        {% endfor %}
    </select>

    <div class="house-pagination">
        <p>This state has two pages for its house results. Which page do you want to preview?</p>

        <form role="form">
            <div class="radio">
              <label>
                <input type="radio" name="house-page" id="optionsRadios1" value="1" checked>
                Page 1
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="house-page" id="optionsRadios2" value="2">
                Page 2
              </label>
            </div>
        </form>
    </div>

    <div class="template-picker">
        <a href="#" class="btn btn-default state-picker-submit">Preview</a>
        <a href="#" class="btn btn-default state-picker-submit">Share</a>
    </div>
</div>
{% endblock %}

{% block extra_foot_js %}
{{ JS.push('js/lib/jquery.js') }}
{{ JS.push('js/app_config.js') }}
{{ JS.push('js/lib/typeahead.js') }}

{{ JS.render('js/state-picker.min.js')}}

<script type="text/javascript">

var state = null;
var $statePicker = $('.state-picker');

var checkState = function() {
   if (state != 'us') {
        state = $(this).find('option:selected').val();
    }

    if (APP_CONFIG.PAGINATED_STATES.indexOf(state) >= 0 && window.location.pathname.split('/')[2] == 'state-house-results') {
        $('.house-pagination').show();
    }
}

var onStatePickerSubmitClick = function() {
    var path = window.location.href;
    path = path.substr(0, path.lastIndexOf('/'));
    path += '-' + state;

    if (window.location.pathname.split('/')[2] == 'state-house-results') {

        if ($('.house-pagination').is(':visible')) {
            var page = $('input[name=house-page]:checked').val();
        }

        else {
            page = '1'
        }

        path += '-' + page;
    }

    path += '/index.html';

    if ($(this).text() == "Share") {
        path += '#share';
    }

    window.location.href = path
}

$(document).ready(function() {
    $statePicker.on('change', checkState);

    $('.state-picker-submit').on('click', onStatePickerSubmitClick);
});

</script>

{% endblock %}
