<div class="tumblr tumblr-image-post">
    <div class="image">
        <div class="centered">
            <img src="{{ image.url }}">
        </div>
    </div>
    <div class="caption">
        <div class="centered">
            <div class="date">{{ formatted_date }}</div>
            <div class="body">{{ caption }}</div>

            <div class="post-footer">
                <a class="tumblr-link" href="{{ post_url }}">nprpolitics.tumblr.com</a><br />
                <a class="twitter-link" href="http://twitter.com/nprpolitics"><span class="fa fa-twitter"></span> nprpolitics</a>
            </div>
        </div>
    </div>
</div>
