<div class="tumblr tumblr-quote-post">
    <div class="wrapper">
        <div class="date">{{ formatted_date }}</div>
        <blockquote>
            <span class="highlight">
                &ldquo;{{ text }}&rdquo;
            </span>
            <footer>
                <cite><span class="highlight">&mdash; {{ source }}</span></cite>
            </footer>
        </blockquote>
        <div class="post-footer">
            <a class="tumblr-link" href="{{ post_url }}">nprpolitics.tumblr.com</a>
            <a class="twitter-link" href="http://twitter.com/nprpolitics"><span class="fa fa-twitter"></span> nprpolitics</a>
        </div>
    </div>
</div>
