<div class="tumblr tumblr-link-post">
    <div class="wrapper">
        {% if title %}
        <h2><a href="{{ url }}">{{ title }}</a></h2>
        {% endif %}
        <div class="date">{{ formatted_date }}</div>

        <div class="body">
            {{ description }}
        </div>

        <div class="post-footer">
            <a class="tumblr-link" href="{{ post_url }}">nprpolitics.tumblr.com</a><br /> 
            <a class="twitter-link" href="http://twitter.com/nprpolitics"><span class="fa fa-twitter"></span> nprpolitics</a>
        </div>
    </div>
</div>
