{% extends '_base.html' %}

{% block content %}
<h1>CHROMECAST TEST</h1>

<div class="question">
    <p>How many women will be in the U.S. Senate at the end of the night?</p>
</div>
{% endblock %}

{% block extra_foot %}
<script src="//www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js"></script>

<script>
    window.onload = function() {
        var castReceiverManager = cast.receiver.CastReceiverManager.getInstance();
        var customMessageBus = castReceiverManager.getCastMessageBus(APP_CONFIG.CHROMECAST_NAMESPACE);

        customMessageBus.onMessage = function(e) {
            $('.message-handler').text(e.data);
        }
        
        castReceiverManager.start();
    }
</script>
{% endblock %}
