{% extends '_base.html' %}

{% block content %}
<h1>CHROMECAST TEST</h1>

<div class="message-handler">
</div>
{% endblock %}

{% block extra_foot %}
<script src="//www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js"></script>

<script>
    window.onload = function() {
        var castReceiverManager = cast.receiver.CastReceiverManager.getInstance();
        castReceiverManager.start();

        var customMessageBus = castReceiverManager.getCastMessageBus('urn:x-cast:com.google.cast.nprviz.elections14');

        customMessageBus.onMessage = function(e) {
            $('.message-handler').text(e.data);
        }
    }
</script>
{% endblock %}
