{% extends '_base.html' %}

{% block content %}

<h1>DynamoDB</h1>

<div class="display-code"></div>
    <div class="display-party-name"></div>

    <form class="quiz" role="form">
        <div class="form-group">
            <label for="name">
                What is your username?
                <input type="text" id="username">
            </label>
        </div>

        <div class="form-group">
            <label for="station">
                Pick your local station:
                <select class="form-control" id="station">
                    <option>WNYC</option>
                    <option>WBEZ</option>
                    <option>KPCC</option>
                </select>
            </label>
        </div>

        <div class="question">
            <p>How many women will be in the U.S. Senate at the end of the night?</p>

            <div class="radio">
                <label>
                    <input type="radio" name="answer" value="a">
                    20
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="answer" value="b">
                    25
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="answer" value="c">
                    22
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Answer Question</button>
            </div>
        </div>
    </form>

{% endblock %}

{% block extra_foot %}

<script src="https://sdk.amazonaws.com/js/aws-sdk-2.0.16.min.js"></script>
<script type="text/javascript">
    var DYNAMODB_ACCESS_KEY_ID = '{{ DYNAMODB_ACCESS_KEY_ID }}';
    var DYNAMODB_SECRET_ACCESS_KEY = '{{ DYNAMODB_SECRET_ACCESS_KEY }}';
</script>
{{ JS.push('js/app.js') }}


{% endblock %}
