{% extends '_base.html' %}

{% block header_content %}
{% endblock %}


{% block content %}


<a id="cast" href="#">Chromecast me!</a>
<a id="message" href="#">Say hello!</a>

<form class="quiz" role="form">
    <div class="form-group">
        <label for="name">
            What is your username?
            <input type="text" id="username">
        </label>
    </div>

    <div class="form-group">
        <label for="station">
            Pick your local station:
            <select class="form-control" id="station">
                <option>WNYC</option>
                <option>WBEZ</option>
                <option>KPCC</option>
            </select>
        </label>
    </div>

    <div class="question">
        <p>How many women will be in the U.S. Senate at the end of the night?</p>

        <div class="radio">
            <label>
                <input type="radio" name="answer" value="a">
                20
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="answer" value="b">
                25
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="answer" value="c">
                22
            </label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Answer Question</button>
        </div>
    </div>
</form>

{% endblock %}

{% block extra_foot %}
<script type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.0.16.min.js"></script>
<script type="text/javascript">
    var session = null;

    window['__onGCastApiAvailable'] = function(loaded, errorInfo) {
        if (loaded) {
            initializeCastApi();
        } else {
            console.log(errorInfo);
        }
    }

    var initializeCastApi = function() {
        var sessionRequest = new chrome.cast.SessionRequest('A6BCDD1E');
        var apiConfig = new chrome.cast.ApiConfig(
            sessionRequest,
            sessionListener,
            receiverListener
        );

        chrome.cast.initialize(apiConfig, onInitSuccess, onError);
    };

    function sessionListener(e) {
        session = e;
        session.addMessageListener(APP_CONFIG.CHROMECAST_NAMESPACE, receiverMessage);
    }

    function receiverMessage(namespace, message) {
        console.log('Message from receiver:', message)
    }

    function receiverListener(e) {
        if (e === chrome.cast.ReceiverAvailability.AVAILABLE) {
            console.log('available');
        } else {
            console.log('not available');
        }
    }

    function onInitSuccess(e) {
        console.log('init success');
    }

    function onError(e) {
        console.log('init error:', e);
    }

    function onSendError(message) {
        console.log(message);
    }

    function onSendSuccess(message) {
        console.log(message);
    }

    function sendMessage(message) {
        console.log(session);
        session.sendMessage(APP_CONFIG.CHROMECAST_NAMESPACE, message, onSendSuccess, onSendError);
    }

    $('#cast').click(function(e) {
        e.preventDefault();

        chrome.cast.requestSession(onRequestSessionSuccess, onLaunchError);
    });

    function onRequestSessionSuccess(e) {
        session = e;
    }

    $('#message').click(function(e) {
        e.preventDefault();

        sendMessage('hello!');
    });

    function onLaunchError(e) {
        console.log('launch error:', e);
    }

</script>

<script type="text/javascript">
    AWS.config.update({accessKeyId: 'AKIAJJB6ZCQL77AYVNPQ', secretAccessKey: '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'});

    AWS.config.region = 'us-west-2';

    var table = new AWS.DynamoDB({params: {TableName: 'elections14-game'}});

    var guid = function() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
            var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);
            return v.toString(16);
        });
    }

    $('.quiz').submit(function(e) {
        e.preventDefault();

        var timestamp = new Date().getTime();
        timestamp = timestamp.toString();
        var user = $('#username').val();
        var station = $('#station').val();
        var answer = $('input[name="answer"]:checked').val();

        var itemParams = {
            Item: {
                user_id: {
                    S: guid()
                },
                timestamp: {
                    S: timestamp
                },
                question: {
                    N: '1'
                },
                answer: {
                    S: answer
                },
                station: {
                    S: station
                },
                user: {
                    S: user
                }
            }
        };
        table.putItem(itemParams, function(err) {
            console.log(err);
        });
    });
</script>
{% endblock %}

{% include '_share_modal.html' %}
