{% extends '_base.html' %}

{% block extra_css %}
{{ CSS.push('less/stack.less') }}
{{ CSS.render('css/index.min.css') }}
{% endblock extra_css %}

{% block outer_content %}
<div class="slide welcome">
    <div class="slide-inner">
        <div class="slide-content">
            {% include '_logo.svg' %}

            <div class="intro-text">
                <h1>
                <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star" style="margin-right: 0;"></span>
                2014
                <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                </h1>
                <h2>Election Party!</h2>
            </div>

            <div class="call-to-action">
                <button class="btn btn-lg welcome-button">Get Started</button>
            </div>

            <div class="tv-prompt">
                <img class="icon" src="assets/tv.svg">
                <h3>Stream on your TV</h3>
                <p>Use your Apple TV, <a id="cast-start" href="#">Chromecast</a>, or Roku device.</p>
            </div>
        </div>
    </div>
</div>

<div class="state-picker slide">
    <div class="slide-inner">
        <div class="slide-content">
            <h2>Get up to the minute results on your state</h2>

            <div class="state">
                <span class="stateface"></span>
                <h3 class="state-name"></h3>
            </div>

            <form role="form" class="state-picker-form">
                <div class="form-group">
                    <input class="typeahead" type="text" placeholder="&#xf002;&nbsp;&nbsp; Select a different state">
                </div>

                <button type="submit" class="btn btn-lg state-picker-submit">Join the party</button>
            </form>
        </div>
    </div>
</div>

<div class="cast-controls slide">
    <div class="slide-inner">
        <div class="slide-content">
            <p>You're casting!</p>

            <p><a class="cast-stop" href="#"><img src="{{ S3_BASE_URL }}/assets/chromecast_on_blue.svg" /></a></p>
        </div>
    </div>
</div>

<div id="stack">
    <div class="header-container">
        <div class="results-header index">
            {% include '_logo.svg' %}

            <span class="hashtag">#nprparty</span>
            {% if bop %}
            <div class="leaderboard">
                <div class="results-header-group">
                <h2>Senate Results:</h2>
                </div>
                <div class="results-header-group dem">
                    <h2 class="party">Dem</h2>
                    <p class="total"><span class="percentage">{{ bop.dem.has }}</span> <span class="change">{{ bop.dem.picked_up|signed }}</span></p>
                </div>
                <div class="results-header-group gop">
                    <h2 class="party">GOP</h2>
                    <p class="total"><span class="percentage">{{ bop.gop.has }}</span> <span class="change">{{ bop.gop.picked_up|signed }}</span></p>
                    </tr>
                </div>
                <div class="results-header-group not-called">
                    <h2 class="party">Not Called</h2>
                    <p class="total"><span class="count">{{ not_called }}</span></p>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="results-header header-controls">
            <a href="#" data-toggle="modal" data-backdrop="static" data-target="#share-modal">Share <span class="fa fa-share"></span></a>

            <div class="right-controls">
                <div class="state results-header-group">
                    <a class="state-picker-link" href="#"></a>
                </div>
                <div class="chromecast">
                    <p><a class="cast-start" href="#"><img src="{{ S3_BASE_URL }}/assets/chromecast_off.svg" /></a></p>
                </div>
                <div class="volume results-header-group">
                    <div id="audio-ambient">
                        <div id="pop-audio" class="jp-jplayer"></div>
                        <div id="jp_container_1" class="jp-audio">
                            <div class="jp-type-single">
                                <div class="jp-gui jp-interface">
                                    <div class="jp-controls">
                                        <a href="javascript:;" class="jp-play nav-btn" tabindex="1" title="stop"><img class="volume-icon" src="{{ S3_BASE_URL }}/assets/mute.svg"></a>
                                        <a href="javascript:;" class="jp-pause nav-btn" tabindex="1" title="play"><img class="volume-icon" src="{{ S3_BASE_URL }}/assets/volume.svg"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fullscreen results-header-group">
                    <p><a href="#"><span class="fa fa-expand"></span></a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% include '_share_modal.html' %}

<script src="//js.maxmind.com/js/apis/geoip2/v2.1/geoip2.js" type="text/javascript"></script>
<script src="//www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js"></script>
<script src="js/lib/d3.v3.min.js"></script>
{% endblock outer_content %}

{% block extra_foot_js %}
{{ JS.push('js/lib/jquery.jplayer.js') }}
{{ JS.push('js/chromecast_receiver.js') }}
{{ JS.push('js/chromecast_sender.js') }}
{{ JS.push('js/stack.js') }}
{{ JS.push('js/app.js') }}
{{ JS.push('js/analytics.js') }}
{{ JS.render('js/index-footer.min.js') }}
{% endblock extra_foot_js %}

{% block extra_foot %}
{# Note: must load after chromecast_sender.js #}
<script type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script>
{% endblock extra_foot %}
