{% extends "_base.html" %}

{% block title %}Stream elections results, NPR-style{% endblock %}

{% block extra_css %}
    {{ CSS.push('less/promo.less') }}
    {{ CSS.render('css/promo.min.css') }}
{% endblock %}

{% block outer_content %}
        <section class="top">
            <div class="wrap">
                {% include '_logo.svg' %}
                <h1>Elections matter.</h1>
                <h2>36 Senate races. 36 governor races. $4 billion.</h2>
                <h2>Millions of voters.</h2>
                <h2>One night.</h2>
                <img class="hero" src="{{ S3_BASE_URL}}/assets/promo/hero.png" width="562" />
            </div>

            <div class="description">
                <div class="wrap">
                    <p class="date">
                        <svg class="icon-cal" version="1.1"
                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                             x="0px" y="0px" width="28px" height="32px" viewBox="0 0 28 32" enable-background="new 0 0 28 32" xml:space="preserve">
                        <defs>
                        </defs>
                        <path fill="#fff" d="M0,30c0,1.1,0.9,2,2,2h24c1.1,0,2-0.9,2-2V12H0V30z M8,20h4v-4h4v4h4v4h-4v4h-4v-4H8V20z M28,6v4H0V6
                            c0-1.1,0.9-2,2-2h2V2c0-1.1,0.9-2,2-2s2,0.9,2,2v2h12V2c0-1.1,0.9-2,2-2s2,0.9,2,2v2h2C27.1,4,28,4.9,28,6z"/>
                        </svg>
                        <strong>Tuesday, Nov. 4</strong>, starting at 7&nbsp;p.m.&nbsp;EST
                    </p>
                    <div class="chatter">
                        <p>Come back to <a href="{{ S3_BASE_URL }}">elections.npr.org</a> on election night for live results and the smartest reporting, NPR-style.</p>
                    </div>
                </div>
            </div>

        </section>

        <section class="actions">
            <div class="wrap">
                <p>Host your own #nprparty on election night!</p>

                <ol class="steps list-unstyled">
                    <li>
                        <a class="button create-invitation btn btn-lg" href="http://i.nvite.com/npr/start"><i class="fa fa-envelope-o"></i> Create An Invitation!</a>
                    </li>
                </ol>
            </div>
        </section>

        <section class="ending">
            <div class="wrap">

                <h3>Sincerely,</h3>

                <p>Your friends at NPR Politics<br/>
                    <a href="http://nprpolitics.tumblr.com/">nprpolitics.tumblr.com</a> and <a href="http://twitter.com/nprpolitics">@nprpolitics</a></p>
            </div>
        </section>

{% endblock %}

{% block extra_foot_js %}
    {{ JS.push('js/promo.js') }}
    {{ JS.render('js/promo.min.js') }}
{% endblock %}
