{% extends "_base.html" %}

{% block extra_css %}
    {{ CSS.push('less/promo.less') }}
    {{ CSS.render('css/promo.min.css') }}
{% endblock %}

{% block outer_content %}
        <section class="top">
            <div class="wrap">
                {% include '_logo.svg' %}
                <h1>Elections are important.</h1>
                <h2>This election is going to determine who controls the Senate,<br/>
                    and a bunch of other stuff TK. So we’re throwing a party.</h2>
                <img class="hero" src="assets/promo/hero.png" width="562" />
            </div>

            <div class="bottom">
            <div class="wrap">
                <p>Join us live from NPR studios for special election coverage<br/> 
                    from your laptop and/or Chromecast device...</p>
                <p class="date">
                    <svg class="icon-cal" version="1.1"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                         x="0px" y="0px" width="28px" height="32px" viewBox="0 0 28 32" enable-background="new 0 0 28 32" xml:space="preserve">
                    <defs>
                    </defs>
                    <path fill="#6FA0D5" d="M0,30c0,1.1,0.9,2,2,2h24c1.1,0,2-0.9,2-2V12H0V30z M8,20h4v-4h4v4h4v4h-4v4h-4v-4H8V20z M28,6v4H0V6
                        c0-1.1,0.9-2,2-2h2V2c0-1.1,0.9-2,2-2s2,0.9,2,2v2h12V2c0-1.1,0.9-2,2-2s2,0.9,2,2v2h2C27.1,4,28,4.9,28,6z"/>
                    </svg>
                    <strong>Tuesday, November 4th, 2014</strong> starting at 7:00&nbsp;PM&nbsp;EST</p>
            </div>
            </div>

        </section>

        <section class="description">
        <div class="wrap">
            <p><img class="hosts" src="assets/promo/hosts.png" width="263" /></p>
            <h3>We’re throwing an election party and you should too!</h3>
            <p>Invite your friends and family to join us on election night for live
                coverage with our hosts Robert Siegel and Melissa Block.</p>
            <h3 class="open-up">You’re invited!</h3>
            <ol class="steps list-unstyled">
                <li>
                    <h4>Get updates</h4>
                    <p>Inside access to our special election night coverage and helpful reminders.</p>
                    <form>
                        <div class="input-group input-group-lg">
                            <input class="email form-control" placeholder="Email" type="email" /><br/>
                            <span class="input-group-btn"><a class="button btn" href="">Sign-up!</a></span>
                        </div>
                    </form>
                </li>
                <li>
                    <h4>Invite your friends &amp; family</h4>
                    <p>Host a party and join us on election night for live coverage and special access.</p>
                    <a class="button create-invitation btn btn-lg btn-block" href="">Create Invitation</a>
                </li>
                <li class="last">
                    <h4>Share recipes</h4>
                    <p>On election night, post your favorite recipes from your home state on Instagram.</p>
                    <p class="pull-right"><img class="hosts" src="assets/promo/instagram.png" /> #nprparty</p>
                </li>
            </ol>
            <h3 class="open-up">Sincerely,</h3>
            <p>Your friends at NPR Politics<br/>
                <a href="http://nprpolitics.tumblr.com/">nprpolitics.tumblr.com</a> and <a href="http://twitter.com/nprpolitics">@nprpolitics</a></p>
        </div>
        </section>

{% endblock %}

{% block extra_foot_js %}
    {{ JS.push('js/promo.js') }}
    {{ JS.render('js/promo.min.js') }}
{% endblock %}
