<!DOCTYPE html>
<html>
<head>
    {# Unfortunante hack because we're deploying this to staging and it can't compile a less file on demand #}

    {% if DEPLOYMENT_TARGET %}
        <link rel="stylesheet" href="/css/app.less.css" />
    {% else %}
        {{ CSS.push('less/app.less') }}
        {{ CSS.render('preview.min.css') }}
    {% endif %}

    {# ugly includes because slide js is inlined and can't pickup the stuff from the base template #}
    <script src="/js/lib/d3.v3.min.js"></script>
    {{ JS.push('js/lib/modernizr.custom.js') }}
    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/webfont.js') }}
    {{ JS.push('js/fonts.js') }}
    {{ JS.render('js/preview-header.min.js') }}
</head>

<body>
    <div id="stack" class="stack">
        {{ body|smarty }}
    </div>

    {% if in_sequence %}
    <div class="next-btn">
        {% if previous_slide %}
        <a href="/preview/{{ previous_slide }}/index.html" class="btn btn-primary">Previous slide</a>
        {% endif %}

        {% if next_slide %}
        <a href="/preview/{{ next_slide }}/index.html" class="btn btn-primary">Next slide</a>
        {% endif %}
    </div>
    {% endif %}

    <div class="share-footer">
        <div class="share-url">
            <h2>npr.org/electionparty</h2>
            <i>On your TV, laptop and mobile.</i>
        </div>
<!--         <div class="share-tagline">
            On your TV, laptop and mobile.
        </div> -->
    </div>

    <script>
        var onWindowResize = function() {
            var $stack = $('#stack');
            var $currentSlideInner = $('.slide-inner');

            var w = window.innerWidth;
            var h = window.innerHeight;
            var aspect = w / h;
            var new_aspect;

            if (aspect > 16/9) {
                new_aspect = aspect;
                document.documentElement.style.fontSize = ((16/9) / aspect) + 'vw';
            } else {
                new_aspect = 16/9;
                document.documentElement.style.fontSize = '1vw';
            }
        }

        $(document).ready(function() {
            {% if DEPLOYMENT_TARGET %}
            var share_css = '{{ S3_BASE_URL }}/css/share-ui.less.css';
            {% else %}
            var share_css = '/less/share-ui.less';
            {% endif %}

            if (window.location.hash === '#share') {
                $('body').prepend('<link rel="stylesheet" href="' + share_css + '">');
            } else {
                $(window).on('resize', onWindowResize);

                onWindowResize();
            }

            $('#stack').show();
            $('.slide').show();
        })
    </script>
</body>
</html>
