{% extends "_base.html" %}

{% block extra_head %}
  {{ CSS.push('less/admin.less') }}
  {{ CSS.render('css/admin.min.css') }}
{% endblock %}

{% block outer_content %}

<header>
    <h1>Stack administrator</h1>
</header>

<section id="stack-admin">

    <div class="container-fluid">
        <div class="row">
            <div class="timeline">
                <ol class="sortable list-unstyled js-droppable-and-draggable">
                    {% for slide in sequence %}
                    <li data-slide="{{ slide.slide }}">{{ slide.slide }}</li>
                    {% endfor %}
                </ol>
            </div>
            <div class="slides">
                <ul class="sortable list-unstyled js-droppable">
                    {% for slide in slides %}
                    <li class="{{ loop.cycle('first', 'middle', 'last') }}" data-slide="{{ slide.slug }}">{{ slide.slug }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_foot_js %}
  {{ JS.push('js/lib/jquery-sortable.js') }}
  {{ JS.push('js/stack-admin.js') }}
  {{ JS.render('js/admin-app-footer.min.js') }}
{% endblock %}
